include_files/FundsXML4_CountrySpecificData_DK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="CountrySpecificDataDKType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Denmark-specific data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificControlDataDKType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Denmark-specific control data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificFundDataDKType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Denmark-specific fund data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificAssetMasterDataDKType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Denmark-specific asset master data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificShareClassDataDKType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Denmark-specific share class data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificEMTDKType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Denmark-specific EMT data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
