include_files/FundsXML4_CountrySpecificData_LU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="CountrySpecificDataLUType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificControlDataLUType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificFundDataLUType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificAssetMasterDataLUType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificShareClassDataLUType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificEMTLUType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
