include_files/FundsXML4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 (x64) (http://www.altova.com) von Kauc Karl (Erste Asset Management GmbH) bearbeitet -->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
	xmlns:altova="http://www.altova.com/xml-schema-extensions" 
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="4.2.10" 
	vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData.xsd"/>
	<xs:include schemaLocation="FundsXML4_FundStaticData.xsd"/>
	<xs:include schemaLocation="FundsXML4_FundDynamicData.xsd"/>
	<xs:include schemaLocation="FundsXML4_ShareClassData.xsd"/>
	<xs:include schemaLocation="FundsXML4_AssetMasterData.xsd"/>
	<xs:include schemaLocation="FundsXML4_AssetMgmtCompDynData.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EMIR.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EMT.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_KIID.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_PRIIPS.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_SolvencyII.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EFT.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EET.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<xs:element name="FundsXML4">
		<xs:annotation>
			<xs:documentation xml:lang="en"># Root element of FundsXML 4.2.10</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Wurzelelement von FundsXML 4.2.10</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ControlData" type="ControlDataType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Meta data of xml document (like unique id, date, data supplier, language, ...)</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Metadaten des XML-Dokuments (wie eindeutige ID, Datum, Datenlieferant, Sprache, ...)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Funds" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">List of funds, umbrellas, sicavs, portfolios ...</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Liste von Funds, Umbrellas, SICAVs, Portfolios ...</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Fund" type="FundType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">All single fund, umbrella, sicav, portfolio related data</xs:documentation>
									<xs:documentation xml:lang="de">[AUTO] Alle Daten zu einzelnen Funds, Umbrellas, SICAVs, Portfolios</xs:documentation>
								</xs:annotation>
								<xs:key name="benchmarkID">
									<xs:selector xpath="FundStaticData/Benchmarks/Benchmark"/>
									<xs:field xpath="BenchmarkID"/>
								</xs:key>
								<xs:keyref name="benchmarkDynamicRef" refer="benchmarkID">
									<xs:selector xpath="FundDynamicData/Benchmarks/Benchmark"/>
									<xs:field xpath="BenchmarkID"/>
								</xs:keyref>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AssetMgmtCompanyDynData" type="AssetMgmtCompanyDynDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Dynamic data of asset management companies</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Dynamische Daten der Kapitalverwaltungsgesellschaften</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AssetMasterData" type="AssetMasterDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Master data of securities, derivatives and all other portfolio assets</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Stammdaten von Wertpapieren, Derivaten und allen anderen Portfolio-Assets</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Documents" type="DocumentsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Collection of regulatory and marketing documents (KIDs, prospectuses, factsheets, annual reports, etc.) related to funds, subfunds, or share classes. Documents can be provided as URLs or embedded as base64Binary content</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Sammlung von regulatorischen und Marketing-Dokumenten (KIDs, Prospekte, Factsheets, Jahresberichte, etc.) zu Funds, Subfunds oder ShareClasses. Dokumente können als URLs oder eingebettet als base64Binary bereitgestellt werden</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RegulatoryReportings" type="RegulatoryReportingsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Direct and indirect regulatory reporting</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Direkte und indirekte regulatorische Berichterstattung</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CountrySpecificData" type="CountrySpecificDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Country specific data on top level (as defined in 'FundsXML4_CountrySpecificData_xx.xsd')</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Länderspezifische Daten auf oberster Ebene (wie in 'FundsXML4_CountrySpecificData_xx.xsd' definiert)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SegmentStaticDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">All static data for Segments</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Alle statischen Daten für Segmente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InceptionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when the segment was launched</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum der Auflegung des Segments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when the segment was or will be liquidated</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum der Liquidation des Segments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manager" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund manager responsible for this segment</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-Manager, der für dieses Segment verantwortlich ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description of the segment in various languages</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Beschreibung des Segments in verschiedenen Sprachen</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language" type="xs:language" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Custom attributes for segment-specific data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Benutzerdefinierte Attribute für segmentspezifische Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentDynamicDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Dynamic data for fund segments including NAV and portfolio information</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Dynamische Daten für Fund-Segmente einschließlich NAV und Portfolio-Informationen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TotalAssetValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total NAV (volume) of fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gesamtes NAV (Volumen) des Fund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalAssetValue" type="TotalAssetValueType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Portfolios" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">All portfolio related data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Alle portfoliobezogenen Daten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Portfolio" type="PortfolioType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Document metadata and content for regulatory and marketing documents</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Dokumentmetadaten und -inhalte für regulatorische und Marketing-Dokumente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Type of document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dokumenttyp</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="ListedType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Listed document type from enumeration (e.g. AIFMD-AnnexIV, AnnualReport, HalfYearReport, AuditReport, Factsheet, Prospectus, PRIIPS-KID)</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Dokumenttyp aus vordefinierter Aufzählung (z.B. AIFMD-AnnexIV, AnnualReport, HalfYearReport, AuditReport, Factsheet, Prospectus, PRIIPS-KID)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="3"/>
									<xs:maxLength value="12"/>
									<xs:enumeration value="AIFMD-AnnexIV"/>
									<xs:enumeration value="AnnualReport"/>
									<xs:enumeration value="HalfYearReport"/>
									<xs:enumeration value="QuarterlyReport"/>
									<xs:enumeration value="MonthlyReport"/>
									<xs:enumeration value="AuditReport"/>
									<xs:enumeration value="Factsheet"/>
									<xs:enumeration value="Prospectus"/>
									<xs:enumeration value="PRIIPS-KID"/>
									<xs:enumeration value="KID / Simplified Prospectus"/>
									<xs:enumeration value="MarketingNotification"/>
									<xs:enumeration value="SFDR-PAIStatement"/>
									<xs:enumeration value="SFDR Website Disclosure"/>
									<xs:enumeration value="MarketingMaterial"/>
									<xs:enumeration value="ValuationReport"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="UnlistedType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Description of other document types not in the enumeration</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Beschreibung anderer Dokumenttypen, die nicht in der Aufzählung enthalten sind</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="Text128Type">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Version" type="Text64Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Version of document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Version des Dokuments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="xs:language">
				<xs:annotation>
					<xs:documentation xml:lang="en">Language of document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Sprache des Dokuments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TranslationsAvailable" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether this document is available in other language versions</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob dieses Dokument in anderen Sprachversionen verfügbar ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublicationCountries" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of publication countries of document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liste der Veröffentlichungsländer des Dokuments</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Country" type="ISOCountryCodeType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Three letter ISO code of country</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Dreibuchstabiger ISO-Ländercode</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Fund" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund reference for the document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-Referenz für das Dokument</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifiers" type="IdentifiersType"/>
						<xs:element name="Name" type="Text256Type" minOccurs="0"/>
						<xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Subfunds" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subfund references for the document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Subfund-Referenzen für das Dokument</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subfund" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Identifiers" type="IdentifiersType"/>
									<xs:element name="Name" type="Text256Type" minOccurs="0"/>
									<xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class references for the document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-Referenzen für das Dokument</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Identifiers" type="IdentifiersType"/>
									<xs:element name="Name" type="Text256Type" minOccurs="0"/>
									<xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Name" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Name des Dokuments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileName" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of file (including file extension)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dateiname (einschließlich Dateierweiterung)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForPublicUsage" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether document can be published to the public. When false, document is restricted to internal use only (e.g. internal reports)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob das Dokument öffentlich zugänglich gemacht werden kann. Bei false ist das Dokument nur für den internen Gebrauch bestimmt (z.B. interne Berichte)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Restrictions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description of restrictions</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Beschreibung der Einschränkungen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Format" type="Text256Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Technical format of document: PDF, XML, Excel, Word, Image, ...</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Technisches Format des Dokuments: PDF, XML, Excel, Word, Image, ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Signature" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines whether signature is available: No, Digital, Scan</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definiert, ob eine Signatur vorhanden ist: No, Digital, Scan</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="No"/>
						<xs:enumeration value="Digital"/>
						<xs:enumeration value="Scan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when document has been generated</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem das Dokument erstellt wurde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModificationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date of last change (e.g. for KID)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum der letzten Änderung (z.B. für KID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpirationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Document is valid till this expiration date</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Das Dokument ist bis zu diesem Ablaufdatum gültig</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data supplier of document</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datenlieferant des Dokuments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Attributes of document (depending on type of document)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Attribute des Dokuments (abhängig vom Dokumenttyp)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeInBytes" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Size of document in bytes (exact size of binary data, estimated size in case of download)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Größe des Dokuments in Bytes (exakte Größe der Binärdaten, geschätzte Größe bei Download)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Link of document for downloading</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Link zum Download des Dokuments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BinaryData" type="xs:base64Binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Document in xml base64Binary format</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dokument im XML base64Binary-Format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Metadata for file delivery</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Metadaten für die Dateiübermittlung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueDocumentID" type="Text128Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Document identifier (unique per data supplier)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dokumentkennung (eindeutig pro Datenlieferant)</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="20240830_0001"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentGenerated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation xml:lang="en">Timestamp of document generation</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zeitstempel der Dokumenterstellung</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="2024-09-26T18:37:12.1559196+02:00"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">FundsXML Schema Version (4.0.0, 4.0.1, 4.1.0, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] FundsXML Schema-Version (4.0.0, 4.0.1, 4.1.0, ...)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="4.0.0"/>
						<xs:enumeration value="4.0.1"/>
						<xs:enumeration value="4.1.0"/>
						<xs:enumeration value="4.1.1"/>
						<xs:enumeration value="4.1.2"/>
						<xs:enumeration value="4.1.3"/>
						<xs:enumeration value="4.1.4"/>
						<xs:enumeration value="4.1.5"/>
						<xs:enumeration value="4.1.6"/>
						<xs:enumeration value="4.1.7"/>
						<xs:enumeration value="4.1.8"/>
						<xs:enumeration value="4.1.9"/>
						<xs:enumeration value="4.1.10"/>
						<xs:enumeration value="4.1.11"/>
						<xs:enumeration value="4.2.0"/>
						<xs:enumeration value="4.2.1"/>
						<xs:enumeration value="4.2.2"/>
						<xs:enumeration value="4.2.3"/>
						<xs:enumeration value="4.2.4"/>
						<xs:enumeration value="4.2.5"/>
						<xs:enumeration value="4.2.6"/>
						<xs:enumeration value="4.2.7"/>
						<xs:enumeration value="4.2.8"/>
						<xs:enumeration value="4.2.9"/>
						<xs:enumeration value="4.2.10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Main date for content, if not specified different within section</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Hauptdatum für den Inhalt, sofern nicht innerhalb eines Abschnitts anders angegeben</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Definition of data source (investment company, vendor, ...). Used only for information purpose.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definition der Datenquelle (Investmentgesellschaft, Datenanbieter, ...). Dient nur zu Informationszwecken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataOperation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">INITIAL: First time data delivery with all necessary information to set up or populate a system. AMEND: Updates or changes to existing data including corrections, additions, or modifications. DELETE: Removal of specific data from the system. Requires RelatedDocumentIDs referencing the data delivery to be deleted.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] INITIAL: Erstmalige Datenlieferung mit allen notwendigen Informationen zur Systembefüllung. AMEND: Aktualisierungen oder Änderungen bestehender Daten einschließlich Korrekturen, Ergänzungen oder Modifikationen. DELETE: Entfernung bestimmter Daten aus dem System. Erfordert RelatedDocumentIDs mit Verweis auf die zu löschende Datenlieferung.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="5"/>
						<xs:maxLength value="7"/>
						<xs:enumeration value="INITIAL"/>
						<xs:enumeration value="AMEND"/>
						<xs:enumeration value="DELETE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelatedDocumentIDs" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of related documents for non-initial data deliveries</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen verwandter Dokumente für Folgelieferungen (AMEND, DELETE)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RelatedDocumentID" type="Text128Type" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="20240830_0002"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Language" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">ISO code of language with two characters. This is used as default if no other Language is specified.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zweistelliger ISO-Sprachcode. Wird als Standard verwendet, wenn keine andere Sprache angegeben ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModuleUsage" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of used schema modules.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liste der verwendeten Schema-Module.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Module" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name">
										<xs:annotation>
											<xs:documentation xml:lang="en">Module name as listed in enumeration. Can be used to optimize imports.</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Modulname gemäß Aufzählung. Kann zur Optimierung der Imports verwendet werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="AssetMasterData"/>
												<xs:enumeration value="AssetMgmtCompDynData"/>
												<xs:enumeration value="CountrySpecificData_AT"/>
												<xs:enumeration value="CountrySpecificData_DE"/>
												<xs:enumeration value="CountrySpecificData_DK"/>
												<xs:enumeration value="CountrySpecificData_FR"/>
												<xs:enumeration value="CountrySpecificData_LU"/>
												<xs:enumeration value="CountrySpecificData_NL"/>
												<xs:enumeration value="FundDynamicData"/>
												<xs:enumeration value="FundStaticData"/>
												<xs:enumeration value="PortfolioData"/>
												<xs:enumeration value="RegulatoryReporting_EMIR"/>
												<xs:enumeration value="RegulatoryReporting_EMT"/>
												<xs:enumeration value="RegulatoryReporting_KIID"/>
												<xs:enumeration value="RegulatoryReporting_PRIIPS"/>
												<xs:enumeration value="RegulatoryReporting_SolvencyII"/>
												<xs:enumeration value="ShareClassData"/>
												<xs:enumeration value="TransactionData"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SubModule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountrySpecificData" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country specific document data.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Länderspezifische Dokumentdaten.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AT" type="CountrySpecificControlDataATType" minOccurs="0"/>
						<xs:element name="DE" type="CountrySpecificControlDataDEType" minOccurs="0"/>
						<xs:element name="DK" type="CountrySpecificControlDataDKType" minOccurs="0"/>
						<xs:element name="FR" type="CountrySpecificControlDataFRType" minOccurs="0"/>
						<xs:element name="LU" type="CountrySpecificControlDataLUType" minOccurs="0"/>
						<xs:element name="NL" type="CountrySpecificControlDataNLType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Additional information which does not fit into the nodes above</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zusätzliche Informationen, die nicht in die obigen Knoten passen</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data structure for fund segments/pockets typically managed by different fund managers</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Datenstruktur für Fund-Segmente/Pockets, die typischerweise von verschiedenen Fund-Managern verwaltet werden</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund identifiers</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-Kennungen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Text500Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of segment</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Name des Segments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Currency of segment</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Währung des Segments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SegmentStaticData" type="SegmentStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Inception, manager, description, ...</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Auflegung, Manager, Beschreibung, ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SegmentDynamicData" type="SegmentDynamicDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total asset values, portfolio data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gesamtvermögenswerte, Portfolio-Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of share classes of segment</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liste der ShareClasses des Segments</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" type="ShareClassType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Static and dynamic data of a share class</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Statische und dynamische Daten einer ShareClass</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data related to subsegments / subpockets of funds (typically managed by different fund managers)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Daten zu Untersegmenten / Subpockets von Funds (typischerweise von verschiedenen Fund-Managern verwaltet)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryReportingsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for direct and indirect regulatory reporting data</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für direkte und indirekte regulatorische Berichtsdaten</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DirectReporting" type="DirectReportingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Regulatory data exchanged between fund manufacturers and distributors/platforms within the professional distribution chain (e.g., MiFID product governance data).</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Regulatorische Daten, die zwischen Fund-Herstellern und Vertriebspartnern/Plattformen innerhalb der professionellen Vertriebskette ausgetauscht werden (z.B. MiFID Product Governance Daten).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndirectReporting" type="IndirectReportingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Regulatory disclosure data provided to end investors, both retail (PRIIPs KID) and institutional (Solvency reporting data).</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Regulatorische Offenlegungsdaten für Endanleger, sowohl Retail (PRIIPs KID) als auch institutionell (Solvency Berichtsdaten).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectReportingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for direct regulatory reporting data exchanged within the professional distribution chain</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für direkte regulatorische Berichtsdaten, die innerhalb der professionellen Vertriebskette ausgetauscht werden</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EMIR" type="EMIRType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIIDs" type="KIIDsType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT" type="EMTType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
					<xs:documentation>According to EUROPEAN MIFID TEMPLATE - EMT V1.0 as of 2017-08-03</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V3" type="EMTType_V3" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE V3.0 - EMT V3.0 as of 2019-11-25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4" type="EMTType_V4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.0 as of 2022-03-14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4_1" type="EMTType_V41" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.1 as of 2023-03-07</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4_2" type="EMTType_V42" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.2 as of 2024-04-05</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4_3" type="EMTType_V43" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.3 as of 2025-11-03</xs:documentation>
					<xs:appinfo source="@since 4.2.10"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EFTs" type="EFTType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx: EUROPEAN FEEDBACK TEMPLATE - EFT V1.0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.0" type="EETsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.0 2022-03-14</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1" type="EETsType1.1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1.1" type="EETsType1.1.1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1.1</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1.2" type="EETsType1.1.2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1.2</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1.3" type="EETsType1.1.3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1.3 </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for regulatory and marketing documents</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für regulatorische und Marketing-Dokumente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Document" type="DocumentType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Single document with metadata and content</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Einzelnes Dokument mit Metadaten und Inhalt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Complete data structure for a fund including static and dynamic data, subfunds, and share classes</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Vollständige Datenstruktur für einen Fund einschließlich statischer und dynamischer Daten, Subfunds und ShareClasses</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="NamesType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Names of fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Namen des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Main currency of fund (typically used by custodian for calculation of total NAV)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Hauptwährung des Fund (typischerweise vom Custodian zur Berechnung des Gesamt-NAV verwendet)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SingleFundFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines whether this is a single fund or an umbrella like structure with subfunds</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definiert, ob es sich um einen Einzelfonds oder eine Umbrella-Struktur mit Subfunds handelt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Definition of data source (investment company, vendor, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definition der Datenquelle (Investmentgesellschaft, Datenanbieter, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundStaticData" type="FundStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Main static data of fund (Fiscal Year, Custody, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Statische Stammdaten des Fund (Geschäftsjahr, Depotbank, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundDynamicData" type="FundDynamicDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dynamic data of fund (total values, holdings, transactions, breakdowns, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dynamische Daten des Fund (Gesamtwerte, Bestände, Transaktionen, Aufgliederungen, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="SingleFund" type="SingleFundType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Use this node for non-umbrella fund structures</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Verwenden Sie diesen Knoten für Nicht-Umbrella-Fund-Strukturen</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Subfunds">
					<xs:annotation>
						<xs:documentation xml:lang="en">Use this node for umbrella fund structures</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Verwenden Sie diesen Knoten für Umbrella-Fund-Strukturen</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Subfund" type="SubfundType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Static and dynamic data of a subfund</xs:documentation>
									<xs:documentation xml:lang="de">[AUTO] Statische und dynamische Daten eines Subfund</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="CountrySpecificData" type="CountrySpecificFundDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country specific data of fund (as defined in 'FundsXML4_CountrySpecificData_xx.xsd')</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Länderspezifische Daten des Fund (wie in 'FundsXML4_CountrySpecificData_xx.xsd' definiert)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubfundType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data structure for a subfund within an umbrella fund structure</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Datenstruktur für einen Subfund innerhalb einer Umbrella-Fund-Struktur</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen des Subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="NamesType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Names of subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Namen des Subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Currency of subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Währung des Subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubfundStaticData" type="SubfundStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Static data of subfund (similar to static data of single fund)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Statische Daten des Subfund (ähnlich den statischen Daten eines Einzelfonds)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubfundDynamicData" type="FundDynamicDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total asset values, portfolio data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gesamtvermögenswerte, Portfolio-Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of share classes of subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liste der ShareClasses des Subfund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" type="ShareClassType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Static and dynamic data of a share class</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Statische und dynamische Daten einer ShareClass</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data related to segments/pockets of funds (typically managed by different fund managers)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Daten zu Segmenten/Pockets von Funds (typischerweise von verschiedenen Fund-Managern verwaltet)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SingleFundType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data structure for a single fund (non-umbrella structure)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Datenstruktur für einen Einzelfonds (keine Umbrella-Struktur)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SingleFundStaticData" type="SingleFundStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Static data of single fund (similar to static data of subfund)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Statische Daten des Einzelfonds (ähnlich den statischen Daten eines Subfund)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of share classes of single fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liste der ShareClasses des Einzelfonds</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" type="ShareClassType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Static and dynamic data of a share class</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Statische und dynamische Daten einer ShareClass</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data related to segments/pockets of funds (typically managed by different fund managers)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Daten zu Segmenten/Pockets von Funds (typischerweise von verschiedenen Fund-Managern verwaltet)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndirectReportingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for indirect regulatory reporting data for end investors</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für indirekte regulatorische Berichtsdaten für Endanleger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TripartiteTemplateSolvencyII" type="TripartiteTemplateSolvencyIIType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated old version. do not use any more. use {@link /FundsXML4/RegulatoryReportings/IndirectReporting/TripartiteTemplateSolvencyII_V7} instead"/>
					<xs:documentation xml:lang="en">Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". It refers to version 4 dated 3/4/2018 of this "TPT V4" format.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Speziell angereichertes Inventar für Solvency II. Diese XML-Implementierung ist kompatibel mit dem "Tripartite Template". Bezieht sich auf Version 4 vom 3.4.2018 dieses "TPT V4" Formats.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripartiteTemplateSolvencyII_V5" type="TripartiteTemplateSolvencyIIType_V5" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". According to FinDatEx Version 5.0 Tripartite Template (TPT) for SII Asset Data reporting as of 2020-01-16</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Speziell angereichertes Inventar für Solvency II. Diese XML-Implementierung ist kompatibel mit dem "Tripartite Template". Gemäß FinDatEx Version 5.0 Tripartite Template (TPT) für SII Asset Data Reporting vom 16.01.2020</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripartiteTemplateSolvencyII_V6" type="TripartiteTemplateSolvencyIIType_V6" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated old version. do not use any more. use {@link /FundsXML4/RegulatoryReportings/IndirectReporting/TripartiteTemplateSolvencyII_V7} instead"/>
					<xs:documentation xml:lang="en">Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". According to FinDatEx Version 6.0 Tripartite Template (TPT) for SII Asset Data reporting as of 2022-03-14</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Speziell angereichertes Inventar für Solvency II. Diese XML-Implementierung ist kompatibel mit dem "Tripartite Template". Gemäß FinDatEx Version 6.0 Tripartite Template (TPT) für SII Asset Data Reporting vom 14.03.2022</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripartiteTemplateSolvencyII_V7" type="TripartiteTemplateSolvencyIIType_V7" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". According to FinDatEx Version 7.0 Tripartite Template (TPT) for SII Asset Data reporting as of 2024-11-25</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Speziell angereichertes Inventar für Solvency II. Diese XML-Implementierung ist kompatibel mit dem "Tripartite Template". Gemäß FinDatEx Version 7.0 Tripartite Template (TPT) für SII Asset Data Reporting vom 25.11.2024</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRIIPS" type="PRIIPSType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated"/>
					<xs:documentation xml:lang="en">EPT 20170728 DRAFT TEMPLATE 1.1 CEPT - 20170621 TEMPLATE 1.0</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EPT 20170728 ENTWURF TEMPLATE 1.1 CEPT - 20170621 TEMPLATE 1.0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRIIPS_V20" type="PRIIPSType_V20" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EUROPEAN PRIIPs TEMPLATE - EPT V2.0 and EUROPEAN COMFORT PRIIPs TEMPLATE - CEPT V2.0</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EUROPEAN PRIIPs TEMPLATE - EPT V2.0 und EUROPEAN COMFORT PRIIPs TEMPLATE - CEPT V2.0</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
