include_files/FundsXML4_RegulatoryReporting_EMIR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="EMIRType">
		<xs:sequence>
			<xs:element name="EMIR_Report" type="EMIR_ReportType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EMIRIDType">
		<xs:restriction base="xs:string">
			<xs:minLength value="11"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EMIR_ReportType">
		<xs:sequence>
			<xs:element name="FundOrShareClassIdentifiers" type="FundOrShareClassIdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fund or share class identifiers for easy connection to other fund or share class data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definition of data source (investment company, vendor, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CounterpartyData">
				<xs:annotation>
					<xs:documentation>Section 1</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReportingTimestamp" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>field 1 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CounterpartyID" type="EMIRIDType">
							<xs:annotation>
								<xs:documentation>field 2 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OtherCounterpartyID" type="EMIRIDType">
							<xs:annotation>
								<xs:documentation>field 3 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CounterpartyName" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 4 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CounterpartyDomicile" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 5 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="500"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CounterpartyCorporateSector" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 6 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CounterpartyNature">
							<xs:annotation>
								<xs:documentation>field 7 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BrokerID" type="EMIRIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 8 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReportingEntityID" type="EMIRIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 9 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClearingMemberID" type="EMIRIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 10 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BeneficiaryID" type="EMIRIDType">
							<xs:annotation>
								<xs:documentation>field 11 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TradingCapacity">
							<xs:annotation>
								<xs:documentation>field 12 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CounterpartySide">
							<xs:annotation>
								<xs:documentation>field 13 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CounterpartyNonEEAFlag" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>field 14 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContractLinkFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 15 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClearingTresholdFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 16 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContractMtMValue" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 17 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContractMtMValueCurrency" type="ISOCurrencyCodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 18 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ValuationDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 19 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ValuationTime" type="xs:time" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 20 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ValuationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 21 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Collateralisation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 22 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CollateralPortfolioFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 23 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CollateralPortfolioCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 24 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:nonNegativeInteger">
									<xs:totalDigits value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CollateralValue" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 25 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CollateralCurrency" type="ISOCurrencyCodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>field 26 according to annex table 1 EMIR ITS and RTS</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CommonData">
				<xs:annotation>
					<xs:documentation>Section 2</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractType">
							<xs:annotation>
								<xs:documentation>Section 2a</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TaxonomyUsed">
										<xs:annotation>
											<xs:documentation>field 1 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ProductID1">
										<xs:annotation>
											<xs:documentation>field 2 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ProductID2" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 3 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Underlying" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 4 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NotionalCurrency1" type="ISOCurrencyCodeType">
										<xs:annotation>
											<xs:documentation>field 5 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NotionalCurrency2" type="ISOCurrencyCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 6 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DeliverableCurrency" type="ISOCurrencyCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 7 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TransactionDetails">
							<xs:annotation>
								<xs:documentation>Section 2b</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TradeID">
										<xs:annotation>
											<xs:documentation>field 8 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="52"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TransactionReferenceNumber">
										<xs:annotation>
											<xs:documentation>field 9 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ExecutionVenue">
										<xs:annotation>
											<xs:documentation>field 10 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CompressionFlag" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>field 11 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PriceRate" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>field 12 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PriceNotation" type="ISOCurrencyCodeType">
										<xs:annotation>
											<xs:documentation>field 13 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NotionalAmount" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>field 14 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PriceMultiplier" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>field 15 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Quantity" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>field 16 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UpFrontPayment" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 17 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DeliveryType">
										<xs:annotation>
											<xs:documentation>field 18 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ExecutionTimestamp" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>field 19 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EffectiveDate" type="xs:date">
										<xs:annotation>
											<xs:documentation>field 20 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaturityDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 21 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TerminationDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 22 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SettlementDates" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 23 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SettlementDate" type="xs:date" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>ISO 8601 date format.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="MasterAgreementType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 24 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MasterAgreementVersion" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 25 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:totalDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RiskMitigationReporting">
							<xs:annotation>
								<xs:documentation>Section 2c</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ConfirmationTimestamp" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 26according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ConfirmationMeans">
										<xs:annotation>
											<xs:documentation>27 Whether the contract was electronically confirmed, non-electronically confirmed or remains unconfirmed.

Y=Non-electronically confirmed, N=Non-confirmed,
E=Electronically confirmed.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Clearing">
							<xs:annotation>
								<xs:documentation>Section 2d</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ClearingObligationFlag" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>field 28 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ClearedFlag" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>field 29 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ClearingTimestamp" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 30 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CcpID" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 31 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IntragroupFlag" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 32 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="InterestRates" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Section 2e</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FixedRateLeg1" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 33 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FixedRateLeg2" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 34 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FixedRateDayCount" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 35 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FixedLegPaymentFrequency" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 36 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloatingRatePaymentFrequency" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 37 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloatingRateResetFrequency" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 38 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloatingRateLeg1" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 39 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloatingRateLeg2" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 40 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ForeignExchange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Section 2f</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Currency2" type="ISOCurrencyCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 41 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExchangeRate1" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 42 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ForwardExchangeRate" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 43 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExchangeRateBasis" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 44 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Commodities" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Section 2g</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="General" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CommodityBase" minOccurs="0">
													<xs:annotation>
														<xs:documentation>field 45 according to annex table 2 EMIR ITS and RTS</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CommodityDetails" minOccurs="0">
													<xs:annotation>
														<xs:documentation>field 46 according to annex table 2 EMIR ITS and RTS</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Energy" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DeliveryPoint" minOccurs="0">
													<xs:annotation>
														<xs:documentation>field 47 according to annex table 2 EMIR ITS and RTS</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="16"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="InterconnectionPoint" minOccurs="0">
													<xs:annotation>
														<xs:documentation>field 48 according to annex table 2 EMIR ITS and RTS</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LoadTypes" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>field 49 according to annex table 2 EMIR ITS and RTS</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="LoadType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>field 49 according to annex table 2 EMIR ITS and RTS</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="DeliveryStart" type="xs:dateTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>field 50 according to annex table 2 EMIR ITS and RTS</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DeliveryEnd" type="xs:dateTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>field 51 according to annex table 2 EMIR ITS and RTS</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ContractCapacity" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>field 52 according to annex table 2 EMIR ITS and RTS</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="QuantityUnit" type="xs:decimal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>field 53 according to annex table 2 EMIR ITS and RTS</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PriceTimeIntervalQuantities" type="xs:decimal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>field 54 according to annex table 2 EMIR ITS and RTS</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Options" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Section 2h</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OptionType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 55 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Call"/>
												<xs:enumeration value="Put"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OptionStyle" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 56 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StrikePrice" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 57 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ReportModifications">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ActionType">
										<xs:annotation>
											<xs:documentation>field 58 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ActionTypeDetails" minOccurs="0">
										<xs:annotation>
											<xs:documentation>field 59 according to annex table 2 EMIR ITS and RTS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
