include_files/FundsXML4_CountrySpecificData_FR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           vc:minVersion="1.1">
   <xs:include schemaLocation="FundsXML4_Core.xsd"/>
   <xs:complexType name="CountrySpecificAssetMasterDataFRType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for France-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour France-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos maestros de activos específicas de Francia (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati anagrafici asset specifici per la Francia (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kmenových dat aktiv specifická pro Francii (dosud neimplementováno)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificControlDataFRType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for France-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour France-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de control específicas de Francia (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati di controllo specifiche per la Francia (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kontrolních dat specifická pro Francii (dosud neimplementováno)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificDataFRType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for France-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour France-spécifique extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos específicas de Francia (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati specifiche per la Francia (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro datová rozšíření specifická pro Francii (dosud neimplementováno)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificEMTFRType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for France-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour France-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos EMT específicas de Francia (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati EMT specifiche per la Francia (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat EMT specifická pro Francii (dosud neimplementováno)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificFundDataFRType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for France-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour France-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de fondos específicas de Francia (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati fondi specifici per la Francia (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat fondů specifická pro Francii (dosud neimplementováno)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificShareClassDataFRType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for France-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour France-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de clase de acciones específicas de Francia (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati delle classi di azioni specifiche per la Francia (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat tříd akcií specifická pro Francii (dosud neimplementováno)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
