include_files/FundsXML4_CountrySpecificData_NL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="CountrySpecificDataNLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificControlDataNLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificFundDataNLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificAssetMasterDataNLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificShareClassDataNLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificEMTNLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
