include_files/FundsXML4_RegulatoryReporting_EMT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by Peter Raffelsberger (Private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData.xsd"/>
	<xs:complexType name="EMTType">
		<xs:sequence>
			<xs:element name="FinancialInstrument" type="EMTFinancialInstrumentType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>EMT Report</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EMTYesNoType">
		<xs:annotation>
			<xs:documentation>Y or N</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMTYesNoNeutralType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="Neutral"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailProfessionalBothNeitherType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EMTFinancialInstrumentType">
		<xs:sequence>
			<xs:element name="FundOrShareClassIdentifiers" type="FundOrShareClassIdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fund or share class identifiers for easy connection to other fund or share class data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definition of data source (investment company, vendor, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralInformation">
				<xs:annotation>
					<xs:documentation>General Financial Instrument Information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Code">
							<xs:annotation>
								<xs:documentation>00010: Use the following priority:
  - ISO 6166 code of ISIN when available
  - Other recognised codes (e.g.: CUSIP, Bloomberg Ticker, Reuters RIC)
  - Code attributed by the undertaking, when the options above are not available. Code must be unique and kept consistent over time.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CodificationSystem">
							<xs:annotation>
								<xs:documentation xml:lang="en">00020: Codification system used.
Integer corresponding to the following closed list:
1 - ISO 6166 for ISIN code
2 - CUSIP (The Committee on Uniform Securities Identification Procedures number assigned by the CUSIP Service Bureau for U.S. and Canadian companies)
3 - SEDOL (Stock Exchange Daily Official List for the London Stock Exchange)
4 – WKN (Wertpapier Kenn-Nummer, the alphanumeric German identification number)
5 - Bloomberg Ticker (Bloomberg letters code that identify a company's securities)
6 - BBGID (The Bloomberg Global ID)
7 - Reuters RIC (Reuters instrument code)
8 – FIGI (Financial Instrument Global Identifier)
9 - Other code by members of the Association of National Numbering Agencies
99 - Code attributed by the undertaking</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="99"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
									<xs:enumeration value="5"/>
									<xs:enumeration value="6"/>
									<xs:enumeration value="7"/>
									<xs:enumeration value="8"/>
									<xs:enumeration value="9"/>
									<xs:enumeration value="99"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="InstrumentName">
							<xs:annotation>
								<xs:documentation>00030: Name of the financial instrument</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="InstrumentCurrency" type="ISOCurrencyCodeType">
							<xs:annotation>
								<xs:documentation>00040: Denomination currency of the financial instrument</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReportingDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>00050: Date to which the data refer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LegalStructure">
							<xs:annotation>
								<xs:documentation>00060: Structured Securities or Structured Funds or UCITS or Non UCITS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2"/>
									<xs:enumeration value="S"/>
									<xs:enumeration value="SF"/>
									<xs:enumeration value="U"/>
									<xs:enumeration value="N"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IssuerName">
							<xs:annotation>
								<xs:documentation>00070: Name of Issuer of the financial instrument. The one who is responsible for the financial instrument management/issuance</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GuarantorName" minOccurs="0">
							<xs:annotation>
								<xs:documentation>00080: Name of Issuer of the financial instrument. The one who is responsible for the financial instrument management/issuance</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProductCategoryNature" minOccurs="0">
							<xs:annotation>
								<xs:documentation>00090: Designation of the respective product category or nature
</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LeveragedOrContingentLiability" type="EMTYesNoType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>00100: To enable reporting on the depreciation of leveraged financial instruments or contingent liability transactions in accordance with Art. 62 of the MiFID II's Delegated Regulation</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvestorType">
				<xs:annotation>
					<xs:documentation>Target markets - Investor Type</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Retail" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>01010: Neutral means that the manufacturer estimates that there is neither negative nor positive target market</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Professional">
							<xs:annotation>
								<xs:documentation>01020: Neutral means that the manufacturer estimates that there is neither negative nor positive target market.  
P, E or B only if  the distinction Per Se or/and Elective is done in the Prospectus</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Y"/>
									<xs:enumeration value="N"/>
									<xs:enumeration value="Neutral"/>
									<xs:enumeration value="P"/>
									<xs:enumeration value="E"/>
									<xs:enumeration value="B"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EligibleCounterparty" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>01030: Neutral means that the manufacturer estimates that there is neither negative nor positive target market</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KnowledgeAndExperience">
				<xs:annotation>
					<xs:documentation>Target markets - Knowledge and/or Experience</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BasicInvestor" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>02010: Investors having the following characteristics:
• basic knowledge of relevant financial instruments (a  basic investor can make an informed investment decision based on the regulated and authorised offering documentation  or with the help of basic information provided by point of sale); 
• no financial industry  experience, i.e. suited to a first time investor</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InformedInvestor" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>02020: Having one, or more, of the following characteristics:
• average knowledge of relevant financial products (an informed investor can make an informed investment decision based on the regulated and authorised offering documentation, together with knowledge and understanding of the specific factors/risks highlighted within them only)
• some financial industry experience </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdvancedInvestor" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>02030: Investors having one, or more, of the following characteristics:
• good knowledge of relevant financial products and transactions
• financial industry experience or accompanied by professional investment advice or included in a discretionary portfolio service</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExpertInvestorGermany" type="EMTYesNoNeutralType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>02040: Expert knowledge of and / or experience with highly specialised financial products (Regulatory requirement in Germany/ example: CFD/ the updated list will be provided by the DSGV)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AbilityToBearLosses">
				<xs:annotation>
					<xs:documentation>Target markets - Ability To Bear Losses</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NoCapitalLoss" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>03010: Investor can bear no loss of capital. Minor losses especially due to costs possible. Yes or No or Neutral</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LimitedCapitalLoss" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>03020: Investor seeking to preserve capital or can bear losses limited to a level specified by the product . 
Yes or No or Neutral</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LimitedCapitalLossLevel" type="PercentageType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>03030: It is just for structured products or structured funds. To be used only when a clear partial capital guarantee is provided on the primary market and the product is held until maturity. The level of potential losses is the one that could be calculated according to the offering documentation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NoCapitalGuarantee" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>03040: No Capital Guarantee nor protection. 100% capital at risk. Yes or No or Neutral</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LossBeyondCapital" type="EMTYesNoNeutralType">
							<xs:annotation>
								<xs:documentation>03050: Loss Beyond the Capital. 
Yes or No or Neutral</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RiskTolerance">
				<xs:annotation>
					<xs:documentation>Target markets - Risk Tolerance</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PRIIPSMethodology" minOccurs="0">
							<xs:annotation>
								<xs:documentation>04010: SRI (1-7), if PRIIPS KID is available. German distributors will use only this Risk Tolerance item</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="7"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="UCITSMethodology" minOccurs="0">
							<xs:annotation>
								<xs:documentation>04020: SRRI (1-7; for funds)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="7"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="InternalMethodology" minOccurs="0">
							<xs:annotation>
								<xs:documentation>04030: For Non PRIIPS and Non UCITS:
L ... Low
M ... Medium
H ... High</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="L"/>
									<xs:enumeration value="M"/>
									<xs:enumeration value="H"/>
									<xs:enumeration value=""/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MethodologySpain" minOccurs="0">
							<xs:annotation>
								<xs:documentation>04040: Spanish SRI (1-6) for Non PRIIPS and Non UCITS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NotForInvestorsWithLowestRiskToleranceGermany" minOccurs="0">
							<xs:annotation>
								<xs:documentation>04050: For all products distributed in Germany (Yes or Neutral)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Y"/>
									<xs:enumeration value="Neutral"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClientObjectives">
				<xs:annotation>
					<xs:documentation>Target markets - Client Objectives and Needs</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReturnProfile">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Preservation" type="EMTYesNoNeutralType">
										<xs:annotation>
											<xs:documentation>05010: Yes or No or Neutral</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Growth" type="EMTYesNoNeutralType">
										<xs:annotation>
											<xs:documentation>05020: Yes or No or Neutral</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Income" type="EMTYesNoNeutralType">
										<xs:annotation>
											<xs:documentation>05030: Yes or No or Neutral</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Hedging" type="EMTYesNoNeutralType">
										<xs:annotation>
											<xs:documentation>05040: Yes or No or Neutral</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OptionOrLeveraged" type="EMTYesNoNeutralType">
										<xs:annotation>
											<xs:documentation>05050: Yes or No or Neutral</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Other">
										<xs:annotation>
											<xs:documentation>05060: Yes or Neutral</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="7"/>
												<xs:enumeration value="Y"/>
												<xs:enumeration value="Neutral"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PensionSchemeGermany" type="EMTYesNoNeutralType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>05070: Yes or No or Neutral</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TimeHorizon">
							<xs:annotation>
								<xs:documentation>05080: Minimum recommended holding period</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="Years" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>Minimum recommended holding period in years</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Category">
										<xs:annotation>
											<xs:documentation>V ... Very short term (max 1Y)
S ... Short term (max 3Y)
M ... Medium term (max 5Y)
L ... Long term (min 5Y)
Neutral ... Neutral</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="V"/>
												<xs:enumeration value="S"/>
												<xs:enumeration value="M"/>
												<xs:enumeration value="L"/>
												<xs:enumeration value="Neutral"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="MaturityDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05090: Date of Maturity</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MayBeTerminatedEarly" type="EMTYesNoNeutralType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05100: Yes or No or Neutral (only for structured products)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecificInvestmentNeed" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05110: Yes or No or (Green investment, Ethical investment, Islamic banking, ESG, Other)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="Y"/>
									<xs:enumeration value="N"/>
									<xs:enumeration value="G"/>
									<xs:enumeration value="E"/>
									<xs:enumeration value="I"/>
									<xs:enumeration value="S"/>
									<xs:enumeration value="O"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DistributionStrategy">
				<xs:annotation>
					<xs:documentation>Distribution Strategy</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExecutionOnly" type="RetailProfessionalBothNeitherType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>06010: Retail or Professional or Both or Neither</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExecutionWithCheckOrNonAdvisedServices" type="RetailProfessionalBothNeitherType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>06020: Retail or Professional or Both or Neither</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InvestmentAdvice" type="RetailProfessionalBothNeitherType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>06030: Retail or Professional or Both or Neither</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortfolioManagement" type="RetailProfessionalBothNeitherType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>06040: Retail or Professional or Both or Neither</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CostsAndChargesExAnte">
				<xs:annotation>
					<xs:documentation>Costs and Charges ex ante</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Fund">
							<xs:annotation>
								<xs:documentation>Relevant fields for funds</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EntryCost" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07020: Maximum not acquired to the fund (ETF are excluded). Expressed as a % of the amount to be invested</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxEntryCostItaly" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07030: Maximum fixed amount per subscription, not incorporated. Flat fee definied by the manufacturer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxEntryCostAcquired" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07040: Subscription fees acquired to the fund 
Expressed as a % of the amount to be invested</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxExitCost" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07050: Maximum not acquired to the fund  (ETF are excluded). Expressed as a % of the NAV</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxExitCostItaly" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07060: Maximum fixed amount per redemption, not incorporated. Flat fee defined by the manufacturer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxExitCostAcquired" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07070: Maximum (ETF are excluded). Subscription fees acquired to the fund. Expressed as a % of the NAV</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypicalExitCost" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>07080: Current exit cost linked to the RHP or ????????</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OngoingCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07100: Ongoing costs include management fees and distribution fees</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ManagementFee" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07110: Percentage per annum. These fees are included in total on going costs. These fees are used by distributors to calculate their retrocession fees</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DistributionFee" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>07120: Percentage per annum. Only applicable if the product has this feature (legal wording in the documentation). These fees are included in total on going costs and are not included into the management fees.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransactionCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07130: Costs within the products (percentage of NAV)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IncidentalCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07140: Expressed as a % of NAV of the Financial Product. Includes performance fees and others costs Ex ante</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="StructuredSecurity">
							<xs:annotation>
								<xs:documentation>Relevant fields for structured securities</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Quotation">
										<xs:annotation>
											<xs:documentation>07010: Unit quotation in Units figures or Percentage quotation of the amount to be invested</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="U"/>
												<xs:enumeration value="P"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OneOfEntryCost" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07020: "Ask Price" - Fair Value (as of reporting date)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypicalExitCost" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>07080: Exit cost at the RHP (typically 0%)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExitCostPriorRHP" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>07090: For non exchange traded structured securities</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OngoingCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>07100: Expressed as a % of NAV / Notional (or currency  amount for Absolute quotation) of the Financial Product / always per annum</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ManagementFee" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>07110: Percentage per annum. These fees are included in total on going costs. Only applicable if the product has this feature. These fees are used by distributors to calculate their retrocession fees</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="CostsAndChargesExPost">
				<xs:annotation>
					<xs:documentation>Costs and Charges ex post</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Fund">
							<xs:annotation>
								<xs:documentation>Relevant fields for funds</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OngoingCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>08030: Ongoing costs ex post
Definition tbd as a % of NAV of the Financial Product / per annum. Occured costs over one year</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ManagementFee" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>08050: Management fee ex post
Definition tbd as a % of NAV of the Financial Product / per annum. Occured costs over one year</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DistributionFee" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>08060: Distribution fee ex post
Definition tbd as a % of NAV of the Financial Product / per annum. Occured costs over one year</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransactionCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>08070: Transaction costs ex post
Definition tbd as a % of NAV of the Financial Product / per annum. Occured costs over one year</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IncidentialCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>08080: Incidential costs ex post
Definition tbd as a % of NAV of the Financial Product / per annum. Occured costs over one year</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CalculationPeriod" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Mandatory for German and Swiss distributors</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Start" type="xs:date" minOccurs="0">
													<xs:annotation>
														<xs:documentation>08090: Date of beginning of calculation period
Mandatory for German and Swiss distributors</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="End" type="xs:date" minOccurs="0">
													<xs:annotation>
														<xs:documentation>08100: Date of end of calculation period
Mandatory for German and Swiss distributors</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="StructuredSecurity">
							<xs:annotation>
								<xs:documentation>Relevant fields for structured securities</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EntryCost" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>08010: One off entry cost ex post
If 07010 set to U : absolute figures in product currency
If 07010 set to P : % of Notional or NAV (not per annum)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExitCost" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>08020: One off exit cost ex post
If 07010 set to U : absolute figures in product currency
If 07010 set to P : % of Notional or NAV (not per annum)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OngoingCosts" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>08030: Ongoing costs ex post
If 07010 set to U : absolute figures in product currency
If 07010 set to P : % of Notional or NAV (not per annum)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OngoingCostsAccumulated" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>08040: Ongoing costs ex post accumulated
If 07010 set to U : absolute figures in product currency
If 07010 set to P : % of Notional or NAV (not per annum)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ManagementFee" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>08050: Management fee ex post
If 07010 set to U : absolute figures in product currency
If 07010 set to P : % of Notional or NAV (not per annum)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountrySpecificData" type="CountrySpecificEMTDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
