include_files/FundsXML4_CountrySpecificData_NL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           vc:minVersion="1.1">
   <xs:include schemaLocation="FundsXML4_Core.xsd"/>
   <xs:complexType name="CountrySpecificAssetMasterDataNLType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos maestros de activos específicas de los Países Bajos (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati anagrafici asset specifici dei Paesi Bassi (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kmenových dat aktiv specifická pro Nizozemsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Netherlands-specific asset master data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificControlDataNLType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de control específicas de los Países Bajos (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati di controllo specifiche per i Paesi Bassi (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kontrolních dat specifická pro Nizozemsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Netherlands-specific control data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificDataNLType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos específicas de los Países Bajos (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati specifiche per i Paesi Bassi (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro datová rozšíření specifická pro Nizozemsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Netherlands-specific data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificEMTNLType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos EMT específicas de los Países Bajos (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati EMT specifiche per i Paesi Bassi (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat EMT specifická pro Nizozemsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Netherlands-specific EMT data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificFundDataNLType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de fondos específicas de los Países Bajos (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati dei fondi specifici dei Paesi Bassi (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat fondů specifická pro Nizozemsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Netherlands-specific fund data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificShareClassDataNLType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Niederlande-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Pays-Bas-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Nederland-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de clase de acciones específicas de los Países Bajos (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati delle classi di azioni specifiche per i Paesi Bassi (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat tříd akcií specifická pro Nizozemsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Netherlands-specific share class data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
