include_files/FundsXML4_CountrySpecificData_LU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           vc:minVersion="1.1">
   <xs:include schemaLocation="FundsXML4_Core.xsd"/>
   <xs:complexType name="CountrySpecificAssetMasterDataLUType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos maestros de activos específicas de Luxemburgo (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati anagrafici patrimoniali specifici del Lussemburgo (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kmenových dat aktiv specifická pro Lucembursko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Luxembourg-specific asset master data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificControlDataLUType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de control específicas de Luxemburgo (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati di controllo specifiche per il Lussemburgo (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kontrolních dat specifická pro Lucembursko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Luxembourg-specific control data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificDataLUType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos específicas de Luxemburgo (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati specifiche per il Lussemburgo (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro datová rozšíření specifická pro Lucembursko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Luxembourg-specific data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificEMTLUType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos EMT específicas de Luxemburgo (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati EMT specifiche per il Lussemburgo (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat EMT specifická pro Lucembursko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Luxembourg-specific EMT data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificFundDataLUType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de fondos específicas de Luxemburgo (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati dei fondi specifici del Lussemburgo (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat fondů specifická pro Lucembursko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Luxembourg-specific fund data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificShareClassDataLUType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Luxemburg-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Luxembourg-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Luxemburg-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de clase de acciones específicas de Luxemburgo (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati delle classi di azioni specifiche del Lussemburgo (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat tříd akcií specifická pro Lucembursko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="pt">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="pl">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sk">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="ro">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="bg">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="hr">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sl">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="sv">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="fi">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="da">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="el">[AUTO] Placeholder for Luxembourg-specific share class data extensions (not yet implemented)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
