include_files/FundsXML4_RegulatoryReporting_EFT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           vc:minVersion="1.1">
   <xs:include schemaLocation="FundsXML4_Core.xsd"/>
   <xs:complexType name="EFTReportType">
      <xs:annotation>
         <xs:documentation xml:lang="en">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="de">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="fr">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="nl">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="es">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="it">MODELLO FEEDBACK EUROPEO - EFT</xs:documentation>
         <xs:documentation xml:lang="cs">[AUTO] EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0"
                     name="FundOrShareClassIdentifiers"
                     type="FundOrShareClassIdentifiersType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund or share class identifiers for easy connection to other fund or share class data</xs:documentation>
               <xs:documentation xml:lang="de">Fonds- oder Anteilsklassen-Identifikatoren zur einfachen Verknüpfung mit anderen Fonds- oder Anteilsklassendaten</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds ou classe d'actions identifiers pour easy connection à autre fonds ou classe d'actions données</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds van aandelenklasse identifiers voor easy connection naar overig fonds van aandelenklasse gegevens</xs:documentation>
               <xs:documentation xml:lang="es">Identificadores de fondo o clase de acciones para una conexion sencilla con otros datos del fondo o clase de acciones</xs:documentation>
               <xs:documentation xml:lang="it">Identificatori di fondi o classi di azioni per una facile connessione ad altri dati di fondi o classi di azioni</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund or share class identifiers for easy connection to other fund or share class data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DataSupplier" type="DataSupplierType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Definition of data source (investment company, vendor, ...)</xs:documentation>
               <xs:documentation xml:lang="de">Definition der Datenquelle (Investmentgesellschaft, Anbieter, ...)</xs:documentation>
               <xs:documentation xml:lang="fr">Definition de données source (investissement company, vendor, ...)</xs:documentation>
               <xs:documentation xml:lang="nl">Definition van gegevens source (belegging company, vendor, ...)</xs:documentation>
               <xs:documentation xml:lang="es">Definicion de la fuente de datos (sociedad de inversion, proveedor, ...)</xs:documentation>
               <xs:documentation xml:lang="it">Definizione della fonte dei dati (società di investimento, fornitore, ...)</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Definition of data source (investment company, vendor, ...)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DataSetInformation">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ReportInformationAndScope">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="Version">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">00010_EFT_Version
Used Version of the EFT : V1 until further notice</xs:documentation>
                                 <xs:documentation xml:lang="de">00010_EFT_Version
Verwendete Version des EFT: V1 bis auf Weiteres</xs:documentation>
                                 <xs:documentation xml:lang="fr">00010_EFT_Version
Used Version de EFT : V1 until further notice</xs:documentation>
                                 <xs:documentation xml:lang="nl">00010_EFT_Version
Used Versie van EFT : V1 until further notice</xs:documentation>
                                 <xs:documentation xml:lang="es">00010_EFT_Version
Version utilizada del EFT: V1 hasta nuevo aviso</xs:documentation>
                                 <xs:documentation xml:lang="it">00010_EFT_Versione
Versione usata dell'EFT: V1 fino a nuovo avviso</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 00010_EFT_Version
Used Version of the EFT : V1 until further notice</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="V1"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="FileGeneration" type="xs:dateTime">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">00020_File_Generation_Date_and_Time
Date and Time of the creation of the EFT file</xs:documentation>
                                 <xs:documentation xml:lang="de">00020_File_Generation_Date_and_Time
Datum und Uhrzeit der Erstellung der EFT-Datei</xs:documentation>
                                 <xs:documentation xml:lang="fr">00020_File_Generation_Date_and_Time
Date et Time de creation de EFT file</xs:documentation>
                                 <xs:documentation xml:lang="nl">00020_File_Generation_Date_and_Time
Datum en Time van creation van EFT file</xs:documentation>
                                 <xs:documentation xml:lang="es">00020_File_Generation_Date_and_Time
Fecha y hora de creacion del archivo EFT</xs:documentation>
                                 <xs:documentation xml:lang="it">00020_Generazione_File_Data_e_Ora
Data e ora di creazione del file EFT</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 00020_File_Generation_Date_and_Time
Date and Time of the creation of the EFT file</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="PeriodStartData" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">00030_Reporting_Period_Start_Data
Date of beginning of the period under which distribution has occured</xs:documentation>
                                 <xs:documentation xml:lang="de">00030_Reporting_Period_Start_Data
Datum des Beginns des Zeitraums, in dem der Vertrieb stattgefunden hat</xs:documentation>
                                 <xs:documentation xml:lang="fr">00030_Reporting_Period_Start_Data
Date de beginning de period under qui distribution un occured</xs:documentation>
                                 <xs:documentation xml:lang="nl">00030_Reporting_Period_Start_Data
Datum van beginning van period under welke uitkering heeft occured</xs:documentation>
                                 <xs:documentation xml:lang="es">00030_Reporting_Period_Start_Data
Fecha de inicio del periodo en el que se ha producido la distribucion</xs:documentation>
                                 <xs:documentation xml:lang="it">00030_Reporting_Period_Start_Data
Data di inizio del periodo in cui è avvenuta la distribuzione</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 00030_Reporting_Period_Start_Data
Date of beginning of the period under which distribution has occured</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="PeriodEndData" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">00040_Reporting_Period_End_Data
Date of end of the period under which distribution has occured</xs:documentation>
                                 <xs:documentation xml:lang="de">00040_Reporting_Period_End_Data
Datum des Endes des Zeitraums, in dem der Vertrieb stattgefunden hat</xs:documentation>
                                 <xs:documentation xml:lang="fr">00040_Reporting_Period_End_Data
Date de end de period under qui distribution un occured</xs:documentation>
                                 <xs:documentation xml:lang="nl">00040_Reporting_Period_End_Data
Datum van end van period under welke uitkering heeft occured</xs:documentation>
                                 <xs:documentation xml:lang="es">00040_Reporting_Period_End_Data
Fecha de fin del periodo en el que se ha producido la distribucion</xs:documentation>
                                 <xs:documentation xml:lang="it">00040_Reporting_Period_End_Data
Data di fine del periodo in cui è avvenuta la distribuzione</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 00040_Reporting_Period_End_Data
Date of end of the period under which distribution has occured</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="ReferenceTargetMarket">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">00050_Reference_ Target_ Market
Defines the reference Target Market to which deviations are reported
M (Manufacturer) / D (Distributor)/ B (Both)</xs:documentation>
                                 <xs:documentation xml:lang="de">00050_Reference_Target_Market
Definiert den Referenz-Zielmarkt, zu dem Abweichungen gemeldet werden
M (Hersteller) / D (Vertreiber) / B (Beide)</xs:documentation>
                                 <xs:documentation xml:lang="fr">00050_Reference_ Target_ Marché
Defines référence Target Marché à qui deviations sont reported
M (Manufacturer) / D (Distributeur)/ B (Both)</xs:documentation>
                                 <xs:documentation xml:lang="nl">00050_Reference_ Target_ Markt
Defines referentie Target Markt naar welke deviations zijn reported
M (Manufacturer) / D (Distributeur)/ B (Both)</xs:documentation>
                                 <xs:documentation xml:lang="es">00050_Reference_Target_Market
Define el mercado objetivo de referencia al que se reportan las desviaciones
M (Fabricante) / D (Distribuidor) / B (Ambos)</xs:documentation>
                                 <xs:documentation xml:lang="it">00050_Riferimento_Target_Mercato
Definisce il Mercato Obiettivo di riferimento a cui vengono segnalati gli scostamenti
M (produttore) / D (distributore)/ B (entrambi)</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 00050_Reference_ Target_ Market
Defines the reference Target Market to which deviations are reported
M (Manufacturer) / D (Distributor)/ B (Both)</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="M"/>
                                    <xs:enumeration value="D"/>
                                    <xs:enumeration value="B"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="SubmitterEntityInformation">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="Name">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">01010_Submitter_Entity_Name
Name of the Entity distributing the financial instrument. The one who is responsible for the Distributor Target Market</xs:documentation>
                                 <xs:documentation xml:lang="de">01010_Submitter_Entity_Name
Name der Einheit, die das Finanzinstrument vertreibt. Diejenige, die für den Vertreiber-Zielmarkt verantwortlich ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">01010_Submitter_Entity_Name
Nom de Entity distributing financial instrument. The one who est responsible pour Distributeur Target Marché</xs:documentation>
                                 <xs:documentation xml:lang="nl">01010_Submitter_Entity_Name
Naam van Entity distributing financial instrument. The one who is responsible voor Distributeur Target Markt</xs:documentation>
                                 <xs:documentation xml:lang="es">01010_Submitter_Entity_Name
Nombre de la entidad que distribuye el instrumento financiero. La responsable del mercado objetivo del distribuidor</xs:documentation>
                                 <xs:documentation xml:lang="it">01010_Submitter_Entity_Name
Nome del soggetto che distribuisce lo strumento finanziario. Colui che è responsabile del mercato target del distributore</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 01010_Submitter_Entity_Name
Name of the Entity distributing the financial instrument. The one who is responsible for the Distributor Target Market</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="Identifier">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">01020_Submitter_Entity_identifier
Identification of the Distribution Entity
: the one who is responsible for the Distributor Target Market or Nothing (N)
LEI, National Identity Number, N</xs:documentation>
                                 <xs:documentation xml:lang="de">01020_Submitter_Entity_identifier
Identifikation der Vertriebseinheit
: diejenige, die für den Vertreiber-Zielmarkt verantwortlich ist oder Nichts (N)
LEI, Nationale Identifikationsnummer, N</xs:documentation>
                                 <xs:documentation xml:lang="fr">01020_Submitter_Entity_identifier
Identification de Distribution Entity
: one who est responsible pour Distributeur Target Marché ou Nothing (N)
LEI, National Identity Numéro, N</xs:documentation>
                                 <xs:documentation xml:lang="nl">01020_Submitter_Entity_identifier
Identification van Uitkering Entity
: one who is responsible voor Distributeur Target Markt van Nothing (N)
LEI, National Identity Nummer, N</xs:documentation>
                                 <xs:documentation xml:lang="es">01020_Submitter_Entity_identifier
Identificacion de la entidad de distribucion
: la responsable del mercado objetivo del distribuidor o Nada (N)
LEI, Numero de Identidad Nacional, N</xs:documentation>
                                 <xs:documentation xml:lang="it">01020_Submitter_Entity_identifier
Identificazione dell'entità di distribuzione
: colui che è responsabile del mercato di riferimento del distributore o niente (N)
LEI, numero di identità nazionale, N</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 01020_Submitter_Entity_identifier
Identification of the Distribution Entity
: the one who is responsible for the Distributor Target Market or Nothing (N)
LEI, National Identity Number, N</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="IdentifierType">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">02030_Recipient_Entity_identifier_Type
LEI of the recipient entity or National identifier or Nothing
L or NI or No</xs:documentation>
                                 <xs:documentation xml:lang="de">02030_Recipient_Entity_identifier_Type
LEI der Empfängereinheit oder Nationale Kennung oder Nichts
L oder NI oder No</xs:documentation>
                                 <xs:documentation xml:lang="fr">02030_Recipient_Entity_identifier_Type
LEI de recipient entity ou National identifiant ou Nothing
L ou NI ou No</xs:documentation>
                                 <xs:documentation xml:lang="nl">02030_Recipient_Entity_identifier_Type
LEI van recipient entity van National identificatie van Nothing
L van NI van No</xs:documentation>
                                 <xs:documentation xml:lang="es">02030_Recipient_Entity_identifier_Type
LEI de la entidad receptora o identificador nacional o Nada
L o NI o No</xs:documentation>
                                 <xs:documentation xml:lang="it">02030_Tipo_identificatore_entità_destinatario
LEI dell'entità ricevente o Identificativo nazionale o Niente
L o NI o No</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 02030_Recipient_Entity_identifier_Type
LEI of the recipient entity or National identifier or Nothing
L or NI or No</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="L"/>
                                    <xs:enumeration value="NI"/>
                                    <xs:enumeration value="No"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="PositionInTheDistributionChain">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">02040_Recipient_Entity_Position_In_The_Distribution_Chain
One of the following items
- Manufacturer
-  Distributor (The one doing the sales)
- Intermediary (e.g. platform)
M or D or I (intermediary / platform)</xs:documentation>
                                 <xs:documentation xml:lang="de">02040_Recipient_Entity_Position_In_The_Distribution_Chain
Einer der folgenden Punkte
- Hersteller
- Vertreiber (derjenige, der den Verkauf durchführt)
- Intermediär (z.B. Plattform)
M oder D oder I (Intermediär / Plattform)</xs:documentation>
                                 <xs:documentation xml:lang="fr">02040_Recipient_Entity_Position_In_The_Distribution_Chain
One de following items
- Manufacturer
- Distributeur (The one doing sales)
- Intermediary (e.g. platform)
M ou D ou I (intermediary / platform)</xs:documentation>
                                 <xs:documentation xml:lang="nl">02040_Recipient_Entity_Position_In_The_Distribution_Chain
One van following items
- Manufacturer
- Distributeur (The one doing sales)
- Intermediary (e.g. platform)
M van D van I (intermediary / platform)</xs:documentation>
                                 <xs:documentation xml:lang="es">02040_Recipient_Entity_Position_In_The_Distribution_Chain
Uno de los siguientes elementos
- Fabricante
- Distribuidor (el que realiza las ventas)
- Intermediario (p.ej. plataforma)
M o D o I (intermediario / plataforma)</xs:documentation>
                                 <xs:documentation xml:lang="it">02040_Posizione_entità_destinatario_nella_catena_di_distribuzione
Uno dei seguenti elementi
- Produttore
- Distributore (colui che fa le vendite)
- Intermediario (ad esempio piattaforma)
M o D o I (intermediario/piattaforma)</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 02040_Recipient_Entity_Position_In_The_Distribution_Chain
One of the following items
- Manufacturer
-  Distributor (The one doing the sales)
- Intermediary (e.g. platform)
M or D or I (intermediary / platform)</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="M"/>
                                    <xs:enumeration value="D"/>
                                    <xs:enumeration value="I"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ManufacturerEntityInformation">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="Name">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">03010_Manufacturer_Entity_Name
Name of the Entity producing the financial instrument. The one who is responsible for the Manufacturer Target Market</xs:documentation>
                                 <xs:documentation xml:lang="de">03010_Manufacturer_Entity_Name
Name der Einheit, die das Finanzinstrument produziert. Diejenige, die für den Hersteller-Zielmarkt verantwortlich ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">03010_Manufacturer_Entity_Name
Nom de Entity producing financial instrument. The one who est responsible pour Manufacturer Target Marché</xs:documentation>
                                 <xs:documentation xml:lang="nl">03010_Manufacturer_Entity_Name
Naam van Entity producing financial instrument. The one who is responsible voor Manufacturer Target Markt</xs:documentation>
                                 <xs:documentation xml:lang="es">03010_Manufacturer_Entity_Name
Nombre de la entidad que produce el instrumento financiero. La responsable del mercado objetivo del fabricante</xs:documentation>
                                 <xs:documentation xml:lang="it">03010_Nome_Entità_Produttore
Denominazione dell'Ente produttore dello strumento finanziario. Colui che è responsabile del mercato di riferimento del produttore</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 03010_Manufacturer_Entity_Name
Name of the Entity producing the financial instrument. The one who is responsible for the Manufacturer Target Market</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="Identifier">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">03020_Manufacturer_identifier
Identification of the Manufacturer Entity
LEI, National Identity Number, N</xs:documentation>
                                 <xs:documentation xml:lang="de">03020_Manufacturer_identifier
Identifikation der Herstellereinheit
LEI, Nationale Identifikationsnummer, N</xs:documentation>
                                 <xs:documentation xml:lang="fr">03020_Manufacturer_identifier
Identification de Manufacturer Entity
LEI, National Identity Numéro, N</xs:documentation>
                                 <xs:documentation xml:lang="nl">03020_Manufacturer_identifier
Identification van Manufacturer Entity
LEI, National Identity Nummer, N</xs:documentation>
                                 <xs:documentation xml:lang="es">03020_Manufacturer_identifier
Identificacion de la entidad fabricante
LEI, Numero de Identidad Nacional, N</xs:documentation>
                                 <xs:documentation xml:lang="it">03020_identificativo_produttore
Identificazione dell'entità produttrice
LEI, numero di identità nazionale, N</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 03020_Manufacturer_identifier
Identification of the Manufacturer Entity
LEI, National Identity Number, N</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="IdentifierType">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">03030_Manufacturer_identifier_Type
LEI of the Manufacturer or National identifier or Nothing
L or NI or No</xs:documentation>
                                 <xs:documentation xml:lang="de">03030_Manufacturer_identifier_Type
LEI des Herstellers oder Nationale Kennung oder Nichts
L oder NI oder No</xs:documentation>
                                 <xs:documentation xml:lang="fr">03030_Manufacturer_identifier_Type
LEI de Manufacturer ou National identifiant ou Nothing
L ou NI ou No</xs:documentation>
                                 <xs:documentation xml:lang="nl">03030_Manufacturer_identifier_Type
LEI van Manufacturer van National identificatie van Nothing
L van NI van No</xs:documentation>
                                 <xs:documentation xml:lang="es">03030_Manufacturer_identifier_Type
LEI del fabricante o identificador nacional o Nada
L o NI o No</xs:documentation>
                                 <xs:documentation xml:lang="it">03030_Identificativo_produttore_Tipo
LEI del Produttore o Identificativo Nazionale oppure Niente
L o NI o No</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 03030_Manufacturer_identifier_Type
LEI of the Manufacturer or National identifier or Nothing
L or NI or No</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="L"/>
                                    <xs:enumeration value="NI"/>
                                    <xs:enumeration value="No"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="GeneralFinancialInstrumentInformation">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="IdentifyingData">
                     <xs:annotation>
                        <xs:documentation xml:lang="en">04010_Financial_Instrument_Identifying_Data
Identification of the financial instrument
Use the following priority for identification of a specific financial instrument:
  - ISO 6166 code of ISIN when available
  - Other recognised codes (e.g.: CUSIP, Bloomberg Ticker, Reuters RIC)
  - Code attributed by the undertaking, when the options above are not available. Code must be unique and kept consistent over time.
  - blank if 04020 is set to 11</xs:documentation>
                        <xs:documentation xml:lang="de">04010_Financial_Instrument_Identifying_Data
Identifikation des Finanzinstruments
Verwenden Sie folgende Priorität zur Identifikation eines bestimmten Finanzinstruments:
  - ISO 6166 Code der ISIN wenn verfügbar
  - Andere anerkannte Codes (z.B.: CUSIP, Bloomberg Ticker, Reuters RIC)
  - Vom Unternehmen vergebener Code, wenn obige Optionen nicht verfügbar sind. Code muss einzigartig sein und über die Zeit konsistent bleiben.
  - leer wenn 04020 auf 11 gesetzt ist</xs:documentation>
                        <xs:documentation xml:lang="fr">04010_Financial_Instrument_Identifying_Data
Identification de financial instrument
Utilisez following priority pour identification de un spécifique financial instrument:
 - ISO 6166 code de ISIN si disponible
 - Autre recognised codes (e.g.: CUSIP, Bloomberg Ticker, Reuters RIC)
 - Code attributed par undertaking, quand options above sont pas disponible. Code must be unique et kept consistent over time.
 - blank si 04020 est set à 11</xs:documentation>
                        <xs:documentation xml:lang="nl">04010_Financial_Instrument_Identifying_Data
Identification van financial instrument
Gebruik following priority voor identification van een specifiek financial instrument:
 - ISO 6166 code van ISIN indien beschikbaar
 - Overig recognised codes (e.g.: CUSIP, Bloomberg Ticker, Reuters RIC)
 - Code attributed door undertaking, wanneer options above zijn niet beschikbaar. Code must be uniek en kept consistent over time.
 - blank als 04020 is set naar 11</xs:documentation>
                        <xs:documentation xml:lang="es">04010_Financial_Instrument_Identifying_Data
Identificacion del instrumento financiero
Utilice la siguiente prioridad para la identificacion de un instrumento financiero especifico:
  - Codigo ISO 6166 del ISIN cuando este disponible
  - Otros codigos reconocidos (p.ej.: CUSIP, Bloomberg Ticker, Reuters RIC)
  - Codigo atribuido por la empresa, cuando las opciones anteriores no esten disponibles. El codigo debe ser unico y mantenerse consistente en el tiempo.
  - en blanco si 04020 esta establecido en 11</xs:documentation>
                        <xs:documentation xml:lang="it">04010_Dati_Identificativi_Strumento_Finanziario
Identificazione dello strumento finanziario
Utilizzare la seguente priorità per l'identificazione di uno strumento finanziario specifico:
  - Codice ISIN ISO 6166 quando disponibile
  - Altri codici riconosciuti (es.: CUSIP, Bloomberg Ticker, Reuters RIC)
  - Codice attribuito dall'impresa, quando le opzioni di cui sopra non sono disponibili. Il codice deve essere univoco e mantenuto coerente nel tempo.
  - vuoto se 04020 è impostato su 11</xs:documentation>
                        <xs:documentation xml:lang="cs">[AUTO] 04010_Financial_Instrument_Identifying_Data
Identification of the financial instrument
Use the following priority for identification of a specific financial instrument:
  - ISO 6166 code of ISIN when available
  - Other recognised codes (e.g.: CUSIP, Bloomberg Ticker, Reuters RIC)
  - Code attributed by the undertaking, when the options above are not available. Code must be unique and kept consistent over time.
  - blank if 04020 is set to 11</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TypeOfIdentification">
                     <xs:annotation>
                        <xs:documentation xml:lang="en">04020_Type_Of_Identification_Code_For_The_Financial_Instrument
Codification chosen to identify the financial instrument or Aggregated Class of Products
One of the options in the following closed list to be used:
1 - ISO 6166 for ISIN code
2 - CUSIP (The Committee on Uniform Securities Identification Procedures number assigned by the CUSIP Service Bureau for U.S. and Canadian companies)
3 - SEDOL (Stock Exchange Daily Official List for the London Stock Exchange)
4 – WKN (Wertpapier Kenn-Nummer, the alphanumeric German identification number)
5 - Bloomberg Ticker (Bloomberg letters code that identify a company's securities)
6 - BBGID (The Bloomberg Global ID)
7 - Reuters RIC (Reuters instrument code)
8 – FIGI (Financial Instrument Global Identifier)
9 - Other code by members of the Association of National Numbering Agencies
10 - LEI
11 - Aggregated Class of products
99 - Code attributed by the undertaking</xs:documentation>
                        <xs:documentation xml:lang="de">04020_Type_Of_Identification_Code_For_The_Financial_Instrument
Gewählte Codierung zur Identifikation des Finanzinstruments oder der aggregierten Produktklasse
Eine der Optionen aus der folgenden geschlossenen Liste:
1 - ISO 6166 für ISIN-Code
2 - CUSIP
3 - SEDOL
4 - WKN (Wertpapier-Kenn-Nummer)
5 - Bloomberg Ticker
6 - BBGID
7 - Reuters RIC
8 - FIGI
9 - Anderer Code von Mitgliedern der Association of National Numbering Agencies
10 - LEI
11 - Aggregierte Produktklasse
99 - Vom Unternehmen vergebener Code</xs:documentation>
                        <xs:documentation xml:lang="fr">04020_Type_Of_Identification_Code_For_The_Financial_Instrument
Codification chosen à identify financial instrument ou Aggregated Class de Products
One de options dans following fermé liste à be used:
1 - ISO 6166 pour ISIN code
2 - CUSIP (The Committee on Uniform Titres Identification Procedures numéro assigned par CUSIP Service Bureau pour U.S. et Canadian companies)
3 - SEDOL (Action Bourse Quotidien Official Liste pour London Action Bourse)
4 – WKN (Wertpapier Kenn-Nummer, alphanumeric German identification numéro)
5 - Bloomberg Ticker (Bloomberg letters code que identify un company's titres)
6 - BBGID (The Bloomberg Global ID)
7 - Reuters RIC (Reuters instrument code)
8 – FIGI (Financial Instrument Global Identifiant)
9 - Autre code par members de Association de National Numbering Agencies
10 - LEI
11 - Aggregated Class de products
99 - Code attributed par undertaking</xs:documentation>
                        <xs:documentation xml:lang="nl">04020_Type_Of_Identification_Code_For_The_Financial_Instrument
Codification chosen naar identify financial instrument van Aggregated Class van Products
One van options in following gesloten lijst naar be used:
1 - ISO 6166 voor ISIN code
2 - CUSIP (The Committee on Uniform Effecten Identification Procedures nummer assigned door CUSIP Service Bureau voor U.S. en Canadian companies)
3 - SEDOL (Aandeel Beurs Dagelijks Official Lijst voor London Aandeel Beurs)
4 – WKN (Wertpapier Kenn-Nummer, alphanumeric German identification nummer)
5 - Bloomberg Ticker (Bloomberg letters code dat identify een company's effecten)
6 - BBGID (The Bloomberg Global ID)
7 - Reuters RIC (Reuters instrument code)
8 – FIGI (Financial Instrument Global Identificatie)
9 - Overig code door members van Association van National Numbering Agencies
10 - LEI
11 - Aggregated Class van products
99 - Code attributed door undertaking</xs:documentation>
                        <xs:documentation xml:lang="es">04020_Type_Of_Identification_Code_For_The_Financial_Instrument
Codificacion elegida para identificar el instrumento financiero o Clase Agregada de Productos
Una de las opciones de la siguiente lista cerrada:
1 - ISO 6166 para codigo ISIN
2 - CUSIP (numero del Comite de Procedimientos Uniformes de Identificacion de Valores asignado por la Oficina de Servicio CUSIP para empresas estadounidenses y canadienses)
3 - SEDOL (Lista Oficial Diaria de la Bolsa de Valores de Londres)
4 - WKN (Wertpapier Kenn-Nummer, numero de identificacion alfanumerico aleman)
5 - Bloomberg Ticker (codigo de letras de Bloomberg que identifica los valores de una empresa)
6 - BBGID (El ID Global de Bloomberg)
7 - Reuters RIC (codigo de instrumento de Reuters)
8 - FIGI (Identificador Global de Instrumento Financiero)
9 - Otro codigo de miembros de la Asociacion de Agencias Nacionales de Numeracion
10 - LEI
11 - Clase Agregada de productos
99 - Codigo atribuido por la empresa</xs:documentation>
                        <xs:documentation xml:lang="it">04020_Tipo_di_codice_di_identificazione_per_lo_strumento_finanziario
Codificazione scelta per identificare lo strumento finanziario o la Classe Aggregata di Prodotti
Utilizzare una delle opzioni nel seguente elenco chiuso:
1 - ISO 6166 per il codice ISIN
2 - CUSIP (numero del Committee on Uniform Securities Identification Procedures assegnato dal CUSIP Service Bureau per le società statunitensi e canadesi)
3 - SEDOL (Lista ufficiale giornaliero della Borsa di Londra)
4 – WKN (Wertpapier Kenn-Nummer, il numero identificativo alfanumerico tedesco)
5 - Bloomberg Ticker (codice in lettere Bloomberg che identifica i titoli di una società)
6 - BBGID (ID globale Bloomberg)
7 - Reuters RIC (codice strumento Reuters)
8 – FIGI (Identificatore Globale dello Strumento Finanziario)
9 - Altro codice dei membri dell'Associazione delle Agenzie Nazionali di Numerazione
10 - LEI
11 - Classe aggregata di prodotti
99 - Codice attribuito dall'impresa</xs:documentation>
                        <xs:documentation xml:lang="cs">[AUTO] 04020_Type_Of_Identification_Code_For_The_Financial_Instrument
Codification chosen to identify the financial instrument or Aggregated Class of Products
One of the options in the following closed list to be used:
1 - ISO 6166 for ISIN code
2 - CUSIP (The Committee on Uniform Securities Identification Procedures number assigned by the CUSIP Service Bureau for U.S. and Canadian companies)
3 - SEDOL (Stock Exchange Daily Official List for the London Stock Exchange)
4 – WKN (Wertpapier Kenn-Nummer, the alphanumeric German identification number)
5 - Bloomberg Ticker (Bloomberg letters code that identify a company's securities)
6 - BBGID (The Bloomberg Global ID)
7 - Reuters RIC (Reuters instrument code)
8 – FIGI (Financial Instrument Global Identifier)
9 - Other code by members of the Association of National Numbering Agencies
10 - LEI
11 - Aggregated Class of products
99 - Code attributed by the undertaking</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:int">
                           <xs:enumeration value="1"/>
                           <xs:enumeration value="2"/>
                           <xs:enumeration value="3"/>
                           <xs:enumeration value="4"/>
                           <xs:enumeration value="5"/>
                           <xs:enumeration value="6"/>
                           <xs:enumeration value="7"/>
                           <xs:enumeration value="8"/>
                           <xs:enumeration value="9"/>
                           <xs:enumeration value="10"/>
                           <xs:enumeration value="11"/>
                           <xs:enumeration value="99"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Name">
                     <xs:annotation>
                        <xs:documentation xml:lang="en">04030_Financial_Instrument_Name
Name of the financial instrument if applicable</xs:documentation>
                        <xs:documentation xml:lang="de">04030_Financial_Instrument_Name
Name des Finanzinstruments, falls zutreffend</xs:documentation>
                        <xs:documentation xml:lang="fr">04030_Financial_Instrument_Name
Nom de financial instrument si applicable</xs:documentation>
                        <xs:documentation xml:lang="nl">04030_Financial_Instrument_Name
Naam van financial instrument als applicable</xs:documentation>
                        <xs:documentation xml:lang="es">04030_Financial_Instrument_Name
Nombre del instrumento financiero si aplica</xs:documentation>
                        <xs:documentation xml:lang="it">04030_Nome_Strumento_Finanziario
Nome dello strumento finanziario, se applicabile</xs:documentation>
                        <xs:documentation xml:lang="cs">[AUTO] 04030_Financial_Instrument_Name
Name of the financial instrument if applicable</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TotalNumberOfTransactions" type="xs:int">
                     <xs:annotation>
                        <xs:documentation xml:lang="en">04040_Financial_Instrument_Total_Number_Of_Transactions
Means total number of transactions expressed in absolute number. Includes volumes in Positive, Negative and outside of Positve.</xs:documentation>
                        <xs:documentation xml:lang="de">04040_Financial_Instrument_Total_Number_Of_Transactions
Gesamtzahl der Transaktionen als absolute Zahl. Beinhaltet Volumina in Positiv, Negativ und außerhalb von Positiv.</xs:documentation>
                        <xs:documentation xml:lang="fr">04040_Financial_Instrument_Total_Number_Of_Transactions
Means total numéro de transactions expressed dans absolute numéro. Includes volumes dans Positive, Negative et outside de Positve.</xs:documentation>
                        <xs:documentation xml:lang="nl">04040_Financial_Instrument_Total_Number_Of_Transactions
Means totaal nummer van transactions expressed in absolute nummer. Includes volumes in Positive, Negative en outside van Positve.</xs:documentation>
                        <xs:documentation xml:lang="es">04040_Financial_Instrument_Total_Number_Of_Transactions
Numero total de transacciones expresado en valor absoluto. Incluye volumenes en Positivo, Negativo y fuera de Positivo.</xs:documentation>
                        <xs:documentation xml:lang="it">04040_Strumento_Finanziario_Numero_Totale_Di_Transazioni
Indica il numero totale di transazioni espresso in numero assoluto. Include i volumi in Positivo, Negativo e al di fuori del Positivo.</xs:documentation>
                        <xs:documentation xml:lang="cs">[AUTO] 04040_Financial_Instrument_Total_Number_Of_Transactions
Means total number of transactions expressed in absolute number. Includes volumes in Positive, Negative and outside of Positve.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="DeviationReportManufacturerTargetMarketPerspective">
            <xs:annotation>
               <xs:documentation xml:lang="en">Deviation Report - Manufacturer Target Market Perspective</xs:documentation>
               <xs:documentation xml:lang="de">Abweichungsbericht - Hersteller-Zielmarkt-Perspektive</xs:documentation>
               <xs:documentation xml:lang="fr">Deviation Report - Manufacturer Target Marché Perspective</xs:documentation>
               <xs:documentation xml:lang="nl">Deviation Report - Manufacturer Target Markt Perspective</xs:documentation>
               <xs:documentation xml:lang="es">Informe de desviacion - Perspectiva del mercado objetivo del fabricante</xs:documentation>
               <xs:documentation xml:lang="it">Rapporto sulla deviazione: prospettiva del mercato target del produttore</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Deviation Report - Manufacturer Target Market Perspective</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="Sales_OTM_NTM">
                     <xs:annotation>
                        <xs:documentation xml:lang="en">Sales Outside Target Market (OTM) and/or in Negative Target Market (NTM) - Reported as Number of Transactions</xs:documentation>
                        <xs:documentation xml:lang="de">Verkäufe außerhalb des Zielmarkts (OTM) und/oder im Negativen Zielmarkt (NTM) - Gemeldet als Anzahl der Transaktionen</xs:documentation>
                        <xs:documentation xml:lang="fr">Sales Outside Target Marché (OTM) et/ou dans Negative Target Marché (NTM) - Reported comme Numéro de Transactions</xs:documentation>
                        <xs:documentation xml:lang="nl">Sales Outside Target Markt (OTM) en/van in Negative Target Markt (NTM) - Reported als Nummer van Transactions</xs:documentation>
                        <xs:documentation xml:lang="es">Ventas fuera del mercado objetivo (OTM) y/o en el mercado objetivo negativo (NTM) - Reportado como numero de transacciones</xs:documentation>
                        <xs:documentation xml:lang="it">Vendite al di fuori del mercato target (OTM) e/o nel mercato target negativo (NTM) - Segnalate come numero di transazioni</xs:documentation>
                        <xs:documentation xml:lang="cs">[AUTO] Sales Outside Target Market (OTM) and/or in Negative Target Market (NTM) - Reported as Number of Transactions</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element minOccurs="0" name="RetailInvestorTypeAndSelfService" type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">05010_Retail_Investor_Type_AND_Self_Service
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID services Execution Only or Self Service with Appropriateness Test
If  00050 is set to M or B</xs:documentation>
                                 <xs:documentation xml:lang="de">05010_Retail_Investor_Type_AND_Self_Service
Anzahl der Transaktionen, die als im Konflikt mit dem Retail-Anlegertyp identifiziert wurden, unter Verwendung von MiFID-Diensten Execution Only oder Self Service mit Angemessenheitstest
Wenn 00050 auf M oder B gesetzt ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">05010_Retail_Investor_Type_AND_Self_Service
Numéro de transactions reported comme identified dans conflict avec Particulier Investisseur Type, using MiFID services Execution Only ou Self Service avec Appropriateness Test
If 00050 est set à M ou B</xs:documentation>
                                 <xs:documentation xml:lang="nl">05010_Retail_Investor_Type_AND_Self_Service
Nummer van transactions reported als identified in conflict met Particulier Belegger Type, using MiFID services Execution Only van Self Service met Appropriateness Test
If 00050 is set naar M van B</xs:documentation>
                                 <xs:documentation xml:lang="es">05010_Retail_Investor_Type_AND_Self_Service
Numero de transacciones reportadas como identificadas en conflicto con el tipo de inversor minorista, utilizando servicios MiFID Execution Only o Self Service con test de idoneidad
Si 00050 esta establecido en M o B</xs:documentation>
                                 <xs:documentation xml:lang="it">05010_Retail_Investor_Type_AND_Self_Service
Numero di operazioni segnalate come identificate in conflitto con la tipologia dell'investitore al dettaglio, utilizzando i servizi MiFID Execution Only o Self Service con test di adeguatezza
Se 00050 è impostato su M o B</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 05010_Retail_Investor_Type_AND_Self_Service
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID services Execution Only or Self Service with Appropriateness Test
If  00050 is set to M or B</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="RetailInvestorTypeAndExecutionWithSuitabilityTest"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID services Advice or Portfolio Management.</xs:documentation>
                                 <xs:documentation xml:lang="de">05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Anzahl der Transaktionen, die als im Konflikt mit dem Retail-Anlegertyp identifiziert wurden, unter Verwendung von MiFID-Diensten Beratung oder Portfoliomanagement.</xs:documentation>
                                 <xs:documentation xml:lang="fr">05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Numéro de transactions reported comme identified dans conflict avec Particulier Investisseur Type, using MiFID services Advice ou Portefeuille Management.</xs:documentation>
                                 <xs:documentation xml:lang="nl">05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Nummer van transactions reported als identified in conflict met Particulier Belegger Type, using MiFID services Advice van Portefeuille Management.</xs:documentation>
                                 <xs:documentation xml:lang="es">05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Numero de transacciones reportadas como identificadas en conflicto con el tipo de inversor minorista, utilizando servicios MiFID de asesoramiento o gestion de carteras.</xs:documentation>
                                 <xs:documentation xml:lang="it">05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Numero di transazioni segnalate come identificate in conflitto con la tipologia di investitore al dettaglio, utilizzando i servizi MiFID di consulenza o di gestione del portafoglio.</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 05020_Retail_Investor_Type_AND_Execution_With_Suitability_Test
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID services Advice or Portfolio Management.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="KnowledgeAndExperienceAndSelfService"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">05030_Knowledge_and_Experience_AND_Self_Service
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Execution Only or Self Service with Appropriateness Test.</xs:documentation>
                                 <xs:documentation xml:lang="de">05030_Knowledge_and_Experience_AND_Self_Service
Anzahl der Transaktionen, die als im Konflikt mit Kenntnissen und Erfahrungen identifiziert wurden, unter Verwendung von MiFID-Diensten Execution Only oder Self Service mit Angemessenheitstest.</xs:documentation>
                                 <xs:documentation xml:lang="fr">05030_Knowledge_and_Experience_AND_Self_Service
Numéro de transactions reported comme identified dans conflict avec Knowledge et Experience, using MiFID services Execution Only ou Self Service avec Appropriateness Test.</xs:documentation>
                                 <xs:documentation xml:lang="nl">05030_Knowledge_and_Experience_AND_Self_Service
Nummer van transactions reported als identified in conflict met Knowledge en Experience, using MiFID services Execution Only van Self Service met Appropriateness Test.</xs:documentation>
                                 <xs:documentation xml:lang="es">05030_Knowledge_and_Experience_AND_Self_Service
Numero de transacciones reportadas como identificadas en conflicto con conocimientos y experiencia, utilizando servicios MiFID Execution Only o Self Service con test de idoneidad.</xs:documentation>
                                 <xs:documentation xml:lang="it">05030_Conoscenza_ed_esperienza_E_Self_Service
Numero di transazioni segnalate come identificate in conflitto con Conoscenza ed Esperienza, utilizzando i servizi MiFID Execution Only o Self Service con Appropriateness Test.</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 05030_Knowledge_and_Experience_AND_Self_Service
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Execution Only or Self Service with Appropriateness Test.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="KnowledgeAndExperienceAndWithSuitabilityTest"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">05040_Knowledge_and_Experience_AND_With_Suitability_Test
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Advice or Portfolio Management.</xs:documentation>
                                 <xs:documentation xml:lang="de">05040_Knowledge_and_Experience_AND_With_Suitability_Test
Anzahl der Transaktionen, die als im Konflikt mit Kenntnissen und Erfahrungen identifiziert wurden, unter Verwendung von MiFID-Diensten Beratung oder Portfoliomanagement.</xs:documentation>
                                 <xs:documentation xml:lang="fr">05040_Knowledge_and_Experience_AND_With_Suitability_Test
Numéro de transactions reported comme identified dans conflict avec Knowledge et Experience, using MiFID services Advice ou Portefeuille Management.</xs:documentation>
                                 <xs:documentation xml:lang="nl">05040_Knowledge_and_Experience_AND_With_Suitability_Test
Nummer van transactions reported als identified in conflict met Knowledge en Experience, using MiFID services Advice van Portefeuille Management.</xs:documentation>
                                 <xs:documentation xml:lang="es">05040_Knowledge_and_Experience_AND_With_Suitability_Test
Numero de transacciones reportadas como identificadas en conflicto con conocimientos y experiencia, utilizando servicios MiFID de asesoramiento o gestion de carteras.</xs:documentation>
                                 <xs:documentation xml:lang="it">05040_Conoscenza_ed_esperienza_AND_Con_test_di_idoneità
Numero di transazioni segnalate come identificate in conflitto con Conoscenza ed Esperienza, utilizzando i servizi MiFID di Consulenza o Gestione del Portafoglio.</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 05040_Knowledge_and_Experience_AND_With_Suitability_Test
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Advice or Portfolio Management.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="AbilityToBearLossesAndWithSuitabilityTestFrance"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">05050_Ability_To_Bear_Losses_AND_With_Suitability_Test_France
Number of transactions reported as identified in conflict with Ability To Bear Losses, using MiFID services Advice or Portfolio Management.</xs:documentation>
                                 <xs:documentation xml:lang="de">05050_Ability_To_Bear_Losses_AND_With_Suitability_Test_France
Anzahl der Transaktionen, die als im Konflikt mit der Fähigkeit, Verluste zu tragen, identifiziert wurden, unter Verwendung von MiFID-Diensten Beratung oder Portfoliomanagement.</xs:documentation>
                                 <xs:documentation xml:lang="fr">05050_Ability_To_Bear_Losses_AND_With_Suitability_Test_France
Numéro de transactions reported comme identified dans conflict avec Ability To Bear Losses, using MiFID services Advice ou Portefeuille Management.</xs:documentation>
                                 <xs:documentation xml:lang="nl">05050_Ability_To_Bear_Losses_AND_With_Suitability_Test_France
Nummer van transactions reported als identified in conflict met Ability To Bear Losses, using MiFID services Advice van Portefeuille Management.</xs:documentation>
                                 <xs:documentation xml:lang="es">05050_Ability_To_Bear_Losses_AND_With_Suitability_Test_France
Numero de transacciones reportadas como identificadas en conflicto con la capacidad de soportar perdidas, utilizando servicios MiFID de asesoramiento o gestion de carteras.</xs:documentation>
                                 <xs:documentation xml:lang="it">05050_Capacità_di_sopportare_perdite_AND_con_test_di_idoneità_Francia
Numero di operazioni segnalate come identificate in conflitto con la capacità di sopportare le perdite, utilizzando i servizi MiFID di consulenza o di gestione del portafoglio.</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 05050_Ability_To_Bear_Losses_AND_With_Suitability_Test_France
Number of transactions reported as identified in conflict with Ability To Bear Losses, using MiFID services Advice or Portfolio Management.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="Widening">
                     <xs:annotation>
                        <xs:documentation xml:lang="en">Widening of Distribution Strategy Reporting Fields (ESMA para 51)</xs:documentation>
                        <xs:documentation xml:lang="de">Erweiterung der Vertriebsstrategie-Meldefelder (ESMA Abs. 51)</xs:documentation>
                        <xs:documentation xml:lang="fr">Widening de Distribution Strategy Reporting Fields (ESMA para 51)</xs:documentation>
                        <xs:documentation xml:lang="nl">Widening van Uitkering Strategy Rapportage Fields (ESMA para 51)</xs:documentation>
                        <xs:documentation xml:lang="es">Ampliacion de los campos de reporte de estrategia de distribucion (ESMA parrafo 51)</xs:documentation>
                        <xs:documentation xml:lang="it">Ampliamento dei campi di segnalazione della strategia di distribuzione (ESMA par. 51)</xs:documentation>
                        <xs:documentation xml:lang="cs">[AUTO] Widening of Distribution Strategy Reporting Fields (ESMA para 51)</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element minOccurs="0"
                                       name="OutsideIntendedDistributionStrategyRetailAndSelfService">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
In reference to ESMA Product Governance Guidelines Article 51 this field is used to disclose if the Distribution Strategy of the Distributor is widened in relation to the Distribution Strategy intended by the Manufacturer with regards to Retail Clients.</xs:documentation>
                                 <xs:documentation xml:lang="de">06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
Unter Bezugnahme auf die ESMA Product Governance Guidelines Artikel 51 wird dieses Feld verwendet, um offenzulegen, ob die Vertriebsstrategie des Vertreibers in Bezug auf Privatkunden gegenüber der vom Hersteller beabsichtigten Vertriebsstrategie erweitert wurde.</xs:documentation>
                                 <xs:documentation xml:lang="fr">06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
In référence à ESMA Product Governance Guidelines Article 51 ce champ est used à disclose si Distribution Strategy de Distributeur est widened dans relation à Distribution Strategy intended par Manufacturer avec regards à Particulier Clients.</xs:documentation>
                                 <xs:documentation xml:lang="nl">06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
In referentie naar ESMA Product Governance Guidelines Article 51 dit veld is used naar disclose als Uitkering Strategy van Distributeur is widened in relation naar Uitkering Strategy intended door Manufacturer met regards naar Particulier Clients.</xs:documentation>
                                 <xs:documentation xml:lang="es">06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
En referencia a las Directrices de Gobernanza de Productos de ESMA Articulo 51, este campo se utiliza para revelar si la estrategia de distribucion del distribuidor se ha ampliado en relacion con la estrategia de distribucion prevista por el fabricante con respecto a clientes minoristas.</xs:documentation>
                                 <xs:documentation xml:lang="it">06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
In riferimento all'Articolo 51 delle Linee guida sulla governance dei prodotti dell'ESMA, questo campo viene utilizzato per indicare se la strategia di distribuzione del Distributore è ampliata rispetto alla strategia di distribuzione prevista dal Produttore per quanto riguarda i clienti al dettaglio.</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 06010_Outside_Intended_Distribution_Strategy_Retail_And_Self_Service
In reference to ESMA Product Governance Guidelines Article 51 this field is used to disclose if the Distribution Strategy of the Distributor is widened in relation to the Distribution Strategy intended by the Manufacturer with regards to Retail Clients.</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="DeviationReportDistributorTargetMarketPerspective">
            <xs:annotation>
               <xs:documentation xml:lang="en">Deviation Report - Distributor Target Market Perspective ( For Italy - only if it is an Italan distributor with a specific distribution agreement)</xs:documentation>
               <xs:documentation xml:lang="de">Abweichungsbericht - Vertreiber-Zielmarkt-Perspektive (Für Italien - nur wenn es sich um einen italienischen Vertreiber mit spezifischem Vertriebsabkommen handelt)</xs:documentation>
               <xs:documentation xml:lang="fr">Deviation Report - Distributeur Target Marché Perspective ( For Italy - only si it est un Italan distributeur avec un spécifique distribution agreement)</xs:documentation>
               <xs:documentation xml:lang="nl">Deviation Report - Distributeur Target Markt Perspective ( For Italy - only als it is een Italan distributeur met een specifiek uitkering agreement)</xs:documentation>
               <xs:documentation xml:lang="es">Informe de desviacion - Perspectiva del mercado objetivo del distribuidor (Para Italia - solo si es un distribuidor italiano con un acuerdo de distribucion especifico)</xs:documentation>
               <xs:documentation xml:lang="it">Rapporto sugli scostamenti - Prospettiva del mercato target del distributore (per l'Italia - solo se si tratta di un distributore italiano con un accordo di distribuzione specifico)</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Deviation Report - Distributor Target Market Perspective ( For Italy - only if it is an Italan distributor with a specific distribution agreement)</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="Sales_OTM_NTM">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element minOccurs="0"
                                       name="RetailInvestorTypeAndSelfServiceVsDistributorTM_Italy"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID services Execution Only or Self Service with Appropriateness Test.
If  00050 is set to D or B</xs:documentation>
                                 <xs:documentation xml:lang="de">07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italy
Anzahl der Transaktionen, die als im Konflikt mit dem Retail-Anlegertyp identifiziert wurden, unter Verwendung von MiFID-Diensten Execution Only oder Self Service mit Angemessenheitstest.
Wenn 00050 auf D oder B gesetzt ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italy
Numéro de transactions reported comme identified dans conflict avec Particulier Investisseur Type, using MiFID services Execution Only ou Self Service avec Appropriateness Test.
If 00050 est set à D ou B</xs:documentation>
                                 <xs:documentation xml:lang="nl">07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italy
Nummer van transactions reported als identified in conflict met Particulier Belegger Type, using MiFID services Execution Only van Self Service met Appropriateness Test.
If 00050 is set naar D van B</xs:documentation>
                                 <xs:documentation xml:lang="es">07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italy
Numero de transacciones reportadas como identificadas en conflicto con el tipo de inversor minorista, utilizando servicios MiFID Execution Only o Self Service con test de idoneidad.
Si 00050 esta establecido en D o B</xs:documentation>
                                 <xs:documentation xml:lang="it">07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italia
Numero di operazioni segnalate come identificate in conflitto con la tipologia dell'investitore al dettaglio, utilizzando i servizi MiFID Execution Only o Self Service con Appropriateness Test.
Se 00050 è impostato su D o B</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 07010_Retail_Investor_Type_AND_Self_Service_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID services Execution Only or Self Service with Appropriateness Test.
If  00050 is set to D or B</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="RetailInvestorTypeAndAdviceVsDistributorTM_Italy"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID service Advice.
If  00050 is set to D or B</xs:documentation>
                                 <xs:documentation xml:lang="de">07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italy
Anzahl der Transaktionen, die als im Konflikt mit dem Retail-Anlegertyp identifiziert wurden, unter Verwendung des MiFID-Dienstes Beratung.
Wenn 00050 auf D oder B gesetzt ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italy
Numéro de transactions reported comme identified dans conflict avec Particulier Investisseur Type, using MiFID service Advice.
If 00050 est set à D ou B</xs:documentation>
                                 <xs:documentation xml:lang="nl">07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italy
Nummer van transactions reported als identified in conflict met Particulier Belegger Type, using MiFID service Advice.
If 00050 is set naar D van B</xs:documentation>
                                 <xs:documentation xml:lang="es">07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italy
Numero de transacciones reportadas como identificadas en conflicto con el tipo de inversor minorista, utilizando el servicio MiFID de asesoramiento.
Si 00050 esta establecido en D o B</xs:documentation>
                                 <xs:documentation xml:lang="it">07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italia
Numero di transazioni segnalate come identificate in conflitto con la tipologia di investitore al dettaglio, utilizzando il servizio di consulenza MiFID.
Se 00050 è impostato su D o B</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 07020_Retail_Investor_Type_AND_Advice_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Retail Investor Type, using MiFID service Advice.
If  00050 is set to D or B</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="KnowledgeAndExperienceAndSelfServiceVsDistributorTM_Italy"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">07030_Knowledge_and_Experience_AND_Self_Service_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Execution Only or Self Service with Appropriateness Test.
If  00050 is set to D or B</xs:documentation>
                                 <xs:documentation xml:lang="de">07030_Knowledge_and_Experience_AND_Self_Service_vs_DistributorTM_Italy
Anzahl der Transaktionen, die als im Konflikt mit Kenntnissen und Erfahrungen identifiziert wurden, unter Verwendung von MiFID-Diensten Execution Only oder Self Service mit Angemessenheitstest.
Wenn 00050 auf D oder B gesetzt ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">07030_Knowledge_and_Experience_AND_Self_Service_vs_DistributorTM_Italy
Numéro de transactions reported comme identified dans conflict avec Knowledge et Experience, using MiFID services Execution Only ou Self Service avec Appropriateness Test.
If 00050 est set à D ou B</xs:documentation>
                                 <xs:documentation xml:lang="nl">07030_Knowledge_and_Experience_AND_Self_Service_vs_DistributorTM_Italy
Nummer van transactions reported als identified in conflict met Knowledge en Experience, using MiFID services Execution Only van Self Service met Appropriateness Test.
If 00050 is set naar D van B</xs:documentation>
                                 <xs:documentation xml:lang="es">07030_Knowledge_and_Experience_AND_Self_Service_vs_DistributorTM_Italy
Numero de transacciones reportadas como identificadas en conflicto con conocimientos y experiencia, utilizando servicios MiFID Execution Only o Self Service con test de idoneidad.
Si 00050 esta establecido en D o B</xs:documentation>
                                 <xs:documentation xml:lang="it">07030_Conoscenza_ed_Esperienza_AND_Self_Service_vs_DistributoreTM_Italia
Numero di transazioni segnalate come identificate in conflitto con Conoscenza ed Esperienza, utilizzando i servizi MiFID Execution Only o Self Service con Appropriateness Test.
Se 00050 è impostato su D o B</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 07030_Knowledge_and_Experience_AND_Self_Service_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Execution Only or Self Service with Appropriateness Test.
If  00050 is set to D or B</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element minOccurs="0"
                                       name="KnowledgeAndExperienceAndWithSuitabilityTestVsDistributorTM_Italy"
                                       type="xs:int">
                              <xs:annotation>
                                 <xs:documentation xml:lang="en">07040_Knowledge_and_Experience_AND_With_Suitability_Test_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Advice or Portfolio Management.
If  00050 is set to D or B</xs:documentation>
                                 <xs:documentation xml:lang="de">07040_Knowledge_and_Experience_AND_With_Suitability_Test_vs_DistributorTM_Italy
Anzahl der Transaktionen, die als im Konflikt mit Kenntnissen und Erfahrungen identifiziert wurden, unter Verwendung von MiFID-Diensten Beratung oder Portfoliomanagement.
Wenn 00050 auf D oder B gesetzt ist</xs:documentation>
                                 <xs:documentation xml:lang="fr">07040_Knowledge_and_Experience_AND_With_Suitability_Test_vs_DistributorTM_Italy
Numéro de transactions reported comme identified dans conflict avec Knowledge et Experience, using MiFID services Advice ou Portefeuille Management.
If 00050 est set à D ou B</xs:documentation>
                                 <xs:documentation xml:lang="nl">07040_Knowledge_and_Experience_AND_With_Suitability_Test_vs_DistributorTM_Italy
Nummer van transactions reported als identified in conflict met Knowledge en Experience, using MiFID services Advice van Portefeuille Management.
If 00050 is set naar D van B</xs:documentation>
                                 <xs:documentation xml:lang="es">07040_Knowledge_and_Experience_AND_With_Suitability_Test_vs_DistributorTM_Italy
Numero de transacciones reportadas como identificadas en conflicto con conocimientos y experiencia, utilizando servicios MiFID de asesoramiento o gestion de carteras.
Si 00050 esta establecido en D o B</xs:documentation>
                                 <xs:documentation xml:lang="it">07040_Conoscenza_ed_Esperienza_AND_Con_Test_di_Idoneità_vs_DistributoreTM_Italia
Numero di transazioni segnalate come identificate in conflitto con Conoscenza ed Esperienza, utilizzando i servizi MiFID di Consulenza o Gestione del Portafoglio.
Se 00050 è impostato su D o B</xs:documentation>
                                 <xs:documentation xml:lang="cs">[AUTO] 07040_Knowledge_and_Experience_AND_With_Suitability_Test_vs_DistributorTM_Italy
Number of transactions reported as identified in conflict with Knowledge and Experience, using MiFID services Advice or Portfolio Management.
If  00050 is set to D or B</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EFTType">
      <xs:annotation>
         <xs:documentation xml:lang="en">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="de">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="fr">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="nl">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="es">EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
         <xs:documentation xml:lang="it">MODELLO FEEDBACK EUROPEO - EFT</xs:documentation>
         <xs:documentation xml:lang="cs">[AUTO] EUROPEAN FEEDBACK TEMPLATE - EFT</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="EFT" type="EFTReportType"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
