include_files/FundsXML4_FundStaticData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by Peter Raffelsberger (Private) -->
<!-- Mit XMLSpy v2015 (x64) (http://www.altova.com) von Kauc Karl (Erste Asset Management GmbH) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="FundStaticDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Static master data for funds including legal structure, key dates, and administrative information</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Statische Stammdaten für Funds einschließlich Rechtsstruktur, Schlüsseldaten und Verwaltungsinformationen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DomicileCountry" type="ISOCountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">ISO Country Code with two characters</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zweistelliger ISO-Ländercode des Domizils</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ListedLegalStructure" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Legal structure from enumeration: UCITS, AIF, SICAV, ...</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Rechtsstruktur aus Aufzählung: UCITS, AIF, SICAV, ...</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="UCITS"/>
							<xs:enumeration value="UCITS - SICAV"/>
							<xs:enumeration value="UCITS - SICAF"/>
							<xs:enumeration value="UCITS - CONTRACTUAL TYPE"/>
							<xs:enumeration value="AIF"/>
							<xs:enumeration value="AIF - HEDGE FUND"/>
							<xs:enumeration value="AIF - PRIVATE EQUITY FUND"/>
							<xs:enumeration value="AIF - VENTURE CAPITAL FUND"/>
							<xs:enumeration value="AIF - REAL ESTATE FUND"/>
							<xs:enumeration value="AIF - REIT"/>
							<xs:enumeration value="AIF - INFRASTRUCTURE FUND"/>
							<xs:enumeration value="AIF - COMMODITY FUND"/>
							<xs:enumeration value="AIF - SOVEREIGN WEALTH FUND"/>
							<xs:enumeration value="AIF - ELTIF"/>
							<xs:enumeration value="AIF - EUVECA"/>
							<xs:enumeration value="AIF - EUSEF"/>
							<xs:enumeration value="SPV"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnlistedLegalStructure" type="Text200Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Free text legal structure if not in enumeration</xs:documentation>
						<xs:documentation xml:lang="de">[AUTO] Freitext-Rechtsstruktur, falls nicht in Aufzählung enthalten</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="InceptionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Inception date of fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Auflegedatum des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartOfFiscalYear" type="DayMonthType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">First day of fiscal year (day/month)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Erster Tag des Geschäftsjahres (Tag/Monat)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndOfFiscalYear" type="DayMonthType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Last day of fiscal year (day/month)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Letzter Tag des Geschäftsjahres (Tag/Monat)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenClosedEnded" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines whether shares can be bought or not: OPEN or CLOSED</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definiert, ob Anteile gekauft werden können: OPEN oder CLOSED</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OPEN"/>
						<xs:enumeration value="CLOSED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClosedType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">HARD: Nobody can buy new shares. SOFT: Only existing investors can buy new shares</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] HARD: Niemand kann neue Anteile kaufen. SOFT: Nur bestehende Anleger können neue Anteile kaufen</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HARD"/>
						<xs:enumeration value="SOFT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MaturityDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maturity date (planned end date) of fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fälligkeitsdatum (geplantes Enddatum) des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when fund has been closed (due to low volume, merger, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem der Fund geschlossen wurde (wegen geringem Volumen, Fusion, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationReason" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Liquidation reason: Client Exit, Low Volume, Merger or Other</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liquidationsgrund: Kundenausstieg, geringes Volumen, Fusion oder Sonstiges</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CLIENT EXIT"/>
						<xs:enumeration value="LOW VOLUME"/>
						<xs:enumeration value="MERGER"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Administrator" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund administrator company</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Administrator des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Auditor" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund auditor company</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Wirtschaftsprüfer des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Custodian" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Custodian bank of the fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Depotbank des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestmentCompany" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment company managing the fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Investmentgesellschaft, die den Fund verwaltet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundTexts" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of fund-related texts</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Sammlung von fondbezogenen Texten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FundText" type="FundRelatedTextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SelfManagedSICAVFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if the SICAV is self-managed</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die SICAV selbstverwaltet ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Custom attributes for additional fund data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Benutzerdefinierte Attribute für zusätzliche Fund-Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Classifications" type="ClassificationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund classifications from various systems</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-Klassifikationen aus verschiedenen Systemen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Companies" type="FundCompaniesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Companies related to the fund with their roles</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Mit dem Fund verbundene Unternehmen und deren Rollen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioManagers" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the person or persons that manage the fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Informationen über die Person oder Personen, die den Fund verwalten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortfolioManager" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="Text256Type">
										<xs:annotation>
											<xs:documentation xml:lang="en">Name of the portfolio manager</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Name des Portfolio-Managers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StartDate" type="xs:date">
										<xs:annotation>
											<xs:documentation xml:lang="en">Start date from which the fund manager was responsible for managing the portfolio</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Startdatum, ab dem der Fund-Manager für die Portfolio-Verwaltung verantwortlich war</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Role" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="en">Role of the portfolio manager</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Rolle des Portfolio-Managers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="YearOfBirth" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Date of birth of the portfolio manager</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Geburtsdatum des Portfolio-Managers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Gender" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Gender of the portfolio manager</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Geschlecht des Portfolio-Managers</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Male"/>
												<xs:enumeration value="Female"/>
												<xs:enumeration value="Diverse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StartOfCareer" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Date when the portfolio manager started professional career in the financial industry</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Datum, an dem der Portfolio-Manager seine berufliche Karriere in der Finanzbranche begann</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Biography" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Biography of the Portfolio Manager</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Biografie des Portfolio-Managers</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BriefBiography" type="xs:string">
													<xs:annotation>
														<xs:documentation xml:lang="en">Brief curriculum vitae (CV) of the portfolio manager</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Kurzer Lebenslauf (CV) des Portfolio-Managers</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="BiographyLanguage" type="ISOLanguageCodeType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Language of the portfolio manager's brief biography</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Sprache der Kurzbiografie des Portfolio-Managers</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Benchmarks" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Benchmarks used for fund performance comparison</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Benchmarks für den Fund-Performance-Vergleich</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Benchmark" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="BenchmarkStaticDataType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FundHedgingStrategy" type="HedgingStrategyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hedging strategy of the fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Absicherungsstrategie des Fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OngoingCosts" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fee structure according to prospectus</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kostenstruktur gemäß Prospekt</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="OngoingCost">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CostType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Cost type: Ongoing Costs (OGC), Performance Fee, Transaction Costs</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Kostentyp: Laufende Kosten (OGC), Performancegebühr, Transaktionskosten</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ongoing Costs"/>
												<xs:enumeration value="Ongoing Charges"/>
												<xs:enumeration value="Performance Fee"/>
												<xs:enumeration value="Transaction Costs"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PublicationDate" type="xs:date"/>
									<xs:element name="ValidFrom" type="xs:date" minOccurs="0"/>
									<xs:element name="ValidTo" type="xs:date" minOccurs="0"/>
									<xs:element name="Percentage" type="PercentageType"/>
									<xs:element name="YearlyAmount" type="AmountType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Absolute amount per 10,000 in fund currency</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Absoluter Betrag pro 10.000 in Fund-Währung</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SFDRProductType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Financial Instrument SFDR Product Type - Reference to the SFDR regulation article (6, 8, or 9). 6=no Art.8/9 product, 8=ESG characteristics, 9=ESG objective</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] SFDR-Produkttyp des Finanzinstruments - Verweis auf SFDR-Verordnungsartikel (6, 8 oder 9). 6=kein Art.8/9-Produkt, 8=ESG-Merkmale, 9=ESG-Ziel</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubfundStaticDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Static data specific to subfunds within an umbrella structure</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Statische Daten spezifisch für Subfunds innerhalb einer Umbrella-Struktur</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InceptionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Inception date of subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Auflegedatum des Subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maturity date (planned end date) of subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fälligkeitsdatum (geplantes Enddatum) des Subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when subfund has been closed (due to low volume, merger, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem der Subfund geschlossen wurde (wegen geringem Volumen, Fusion, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationReason" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Liquidation reason: Client Exit, Low Volume, Merger or Other</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liquidationsgrund: Kundenausstieg, geringes Volumen, Fusion oder Sonstiges</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CLIENT EXIT"/>
						<xs:enumeration value="LOW VOLUME"/>
						<xs:enumeration value="MERGER"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Advisor" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment advisor for the subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlageberater für den Subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Companies" type="SubfundCompaniesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Companies related to the subfund with their roles</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Mit dem Subfund verbundene Unternehmen und deren Rollen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Managers" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment managers of the subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Investment-Manager des Subfund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Manager" type="CompanyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Policies" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment policies of the subfund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlagerichtlinien des Subfund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Policy" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StockExchanges" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Stock exchanges where the subfund is listed (4-character MIC codes)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Börsen, an denen der Subfund gelistet ist (4-Zeichen MIC-Codes)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exchange" maxOccurs="unbounded">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExchangeTradedFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if the subfund is exchange traded (ETF)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob der Subfund börsengehandelt ist (ETF)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundOfFundFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if this is a fund of funds</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob es sich um einen Dachfonds handelt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SocialResponsibleFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if the subfund follows socially responsible investment criteria</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob der Subfund sozial verantwortliche Anlagekriterien befolgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManagementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Management type: ACTIVE or PASSIVE</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Managementtyp: ACTIVE oder PASSIVE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="6"/>
						<xs:maxLength value="7"/>
						<xs:enumeration value="ACTIVE"/>
						<xs:enumeration value="PASSIVE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PricePublishedFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether prices are published</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob Preise veröffentlicht werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenClosedEnded" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines whether shares can be bought: OPEN or CLOSED</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definiert, ob Anteile gekauft werden können: OPEN oder CLOSED</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="6"/>
						<xs:enumeration value="OPEN"/>
						<xs:enumeration value="CLOSED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClosedType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">HARD: Nobody can buy new shares. SOFT: Only existing investors can buy new shares</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] HARD: Niemand kann neue Anteile kaufen. SOFT: Nur bestehende Anleger können neue Anteile kaufen</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
						<xs:enumeration value="HARD"/>
						<xs:enumeration value="SOFT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SalesCategory" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sales category: PUBLIC, RETAIL, RETAIL-HNW, SPECIAL</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Vertriebskategorie: PUBLIC, RETAIL, RETAIL-HNW, SPECIAL</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="6"/>
						<xs:maxLength value="11"/>
						<xs:enumeration value="PUBLIC"/>
						<xs:enumeration value="RETAIL"/>
						<xs:enumeration value="RETAIL-HNW"/>
						<xs:enumeration value="SPECIAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvestmentHorizon" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Recommended holding period in years</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Empfohlene Haltedauer in Jahren</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Minimum" type="xs:decimal" minOccurs="0"/>
						<xs:element name="Optimum" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IsFeederFor" type="IdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of the master fund if this is a feeder fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen des Master-Fonds, wenn dies ein Feeder-Fonds ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsMasterFor" type="IdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of feeder funds if this is a master fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen der Feeder-Fonds, wenn dies ein Master-Fonds ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundTexts" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of subfund-related texts</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Sammlung von subfundbezogenen Texten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FundText" type="FundRelatedTextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Custom attributes for additional subfund data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Benutzerdefinierte Attribute für zusätzliche Subfund-Daten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SingleFundStaticDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Static data specific to single funds (non-umbrella structure)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Statische Daten spezifisch für Einzelfonds (keine Umbrella-Struktur)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Advisor" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment advisor for the single fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlageberater für den Einzelfonds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Managers" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment managers of the single fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Investment-Manager des Einzelfonds</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Manager" type="CompanyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Policies" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investment policies of the single fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlagerichtlinien des Einzelfonds</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Policy" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StockExchanges" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Stock exchanges where the fund is listed (4-character MIC codes)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Börsen, an denen der Fonds gelistet ist (4-Zeichen MIC-Codes)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exchange" maxOccurs="unbounded">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExchangeTradedFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if the fund is exchange traded (ETF)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob der Fonds börsengehandelt ist (ETF)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundOfFundFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if this is a fund of funds</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob es sich um einen Dachfonds handelt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SocialResponsibleFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if the fund follows socially responsible investment criteria</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob der Fonds sozial verantwortliche Anlagekriterien befolgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManagementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Management type: ACTIVE or PASSIVE</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Managementtyp: ACTIVE oder PASSIVE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACTIVE"/>
						<xs:enumeration value="PASSIVE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PricePublishedFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether prices are published</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob Preise veröffentlicht werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesCategory" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sales category: PUBLIC, RETAIL, RETAIL-HNW, SPECIAL</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Vertriebskategorie: PUBLIC, RETAIL, RETAIL-HNW, SPECIAL</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PUBLIC"/>
						<xs:enumeration value="RETAIL"/>
						<xs:enumeration value="RETAIL-HNW"/>
						<xs:enumeration value="SPECIAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvestmentHorizon" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Recommended holding period in years</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Empfohlene Haltedauer in Jahren</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Minimum" type="xs:decimal" minOccurs="0"/>
						<xs:element name="Optimum" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IsFeederFor" type="IdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of the master fund if this is a feeder fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen des Master-Fonds, wenn dies ein Feeder-Fonds ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsMasterFor" type="IdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifiers of feeder funds if this is a master fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennungen der Feeder-Fonds, wenn dies ein Master-Fonds ist</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundCompanyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company information with role assignment for funds</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Unternehmensinformationen mit Rollenzuweisung für Funds</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ListedRole">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Distributing Agent"/>
							<xs:enumeration value="Domiciliary Agent"/>
							<xs:enumeration value="Fund Promoter"/>
							<xs:enumeration value="Legal Advisor"/>
							<xs:enumeration value="Management Company"/>
							<xs:enumeration value="Paying Agent"/>
							<xs:enumeration value="Sub Transfer Agent"/>
							<xs:enumeration value="Sub Investment Advisor"/>
							<xs:enumeration value="Swiss Paying Agent"/>
							<xs:enumeration value="Swiss Representative"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnlistedRole" type="Text200Type"/>
			</xs:choice>
			<xs:element name="RoleStart" type="xs:date" minOccurs="0"/>
			<xs:element name="RoleEnd" type="xs:date" minOccurs="0"/>
			<xs:element name="Details" type="CompanyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundCompaniesType">
		<xs:sequence>
			<xs:element name="Company" type="FundCompanyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubfundCompanyType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ListedRole">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Auditor"/>
							<xs:enumeration value="Administrator"/>
							<xs:enumeration value="Custodian"/>
							<xs:enumeration value="Distributing Agent"/>
							<xs:enumeration value="Domiciliary Agent"/>
							<xs:enumeration value="Fund Promoter"/>
							<xs:enumeration value="Investment Company"/>
							<xs:enumeration value="Legal Advisor"/>
							<xs:enumeration value="Paying Agent"/>
							<xs:enumeration value="Sub Transfer Agent"/>
							<xs:enumeration value="Sub Investment Advisor"/>
							<xs:enumeration value="Swiss Paying Agent"/>
							<xs:enumeration value="Swiss Representative"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnlistedRole" type="Text200Type"/>
			</xs:choice>
			<xs:element name="RoleStart" type="xs:date" minOccurs="0"/>
			<xs:element name="RoleEnd" type="xs:date" minOccurs="0"/>
			<xs:element name="Details" type="CompanyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubfundCompaniesType">
		<xs:sequence>
			<xs:element name="Company" type="SubfundCompanyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BenchmarkStaticDataType">
		<xs:sequence>
			<xs:element name="BenchmarkID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to Benchmark Dynamic Data</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType"/>
			<xs:element name="Provider" type="BenchmarkProviderCompany" minOccurs="0"/>
			<xs:element name="BenchmarkType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Market Index"/>
						<xs:enumeration value="Blended Benchmark"/>
						<xs:enumeration value="Custom"/>
						<xs:enumeration value="Absolute Value/Target Return"/>
						<xs:enumeration value="Peer Groups and Universes"/>
						<xs:enumeration value="Factor Based Models"/>
						<xs:enumeration value="Returns Based"/>
						<xs:enumeration value="Exchange Traded Fund"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BenchmarkUsage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>official, internal, performance attribution, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ListedType" type="BenchmarkUsageType"/>
					<xs:attribute name="FreeType">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="BenchmarkComponents" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if blended Benchmark</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BenchmarkComponent" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BenchmarkComponentID" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ValidFrom" type="xs:date"/>
									<xs:element name="ValidTo" type="xs:date" minOccurs="0"/>
									<xs:sequence>
										<xs:element name="Name">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Provider" type="BenchmarkProviderCompany" minOccurs="0"/>
										<xs:element name="Identifier" type="IdentifiersType"/>
										<xs:element name="Weight" type="PercentageType"/>
									</xs:sequence>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BenchmarkProviderCompany">
		<xs:complexContent>
			<xs:extension base="CompanyType">
				<xs:sequence>
					<xs:element name="IsESMARegisterd" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BenchmarkUsageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OFFICIAL"/>
			<xs:enumeration value="INTERNAL"/>
			<xs:enumeration value="PERFORMANCE ATTRIBUTION"/>
			<xs:enumeration value="PRIIP KID"/>
			<xs:enumeration value="UCITS KIID"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
