include_files/FundsXML4_CountrySpecificData_FR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="CountrySpecificDataFRType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for France-specific data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour France-spécifique extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificControlDataFRType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for France-specific control data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour France-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificFundDataFRType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for France-specific fund data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour France-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificAssetMasterDataFRType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for France-specific asset master data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour France-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificShareClassDataFRType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for France-specific share class data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour France-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountrySpecificEMTFRType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder for France-specific EMT data extensions (not yet implemented)</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Platzhalter für Frankreich-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
			<xs:documentation xml:lang="fr">Espace réservé pour France-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
			<xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Frankrijk-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
