include_files/FundsXML4_ShareClassData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) von newmagic datensysteme gmbh (newmagic datensysteme gmbh) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:include schemaLocation="FundsXML4_PortfolioData.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_SolvencyII.xsd"/>
	<xs:complexType name="ShareClassType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Complete data structure for a share class including static and dynamic data</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Vollständige Datenstruktur für eine ShareClass einschließlich statischer und dynamischer Daten</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class identifiers</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-Kennungen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="NamesType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Names of share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Namen der ShareClass</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Währung der ShareClass</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClassType" type="ShareClassTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Type of share class (A,B,I,...) along with description of the type</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Typ der ShareClass (A,B,I,...) mit Beschreibung des Typs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InceptionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Inception date of share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Auflegedatum der ShareClass</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when share class has been closed (due to low volume, merger, ...)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem die ShareClass geschlossen wurde (wegen geringem Volumen, Fusion, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationReason" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Liquidation reason: Client Exit, Low Volume, Merger or Other</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liquidationsgrund: Kundenausstieg, geringes Volumen, Fusion oder Sonstiges</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CLIENT EXIT"/>
						<xs:enumeration value="LOW VOLUME"/>
						<xs:enumeration value="MERGER"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegistrationCountries" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains information where the share class is registered and distributed</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Enthält Informationen, wo die ShareClass registriert und vertrieben wird</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RegistrationCountry" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CountryCode" type="ISOCountryCodeType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Share class registration countries (host countries)</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Registrierungsländer der ShareClass (Gastländer)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Status" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Additional information about the registration in a specific country</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Zusätzliche Informationen zur Registrierung in einem bestimmten Land</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Registered"/>
												<xs:enumeration value="De-registered"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Date when the fund or share class is registered or de-registered in the country</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Datum der Registrierung oder Deregistrierung des Fonds oder der ShareClass im Land</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SubStatus" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Indicates if an investor limitation exists for related registration country</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Gibt an, ob eine Anlegerbeschränkung für das Registrierungsland besteht</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Institutional Investors only"/>
												<xs:enumeration value="Qualified Investors only"/>
												<xs:enumeration value="Retail Investors only"/>
												<xs:enumeration value="Authorised CIS"/>
												<xs:enumeration value="Recognised CIS"/>
												<xs:enumeration value="Restricted authorised CIS"/>
												<xs:enumeration value="Restricted recognised CIS"/>
												<xs:enumeration value="Qualifying CIS under ASEAN CIS framework"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MarketingDistributionStatus" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Additional information about the marketing distribution in a specific country</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Zusätzliche Informationen zum Marketingvertrieb in einem bestimmten Land</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Registered"/>
												<xs:enumeration value="De-registered"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MarketingDistributionStatusDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Date when the distribution of the fund or share class started or ended in the country</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Datum des Beginns oder Endes des Vertriebs des Fonds oder der ShareClass im Land</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriptionRestrictions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies restrictions on the purchase of a share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Spezifiziert Beschränkungen beim Kauf einer ShareClass</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MinSubscriptionAmount" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the minimum initial subscription value in the relevant currency. 0 EUR means that there is no minimum applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt den Mindestbetrag für die Erstzeichnung in der entsprechenden Währung an. 0 EUR bedeutet, dass kein Mindestbetrag gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinSubscriptionShares" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the minimum initial number of units/shares that must be purchased if any. 0 means that there is no minimum applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt die Mindestanzahl an Anteilen/Aktien für die Erstzeichnung an. 0 bedeutet, dass kein Minimum gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinSubscriptionAmountSubsequent" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the minimum subscription value for existing investors expressed in the relevant currency. 0 EUR means that there is no minimum applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt den Mindestzeichnungsbetrag für Folgezeichnungen bestehender Anleger an. 0 EUR bedeutet, dass kein Mindestbetrag gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinSubscriptionSharesSubsequent" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the minimum number of units/shares that must be purchased by existing investors if any. 0 means that there is no minimum applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt die Mindestanzahl an Anteilen für Folgezeichnungen bestehender Anleger an. 0 bedeutet, dass kein Minimum gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinRegularInvestmentAmount" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the Minimum Regular Investment amount allowed (e.g. EUR 1000). 0 EUR means that there is no Minimum Regular Investment.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt den Mindestbetrag für regelmäßige Anlagen an (z.B. EUR 1000). 0 EUR bedeutet, dass kein Mindestbetrag gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinRegularInvestmentShares" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Enter the Minimum Regular Investment in units/shares allowed. Format is Numeric Value (e.g. if 1 Share then enter 1). 0 means that there is no Minimum Regular Investment in units/shares applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt die Mindestanzahl an Anteilen für regelmäßige Anlagen an. 0 bedeutet, dass kein Minimum für regelmäßige Anlagen gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OtherSubscriptionRestrictions" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicate any other restrictions that may limit an investor's ability to subscribe.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt sonstige Beschränkungen an, die die Zeichnungsmöglichkeiten eines Anlegers einschränken können.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RedemptionRestrictions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies restrictions on the sale of a share class.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Spezifiziert Beschränkungen beim Verkauf einer ShareClass.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MaxRedemptionAmount" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the maximum redemption value in the relevant currency. 0 EUR means that there is no maximum redemption value applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt den maximalen Rücknahmebetrag in der entsprechenden Währung an. 0 EUR bedeutet, dass kein Höchstbetrag gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaxRedemptionShares" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the maximum number of units/shares that may be redeemed. 0 means that there is no maximum number of shares applicable.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt die maximale Anzahl an Anteilen an, die zurückgegeben werden können. 0 bedeutet, dass keine Höchstzahl gilt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinHoldingPeriod" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the number of months that shares must be held before redemption is permitted.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt die Anzahl der Monate an, die Anteile gehalten werden müssen, bevor eine Rücknahme erlaubt ist.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OtherRedemptionRestrictions" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicate any other restrictions that may limit an investor's ability to redeem.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gibt sonstige Beschränkungen an, die die Rücknahmemöglichkeiten eines Anlegers einschränken können.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MinimumInvestment" type="FundAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">deprecated</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] veraltet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenToNewInvestorsFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether the share class is open to new investors</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die ShareClass für neue Anleger offen ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyHedgedFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether the share class currency is hedged</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die Währung der ShareClass abgesichert ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundHedgingStrategy" type="HedgingStrategyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hedging strategy applied to the share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Absicherungsstrategie der ShareClass</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsLeveragedFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether leverage is used for the share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob für die ShareClass ein Hebel eingesetzt wird</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsReferenceShareClass" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if this is the reference share class of the fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob dies die Referenz-ShareClass des Fonds ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsPublicFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines whether price is published</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob der Preis veröffentlicht wird</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prices" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Price related data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Preisbezogene Daten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Price" type="ShareClassPriceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalAssetValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total NAV (volume) of share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gesamtes NAV (Volumen) der ShareClass</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalAssetValue" type="TotalAssetValueType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Distributions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dividend related data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dividendenbezogene Daten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Distribution" type="DistributionType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Fees" type="FeesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of fees paid or received by fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Details zu Gebühren, die vom Fonds gezahlt oder erhalten werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flows" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subscriptions and redemptions (single transactions data and/or aggregated data)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zeichnungen und Rücknahmen (einzelne Transaktionsdaten und/oder aggregierte Daten)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Flow" type="FlowType" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="from" type="xs:date"/>
					<xs:attribute name="to" type="xs:date"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PerformanceFigures" type="PerformanceFiguresType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Performance values, total return values, ratings</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Performance-Werte, Total Return-Werte, Ratings</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Portfolios" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Portfolio related data (of this share class only)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Portfoliobezogene Daten (nur für diese ShareClass)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Portfolio" type="PortfolioType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Portfolio data including total net asset values, positions, transactions, breakdowns, ...</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Portfolio-Daten einschließlich Gesamtnettovermögenswerte, Positionen, Transaktionen, Aufschlüsselungen, ...</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BlockedInvestorCountries" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investors of these countries cannot buy this share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anleger aus diesen Ländern können diese ShareClass nicht kaufen</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Country" type="ISOCountryCodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HighWatermark" type="HighWatermarkType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">High watermark details</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] High Watermark-Details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PEA_EligibleFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates eligibility for French Plan d'Epargne en Actions (PEA)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die ShareClass für den französischen Plan d'Epargne en Actions (PEA) geeignet ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetailInvestorsOnly" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether the share class is only for retail investors</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die ShareClass nur für Privatanleger bestimmt ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UK_RDR_Flag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Retail only share class according to UK definition</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nur-Retail-ShareClass gemäß UK-Definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferAgent" type="CompanyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Transfer agent responsible for the share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Transfer Agent, der für die ShareClass zuständig ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Investors" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of investors</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Liste der Anleger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Investor" type="InvestorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvestorAllocation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Breakdown by investor types</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Aufschlüsselung nach Anlegertypen</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Allocation" type="AllocationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarketPlaces" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the market places of a share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Informationen zu den Handelsplätzen einer ShareClass</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarketPlace" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MarketIdentifierCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The Market Identifier Code (MIC) is a unique identification code used to identify securities trading exchanges, regulated and non-regulated trading markets. The MIC is a four alpha character code, and is defined in ISO 10383.</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Der Market Identifier Code (MIC) ist ein eindeutiger Identifikationscode zur Kennzeichnung von Wertpapierbörsen und regulierten sowie nicht regulierten Handelsplätzen. Der MIC ist ein vierstelliger Buchstabencode gemäß ISO 10383.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NAVCurrency" type="ISOCurrencyCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The NAV Currency allowed on that Market Place for the related share class</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Die NAV-Währung, die auf diesem Handelsplatz für die zugehörige ShareClass zulässig ist</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TradingCurrency" type="ISOCurrencyCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The Trading Currency used on that Market place for specified NAV Currency</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Die Handelswährung, die auf diesem Handelsplatz für die angegebene NAV-Währung verwendet wird</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MarketMaker" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="xs:string">
													<xs:annotation>
														<xs:documentation xml:lang="en">Name of the Market Maker</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Name des Market Makers</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Identifier" type="IdentifiersType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Identifiers for the Market Maker</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Kennungen des Market Makers</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Generic structure for custom specific data which cannot be stored somewhere else</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Generische Struktur für benutzerdefinierte Daten, die nicht anderweitig gespeichert werden können</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySpecificData" type="CountrySpecificShareClassDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country-specific data for share class</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Länderspezifische Daten für die ShareClass</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShareClassPriceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Price data for a share class including NAV and subscription/redemption prices</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Preisdaten für eine ShareClass einschließlich NAV und Zeichnungs-/Rücknahmepreise</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">Operational code: Create(C), Modify(M) or Delete(D)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Operationscode: Erstellen(C), Ändern(M) oder Löschen(D)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="C"/>
						<xs:enumeration value="D"/>
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NavDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date of the calculated price per share if you don't know if it's the valuation price or calculation price</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum des berechneten Anteilspreises, wenn nicht bekannt ist, ob es sich um den Bewertungs- oder Berechnungspreis handelt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceCalculationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date when the price per share is calculated</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem der Anteilspreis berechnet wird</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceValuationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Valuation date of the price per share. Indicates which valuation date for price calculation is used.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Bewertungsdatum des Anteilspreises. Gibt an, welches Bewertungsdatum für die Preisberechnung verwendet wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceCurrency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Currency of the calculated price (use the 3 characters ISO code 4217)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Währung des berechneten Preises (3-stelliger ISO-Code 4217 verwenden)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceNature">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information whether the calculated price is an official, estimated or technical price</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Information, ob es sich um einen offiziellen, geschätzten oder technischen Preis handelt</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="9"/>
						<xs:enumeration value="OFFICIAL"/>
						<xs:enumeration value="ESTIMATED"/>
						<xs:enumeration value="TECHNICAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NavPrice">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net Asset value calculated per share</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Berechneter Nettoinventarwert pro Anteil</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" fixed="false"/>
						<xs:fractionDigits value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubscriptionPrice" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subscription price per share</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zeichnungspreis pro Anteil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RedemptionPrice" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Redemption price per share</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Rücknahmepreis pro Anteil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPrices" type="OtherPricesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Additional price types</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Weitere Preisarten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SplitFactor" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Split factor in case of NAV split</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Splitfaktor bei einem NAV-Split</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlowType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Subscription and redemption flow data</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Zeichnungs- und Rücknahme-Fluss-Daten</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">Operational code: Create(C), Modify(M), Delete(D) below information</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Operationscode: Erstellen(C), Ändern(M), Löschen(D) der folgenden Informationen</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="C"/>
						<xs:enumeration value="D"/>
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataGroupedBy" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines whether data is already grouped by specific fields; "Nothing" indicates that information is on separate transaction level</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definiert, ob die Daten bereits nach bestimmten Feldern gruppiert sind; "Nothing" bedeutet, dass die Informationen auf Einzeltransaktionsebene vorliegen</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Nothing"/>
						<xs:enumeration value="AccountingDate"/>
						<xs:enumeration value="SettlementDate"/>
						<xs:enumeration value="TradeDate"/>
						<xs:enumeration value="ValueDate"/>
						<xs:enumeration value="TransactionType"/>
						<xs:enumeration value="Channel"/>
						<xs:enumeration value="InvestorID"/>
						<xs:enumeration value="InvestorType"/>
						<xs:enumeration value="InvestorCountry"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataGroupedByFrequency" type="FrequencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines the time period for grouped data (if DataGroupedBy contains a date field)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Definiert den Zeitraum für gruppierte Daten (wenn DataGroupedBy ein Datumsfeld enthält)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionID" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unique ID of transaction (also needed for cancellations)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Eindeutige ID der Transaktion (auch für Stornierungen erforderlich)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date trade has been initiated</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem der Handel initiiert wurde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date transaction has been booked in accounting system</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem die Transaktion im Buchhaltungssystem verbucht wurde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlementDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date transaction has been settled</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem die Transaktion abgewickelt wurde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date transaction is effective on customer account</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, an dem die Transaktion auf dem Kundenkonto wirksam wird</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subscription or Redemption (SUB,RED)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zeichnung oder Rücknahme (SUB, RED)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="SUB"/>
						<xs:pattern value="RED"/>
						<xs:enumeration value="RED"/>
						<xs:enumeration value="SUB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionSubtype" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">reinvested dividend, capital repayment, equity increase for closed-ended funds, additional investment, repayment of liabilities, restructuring plan</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Reinvestierte Dividende, Kapitalrückzahlung, Kapitalerhöhung bei geschlossenen Fonds, zusätzliche Anlage, Rückzahlung von Verbindlichkeiten, Restrukturierungsplan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Netted" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Whether data is already netted or not</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Ob die Daten bereits saldiert sind oder nicht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cancellation" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicator for cancellation</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennzeichen für Stornierung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalTransactionID" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Original ID of cancelled transaction</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Original-ID der stornierten Transaktion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Units" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of shares/units bought or sold (should be always positive)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anzahl der gekauften oder verkauften Anteile (sollte immer positiv sein)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FXRate" type="FXRatesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Foreign exchange rate used for transaction</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Für die Transaktion verwendeter Wechselkurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalValue" type="FundAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total value of transaction</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gesamtwert der Transaktion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Channel" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Retail, Institutional, Wholesale, website, distribution partner etc.</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Retail, Institutionell, Großhandel, Website, Vertriebspartner etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorID" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unique ID of investor</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Eindeutige ID des Anlegers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorTypes" type="InvestorTypesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Private, Institutional, Asset Manager, Banks, Pension Funds, Insurances, Treasury, Charities, … (AIFMD "ID 208 - Investor Group Type")</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Privat, Institutionell, Vermögensverwalter, Banken, Pensionsfonds, Versicherungen, Treasury, Wohltätigkeitsorganisationen, ... (AIFMD "ID 208 - Anlegergruppen-Typ")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorCountry" type="ISOCountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country of investor</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Land des Anlegers</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PerformanceFiguresType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Performance figures related data</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Performancebezogene Daten</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">Operational code: Create(C), Modify(M), Delete(D) below information</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Operationscode: Erstellen(C), Ändern(M), Löschen(D) der folgenden Informationen</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="C"/>
						<xs:enumeration value="D"/>
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalReturns" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalReturn" type="TotalReturnType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Performances" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Performance" type="PerformanceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ratings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rating" type="RatingType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalReturnType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Total return data including currency and calculation periods</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Total Return-Daten einschließlich Währung und Berechnungszeiträume</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Currency of the total return value</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Währung des Total Return-Wertes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation xml:lang="en">Absolute and/or percentage value</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Absoluter und/oder prozentualer Wert</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="AbsoluteValue" type="xs:decimal"/>
						<xs:sequence>
							<xs:element name="PercentageValue" type="PercentageType"/>
							<xs:element name="AbsoluteValue" type="xs:decimal" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidityDate" type="xs:date"/>
			<xs:element name="CalculationPeriod" type="CalculationPeriodType"/>
			<xs:element name="AnnualizedFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CalculationMethod" type="Text500Type" minOccurs="0"/>
			<xs:element name="Investment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Single or savings plan investment amounts</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Einmal- oder Sparplan-Anlagebeträge</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="SingleInvestment" type="FundAmountType"/>
						<xs:sequence>
							<xs:element name="SavingsPlanInvestment" type="FundAmountType"/>
							<xs:element name="SavingsPlanFrequency" type="FrequencyType" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartCalculationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Start date for performance calculation</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Startdatum für die Performance-Berechnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrectionCoefficient" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Correction coefficient applied to calculation</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Auf die Berechnung angewandter Korrekturkoeffizient</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReinvestmentCoefficient" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Reinvestment coefficient for dividend reinvestment</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Wiederanlagekoeffizient für Dividendenreinvestition</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PerformanceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Performance data including calculation method and period</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Performance-Daten einschließlich Berechnungsmethode und Zeitraum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ValidityDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date for which the performance value is valid</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum, für das der Performance-Wert gültig ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationPeriod" type="CalculationPeriodType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Period over which performance is calculated</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zeitraum, über den die Performance berechnet wird</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PercentageValue" type="PercentageType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Performance value as percentage</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Performance-Wert in Prozent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnnualizedFlag" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if performance is annualized</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die Performance annualisiert ist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationMethod" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Method used for performance calculation</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Methode für die Performance-Berechnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartCalculationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Start date for performance calculation</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Startdatum für die Performance-Berechnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Investment" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="SingleInvestment" type="FundAmountType"/>
						<xs:sequence>
							<xs:element name="SavingsPlanInvestment" type="FundAmountType"/>
							<xs:element name="SavingsPlanFrequency" type="FrequencyType" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="DateInterval" type="DateIntervalType" minOccurs="0"/>
			<xs:element name="DataSeries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DataPoint" type="DataPointType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Rating information from rating agencies</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Rating-Informationen von Ratingagenturen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Note" type="Text256Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rating note or grade</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Rating-Note oder -Bewertung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumericalValue" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Numerical rating value</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Numerischer Rating-Wert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityStartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Start date of rating validity</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Beginn der Gültigkeit des Ratings</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">End date of rating validity</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Ende der Gültigkeit des Ratings</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityEndRationale" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Reason for rating validity end</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Grund für das Ende der Rating-Gültigkeit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ListedAgency">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="FERI"/>
							<xs:enumeration value="FITCH"/>
							<xs:enumeration value="MOODYS"/>
							<xs:enumeration value="MORNINGSTAR"/>
							<xs:enumeration value="STANDARD-POORS"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnlistedAgency" type="CompanyType"/>
			</xs:choice>
			<xs:element name="Descriptions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Description" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Language" type="xs:language"/>
									<xs:element name="Description" type="xs:string" minOccurs="0"/>
									<xs:element name="Caption" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataPointType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Single data point with date and value</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Einzelner Datenpunkt mit Datum und Wert</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date of the data point</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Datum des Datenpunkts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Value at this data point</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Wert an diesem Datenpunkt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeStamp" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Time stamp for intraday data points</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zeitstempel für Intraday-Datenpunkte</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CalculationPeriodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1 Day"/>
			<xs:enumeration value="1 Week"/>
			<xs:enumeration value="1 Month"/>
			<xs:enumeration value="3 Months"/>
			<xs:enumeration value="6 Months"/>
			<xs:enumeration value="YTD"/>
			<xs:enumeration value="1 Year"/>
			<xs:enumeration value="3 Years"/>
			<xs:enumeration value="5 Years"/>
			<xs:enumeration value="10 Years"/>
			<xs:enumeration value="Since launch"/>
			<xs:enumeration value="Specific"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateIntervalType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Intraday"/>
			<xs:enumeration value="Daily"/>
			<xs:enumeration value="Weekly "/>
			<xs:enumeration value="Monthly"/>
			<xs:enumeration value="Quarterly"/>
			<xs:enumeration value="Yearly"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FeePeriodDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Fee data for a specific period</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Gebührendaten für einen bestimmten Zeitraum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BeginDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Begin date of Period</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Beginn des Zeitraums</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">End date of Period</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Ende des Zeitraums</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">For OngoingPeriod only. Current Date (or last calculation date).</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nur für laufende Perioden. Aktuelles Datum (oder letztes Berechnungsdatum).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Values">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TNA" type="FundAmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Total net assets of Portfolio or Share class used as reference for fee.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Gesamtnettovermögen des Portfolios oder der ShareClass als Referenz für die Gebühr.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CalculationBasis" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Basis of fee calculation if different from TNA</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Basis für die Gebührenberechnung, falls abweichend vom TNA</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BasisType" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="en">Definition of the calculation basis (to which PercentageOfBasis applies).</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Definition der Berechnungsbasis (auf die der prozentuale Anteil angewendet wird).</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BasisValue" type="FundAmountType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Actual amount of Basis</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Tatsächlicher Betrag der Basis</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FeeAsPercentageOfBasis" type="PercentageType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FeeAsPercentageOfTNA" type="PercentageType"/>
						<xs:element name="ActualFeeAmount" type="FundAmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Actual amount of current fee for Period (with Currency as attribute)</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Tatsächlicher Betrag der aktuellen Gebühr für den Zeitraum (mit Währung als Attribut)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CalculationData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Variable" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Variable/Parameter used for Fee calculation</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Variable/Parameter für die Gebührenberechnung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Name of Variable</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Name der Variablen</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Value" type="xs:decimal">
										<xs:annotation>
											<xs:documentation xml:lang="en">Value of Indicator</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Wert des Indikators</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of fee information</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Sammlung von Gebühreninformationen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fee" type="ShareClassFeeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of fee paid or received of fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Details der vom Fonds gezahlten oder erhaltenen Gebühr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShareClassFeeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Fee structure for a share class</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Gebührenstruktur für eine ShareClass</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="Text256Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Type of fee</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Art der Gebühr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayReceive">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicator Paid by the fund or Received by the fund</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennzeichen: Vom Fonds gezahlt oder vom Fonds erhalten</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="R"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Minimum" type="PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Minimum value of Fee as percentage of TotalNetAssets</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Minimalwert der Gebühr in Prozent des Gesamtnettovermögens</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Maximum" type="PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maximum value of Fee as percentage of TotalNetAssets</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Maximalwert der Gebühr in Prozent des Gesamtnettovermögens</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationMethod" type="Text1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description of calculation method</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Beschreibung der Berechnungsmethode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataByPeriods" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dynamic data for the Fee</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Dynamische Daten für die Gebühr</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DataByPeriod" type="FeePeriodDataType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Data of past and ongoing periods. Ongoing period for fees with accrual day by day. Only the most recent date is stored.</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Daten vergangener und laufender Perioden. Laufende Periode für Gebühren mit täglicher Abgrenzung. Nur das jüngste Datum wird gespeichert.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvestorTypesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Classification of investor types according to various regulatory frameworks</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Klassifizierung von Anlegertypen nach verschiedenen regulatorischen Rahmenwerken</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ECB" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investor type according to ECB classification</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlegertyp gemäß EZB-Klassifizierung</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RETAIL INVESTOR"/>
						<xs:enumeration value="PROFESSIONAL INVESTOR"/>
						<xs:enumeration value="INSTITUTIONAL INVESTOR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EMIR" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investor type according to EMIR classification</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlegertyp gemäß EMIR-Klassifizierung</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="A"/>
						<xs:enumeration value="C"/>
						<xs:enumeration value="F"/>
						<xs:enumeration value="I"/>
						<xs:enumeration value="L"/>
						<xs:enumeration value="O"/>
						<xs:enumeration value="R"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AIFMD" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investor type according to AIFMD classification (ID 208 - Investor Group Type)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlegertyp gemäß AIFMD-Klassifizierung (ID 208 - Anlegergruppen-Typ)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
						<xs:enumeration value="NFCO"/>
						<xs:enumeration value="BANK"/>
						<xs:enumeration value="INSC"/>
						<xs:enumeration value="OFIN"/>
						<xs:enumeration value="PFND"/>
						<xs:enumeration value="GENG"/>
						<xs:enumeration value="OCIU"/>
						<xs:enumeration value="HHLD"/>
						<xs:enumeration value="UNKN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CentralBank" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investor type according to Central Bank classification</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlegertyp gemäß Zentralbank-Klassifizierung</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Country" type="ISOCountryCodeType"/>
						<xs:element name="ForeignFlag" type="xs:boolean"/>
						<xs:element name="Category">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="2"/>
									<xs:maxLength value="3"/>
									<xs:enumeration value="CRI"/>
									<xs:enumeration value="IC"/>
									<xs:enumeration value="LIC"/>
									<xs:enumeration value="OIC"/>
									<xs:enumeration value="PFI"/>
									<xs:enumeration value="OFI"/>
									<xs:enumeration value="FAX"/>
									<xs:enumeration value="NFC"/>
									<xs:enumeration value="GGV"/>
									<xs:enumeration value="SGV"/>
									<xs:enumeration value="LGV"/>
									<xs:enumeration value="SII"/>
									<xs:enumeration value="SPF"/>
									<xs:enumeration value="PNP"/>
									<xs:enumeration value="OTH"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FundSquare" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Investor type according to FundSquare classification</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anlegertyp gemäß FundSquare-Klassifizierung</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RETAIL"/>
						<xs:enumeration value="GROSS"/>
						<xs:enumeration value="QUALIFIED"/>
						<xs:enumeration value="INSTITUTIONAL"/>
						<xs:enumeration value="INTERMEDIARIES"/>
						<xs:enumeration value="DEDICATED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HighWatermarkType">
		<xs:annotation>
			<xs:documentation xml:lang="en">High watermark information for performance fee calculation</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] High Watermark-Informationen für die Performance-Gebührenberechnung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExistingFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if a high watermark exists</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob ein High Watermark existiert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Percentage" type="PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">High watermark as percentage</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] High Watermark als Prozentsatz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="FundAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">High watermark as absolute amount</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] High Watermark als absoluter Betrag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Text1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description of high watermark mechanism</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Beschreibung des High Watermark-Mechanismus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodicalResetFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if high watermark is periodically reset</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob das High Watermark periodisch zurückgesetzt wird</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResetFrequency" type="FrequencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Frequency of high watermark reset</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Häufigkeit der High Watermark-Zurücksetzung</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvestorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about an investor</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Informationen über einen Anleger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Reference date for investor data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Referenzdatum für die Anlegerdaten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorID" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unique identifier of the investor</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Eindeutige Kennung des Anlegers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorName" type="Text500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of the investor</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Name des Anlegers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorCountry" type="ISOCountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country of the investor</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Land des Anlegers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorTypes" type="InvestorTypesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Private, Institutional, Asset Manager, Banks, Pension Funds, Insurances, Treasury, Charities, … (AIFMD "ID 208 - Investor Group Type")</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Privat, Institutionell, Vermögensverwalter, Banken, Pensionsfonds, Versicherungen, Treasury, Wohltätigkeitsorganisationen, ... (AIFMD "ID 208 - Anlegergruppen-Typ")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfShares" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of shares held by the investor</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anzahl der vom Anleger gehaltenen Anteile</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DistributionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Dividend distribution information</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Dividendenausschüttungsinformationen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">Operational code: Create(C), Modify(M) or Delete(D)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Operationscode: Erstellen(C), Ändern(M) oder Löschen(D)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="C"/>
						<xs:enumeration value="D"/>
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DividendStatus">
				<xs:annotation>
					<xs:documentation xml:lang="en">ESTIMATED or OFFICIAL</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] GESCHÄTZT oder OFFIZIELL</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="9"/>
						<xs:enumeration value="ESTIMATED"/>
						<xs:enumeration value="OFFICIAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AnnouncementDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Announcement or declaration date</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Ankündigungs- oder Erklärungsdatum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Record date</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Stichtag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Ex dividend date</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Ex-Dividenden-Datum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">Payment date of dividend</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zahlungsdatum der Dividende</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCurrency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Payment currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zahlungswährung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossDividendAmount">
				<xs:annotation>
					<xs:documentation xml:lang="en">Gross dividend amount</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Bruttodividendenbetrag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Total" type="PositiveAmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Gross dividend amount total value</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Bruttodividendenbetrag Gesamtwert</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PerShare" type="PositiveAmountType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Gross dividend amount per share</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Bruttodividendenbetrag pro Anteil</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NetDividendAmount">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net dividend amount</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nettodividendenbetrag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Total" type="PositiveAmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Net dividend amount total value</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Nettodividendenbetrag Gesamtwert</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PerShare" type="PositiveAmountType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Net dividend amount per share</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Nettodividendenbetrag pro Anteil</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReinvestmentRate" type="PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Reinvestment rate in percentage</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Wiederanlagequote in Prozent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EqualizationRate" type="PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Equalization rate in percentage</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Ausgleichsquote in Prozent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartialPaymentFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicator for partial payment of dividend (default: false)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennzeichen für Teilzahlung der Dividende (Standard: false)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistributionFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if dividend will be distributed (default: true)</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die Dividende ausgeschüttet wird (Standard: true)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExceptionalFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates if dividend has been planned on a yearly schedule or not</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Gibt an, ob die Dividende im Jahresplan vorgesehen war oder nicht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntermediaryFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicator for intermediary dividend</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Kennzeichen für Zwischendividende</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="Text1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Additional information in text format like "has been calculated and distributed by FinTech"</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Zusätzliche Informationen im Textformat wie "wurde von FinTech berechnet und ausgeschüttet"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allocation breakdown by investor type</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Allokationsaufschlüsselung nach Anlegertyp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NavDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">NAV date for the allocation data</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] NAV-Datum für die Allokationsdaten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvestorTypes" type="InvestorTypesType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Private, Institutional, Asset Manager, Banks, Pension Funds, Insurances, Treasury, Charities, … (AIFMD "ID 208 - Investor Group Type")</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Privat, Institutionell, Vermögensverwalter, Banken, Pensionsfonds, Versicherungen, Treasury, Wohltätigkeitsorganisationen, ... (AIFMD "ID 208 - Anlegergruppen-Typ")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfShares" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of shares held by this investor type</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anzahl der von diesem Anlegertyp gehaltenen Anteile</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
