include_files/FundsXML4_CountrySpecificData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) von XMLSpy2013 (s IT Solutions AT Spardat GmbH z.B. Buchhaltung) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_AT.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_DE.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_DK.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_FR.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_LU.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_NL.xsd"/>
	<xs:complexType name="CountrySpecificDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for country-specific data extensions</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für länderspezifische Datenerweiterungen</xs:documentation>
			<xs:documentation xml:lang="fr">Conteneur pour spécifique au pays extensions de données</xs:documentation>
			<xs:documentation xml:lang="nl">Container voor landspecifiek gegevens-uitbreidingen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AT" type="CountrySpecificDataATType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Top level data for Austria</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Österreich</xs:documentation>
					<xs:documentation xml:lang="fr">Top level données pour Autriche</xs:documentation>
					<xs:documentation xml:lang="nl">Top level gegevens voor Oostenrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DE" type="CountrySpecificDataDEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Top level data for Germany</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Deutschland</xs:documentation>
					<xs:documentation xml:lang="fr">Top level données pour Allemagne</xs:documentation>
					<xs:documentation xml:lang="nl">Top level gegevens voor Duitsland</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DK" type="CountrySpecificDataDKType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Top level data for Denmark</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Dänemark</xs:documentation>
					<xs:documentation xml:lang="fr">Top level données pour Danemark</xs:documentation>
					<xs:documentation xml:lang="nl">Top level gegevens voor Denemarken</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FR" type="CountrySpecificDataFRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Top level data for France</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Frankreich</xs:documentation>
					<xs:documentation xml:lang="fr">Top level données pour France</xs:documentation>
					<xs:documentation xml:lang="nl">Top level gegevens voor Frankrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LU" type="CountrySpecificDataLUType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Top level data for Luxembourg</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Luxemburg</xs:documentation>
					<xs:documentation xml:lang="fr">Top level données pour Luxembourg</xs:documentation>
					<xs:documentation xml:lang="nl">Top level gegevens voor Luxemburg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NL" type="CountrySpecificDataNLType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Top level data for the Netherlands</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für die Niederlande</xs:documentation>
					<xs:documentation xml:lang="fr">Top level données pour Pays-Bas</xs:documentation>
					<xs:documentation xml:lang="nl">Top level gegevens voor Nederland</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountrySpecificFundDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for country-specific fund data extensions</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für länderspezifische Fund-Datenerweiterungen</xs:documentation>
			<xs:documentation xml:lang="fr">Conteneur pour spécifique au pays fonds extensions de données</xs:documentation>
			<xs:documentation xml:lang="nl">Container voor landspecifiek fonds gegevens-uitbreidingen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AT" type="CountrySpecificFundDataATType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund related data for Austria</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Österreich</xs:documentation>
					<xs:documentation xml:lang="fr">Fonds related données pour Autriche</xs:documentation>
					<xs:documentation xml:lang="nl">Fonds related gegevens voor Oostenrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DE" type="CountrySpecificFundDataDEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund related data for Germany</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Deutschland</xs:documentation>
					<xs:documentation xml:lang="fr">Fonds related données pour Allemagne</xs:documentation>
					<xs:documentation xml:lang="nl">Fonds related gegevens voor Duitsland</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DK" type="CountrySpecificFundDataDKType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund related data for Denmark</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Dänemark</xs:documentation>
					<xs:documentation xml:lang="fr">Fonds related données pour Danemark</xs:documentation>
					<xs:documentation xml:lang="nl">Fonds related gegevens voor Denemarken</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FR" type="CountrySpecificFundDataFRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund related data for France</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Frankreich</xs:documentation>
					<xs:documentation xml:lang="fr">Fonds related données pour France</xs:documentation>
					<xs:documentation xml:lang="nl">Fonds related gegevens voor Frankrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LU" type="CountrySpecificFundDataLUType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund related data for Luxembourg</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Luxemburg</xs:documentation>
					<xs:documentation xml:lang="fr">Fonds related données pour Luxembourg</xs:documentation>
					<xs:documentation xml:lang="nl">Fonds related gegevens voor Luxemburg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NL" type="CountrySpecificFundDataNLType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fund related data for the Netherlands</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für die Niederlande</xs:documentation>
					<xs:documentation xml:lang="fr">Fonds related données pour Pays-Bas</xs:documentation>
					<xs:documentation xml:lang="nl">Fonds related gegevens voor Nederland</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountrySpecificShareClassDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for country-specific share class data extensions</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für länderspezifische ShareClass-Datenerweiterungen</xs:documentation>
			<xs:documentation xml:lang="fr">Conteneur pour spécifique au pays classe d'actions extensions de données</xs:documentation>
			<xs:documentation xml:lang="nl">Container voor landspecifiek aandelenklasse gegevens-uitbreidingen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AT" type="CountrySpecificShareClassDataATType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class related data for Austria</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Österreich</xs:documentation>
					<xs:documentation xml:lang="fr">Classe d'actions related données pour Autriche</xs:documentation>
					<xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Oostenrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DE" type="CountrySpecificShareClassDataDEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class related data for Germany</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Deutschland</xs:documentation>
					<xs:documentation xml:lang="fr">Classe d'actions related données pour Allemagne</xs:documentation>
					<xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Duitsland</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DK" type="CountrySpecificShareClassDataDKType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class related data for Denmark</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Dänemark</xs:documentation>
					<xs:documentation xml:lang="fr">Classe d'actions related données pour Danemark</xs:documentation>
					<xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Denemarken</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FR" type="CountrySpecificShareClassDataFRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class related data for France</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Frankreich</xs:documentation>
					<xs:documentation xml:lang="fr">Classe d'actions related données pour France</xs:documentation>
					<xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Frankrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LU" type="CountrySpecificShareClassDataLUType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class related data for Luxembourg</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Luxemburg</xs:documentation>
					<xs:documentation xml:lang="fr">Classe d'actions related données pour Luxembourg</xs:documentation>
					<xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Luxemburg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NL" type="CountrySpecificShareClassDataNLType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Share class related data for the Netherlands</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für die Niederlande</xs:documentation>
					<xs:documentation xml:lang="fr">Classe d'actions related données pour Pays-Bas</xs:documentation>
					<xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Nederland</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountrySpecificEMTDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for country-specific EMT (European MiFID Template) data extensions</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Container für länderspezifische EMT (European MiFID Template) Datenerweiterungen</xs:documentation>
			<xs:documentation xml:lang="fr">Conteneur pour spécifique au pays EMT (European MiFID Template) extensions de données</xs:documentation>
			<xs:documentation xml:lang="nl">Container voor landspecifiek EMT (European MiFID Template) gegevens-uitbreidingen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AT" type="CountrySpecificEMTATType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMT related data for Austria</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Österreich</xs:documentation>
					<xs:documentation xml:lang="fr">EMT related données pour Autriche</xs:documentation>
					<xs:documentation xml:lang="nl">EMT related gegevens voor Oostenrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DE" type="CountrySpecificEMTDEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMT related data for Germany</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Deutschland</xs:documentation>
					<xs:documentation xml:lang="fr">EMT related données pour Allemagne</xs:documentation>
					<xs:documentation xml:lang="nl">EMT related gegevens voor Duitsland</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DK" type="CountrySpecificEMTDKType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMT related data for Denmark</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Dänemark</xs:documentation>
					<xs:documentation xml:lang="fr">EMT related données pour Danemark</xs:documentation>
					<xs:documentation xml:lang="nl">EMT related gegevens voor Denemarken</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FR" type="CountrySpecificEMTFRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMT related data for France</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Frankreich</xs:documentation>
					<xs:documentation xml:lang="fr">EMT related données pour France</xs:documentation>
					<xs:documentation xml:lang="nl">EMT related gegevens voor Frankrijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LU" type="CountrySpecificEMTLUType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMT related data for Luxembourg</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Luxemburg</xs:documentation>
					<xs:documentation xml:lang="fr">EMT related données pour Luxembourg</xs:documentation>
					<xs:documentation xml:lang="nl">EMT related gegevens voor Luxemburg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NL" type="CountrySpecificEMTNLType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMT related data for the Netherlands</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für die Niederlande</xs:documentation>
					<xs:documentation xml:lang="fr">EMT related données pour Pays-Bas</xs:documentation>
					<xs:documentation xml:lang="nl">EMT related gegevens voor Nederland</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
