include_files/FundsXML4_RegulatoryReporting_PRIIPS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 rel. 3 (http://www.altova.com) von Peter Raffelsberger (Pioneer Investments Austria) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_AT.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_DE.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_DK.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_FR.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_LU.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData_NL.xsd"/>
	<xs:complexType name="PRIIPSType">
		<xs:annotation>
			<xs:documentation>XML adaptation of "PRIIPS Pan European Data Exchange Template"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PRIIPS_Report" type="PRIIPS_ReportType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRIIPS_ReturnScenarioType">
		<xs:sequence>
			<xs:element name="OneYear" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>After one year.  Mandotory if RHP >1 year.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HalfRHP" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>After half of the RHP. Mandatory if the RHP > 2 years.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RHP" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>At the RHP   </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRIIPS_InvestmentAmountType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>The following calculated investment amounts are based on value 31040_Investment amount.</xs:documentation>
			</xs:annotation>
			<xs:element name="Unfavorable" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Investment amount of unfavourable scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Moderate" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Investment amount of moderate scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Favorable" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Investment amount of favourable scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StressScenario" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation> amount of stress scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRIIPS_AverageReturnType">
		<xs:sequence>
			<xs:element name="Unfavourable" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Avg return of unfavourable scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Moderate" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Avg return of moderate scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Favourable" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Avg return of favourable scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StressScenario" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Avg return of stress scenario for related period</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRIIPS_NarrativesType">
		<xs:sequence>
			<xs:element name="ReferenceLanguage" type="ISOLanguageCodeType">
				<xs:annotation>
					<xs:documentation>04010-Language in which all narratives/texts of this set of data are written</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComprehensionAlert" type="YesNoType">
				<xs:annotation>
					<xs:documentation>04020-Flag Comprehension Alert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntendedTargetMarketRetailInvestor">
				<xs:annotation>
					<xs:documentation>04030-Text in reference language:

The description of the type of retail investor to whom the PRIIP is intended to be marketed in the section entitled ‘What is this product?’ of the key information document shall include information on the target retail investors identified by the PRIIP manufacturer, in particular depending on the needs, characteristics and objectives of the type of client for whom the PRIIPs is compatible. This determination shall be based upon the ability of retail investors to bear investment loss and their investment horizon preferences, their theoretical knowledge of, and past experience with PRIIPs, the financial markets as well as the needs, characteristics and objectives of potential end clients.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="750"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvestmentObjective">
				<xs:annotation>
					<xs:documentation>04040-Text in reference language:

Information stating the objectives of the PRIIP and the means for achieving those objectives in the section entitled ‘What is this product?’ of the key information document shall be summarised in a brief, clear and easily understandable manner. That information shall identify the main factors upon which return depends, the underlying investment assets or reference values, and how the return is determined, as well as the relationship between the PRIIP’s return and that of the underlying investment assets or reference values.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RiskNarrative">
				<xs:annotation>
					<xs:documentation>04050-Text in reference language:
[insert a brief explanation of the classification of the product with a maximum of 300 characters in plain language]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OtherMaterialyRelevantRiskNarrative">
				<xs:annotation>
					<xs:documentation>04060-Text in reference language (Element E)

[Where applicable: element h] [Other risks materially relevant to the PRIIP not included in the summary risk indicator to be explained with a maximum of 200 characters]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypeUnderlyingInvestmentOption">
				<xs:annotation>
					<xs:documentation>04070-Legal Form like SICAV, OEIC, ... Understable to te customer</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CapitalGuarantee" type="YesNoType">
				<xs:annotation>
					<xs:documentation>04080-Capital Guarantee</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapitalGuaranteeLevel" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04081-Capital Guarantee level. Minimum amount will be paid at redemption in%. Cf annex 3, point 7, Element F</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapitalGuaranteeLimitations" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04082-The field shall contain well-formulated text which can be used directly by the insurer in the KID according to article 14 of the regulation.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CapitalGuaranteeEarlyExitConditions" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04083-Date before which the early exit conditions apply. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapitalGuaranteePortfolio" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04084-characteristics of the guarantee: open ended or fixed maturity, daily or monthly lockin, monthly reset, constant guarantee, reference value (highest NAV, NAV of start period,…), other particularities, name of the guarantor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PossibleMaxLoss" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04085-Possible maximium loss</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PerformanceFeesNarrative" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04090-Describes the outperformance of your product and shall be a well-formulated text.
It shall be possible to enter the field into the sentence below.
(annex VII  Table 2 )</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Portolio_Carried_Interest_Narrative">
				<xs:annotation>
					<xs:documentation>04100-Describes the outperformance of your product and shall be a well-formulated text.
It shall be possible to enter the field into the sentence below.
(annex VII  Table 2 )</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OtherComment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04110-This field shall be used only under exceptional circumstances and requires a manual review and might block automatic processing.

This field is usually empty.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PRIIPSFrequencyType">
		<xs:annotation>
			<xs:documentation>Coupon Frequency: 0 other than 1 Annual, 2 Semestrial, 4 Quarterly, 12 Monthly</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="252"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PRIIPS_ReportType">
		<xs:sequence>
			<xs:element name="FundOrShareClassIdentifiers" type="FundOrShareClassIdentifiersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fund or share class identifiers for easy connection to other fund or share class data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definition of data source (investment company, vendor, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataTemplateVersion" fixed="V1.1">
				<xs:annotation>
					<xs:documentation>09999 - Data Exchange Template Published Version.
The version corresponding to the current XML schema is "V1.1"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V1.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GeneralPortfolioInformation">
				<xs:annotation>
					<xs:documentation>EPT 00 / CEPT PRICES 10 / CEPT RHP 30 </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortfolioIssuerName">
							<xs:annotation>
								<xs:documentation>EPT 00010 / CEPT PRICES 10010 / CEPT RHP 30010 
Name of Issuer of Fund  or Share Class, or segregated account manager. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Portfolio_Guarantor_Name" minOccurs="0">
							<xs:annotation>
								<xs:documentation>EPT 00020 - Name of Guarantor of the financial instrument or fund... i.e. the entity to which the end investor has counterparty risk </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PortfolioID" type="PRIIPS_SecurityCodificationType">
							<xs:annotation>
								<xs:documentation xml:lang="en">EPT 00030 / CEPT PRICES 10020 / CEPT RHP  30020 - Use ISIN, CUSIP, BLOOMBERG etc.  or internal code. See CodificationSystem.
ISIN Preferred when available.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortfolioName" type="Text256Type">
							<xs:annotation>
								<xs:documentation xml:lang="en">EPT 00050 / CEPT PRICES 10040 / CEPT RHP 30040 - Name of the Portfolio or name of the CIS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ShareClassCurrency" type="ISOCurrencyCodeType">
							<xs:annotation>
								<xs:documentation xml:lang="en">EPT 00060 / CEPT PRICES 10050 / CEPT RHP 30050 - Valuation currency of the portfolio or the share class</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>EPT 00070 / CEPT PRICES 10060 / CEPT RHP 30060 - Date of reporting (date report produced)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortfolioPRIIPSCategory">
							<xs:annotation>
								<xs:documentation>EPT 00080 / CEPT PRICES 10070 / CEPT RHP 30070 - PRIIPS Category of the Portfolio (1 to 4)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FundCICCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>EPT 00090 - CIC code - Fund   (4 digits)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="4"/>
									<xs:pattern value="[A-Z]{2}[0-9]{2}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EOSPortfolio" type="YesNoType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>EPT 00100 - Indicator whether the portfolio targets specific environmental or social objectives.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortfolioHistoricalStartDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CEPT: 10080
Date of the launch or of the last relevant revision with material investment strategy changes</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EPT_BaseData">
				<xs:annotation>
					<xs:documentation>01-02-03-04 This sheet aims to provide minimum data points for an investment options (wrapper [e.g., in UK MOPs invest in wrappers, which are investing into funds], funds resp. share class data) of  Multi Option PRIIPs (MOPs) and discretionary portfolios of an insurance product.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RiskAssessment">
							<xs:annotation>
								<xs:documentation>01</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ValuationFrequency" type="PRIIPSFrequencyType">
										<xs:annotation>
											<xs:documentation>01010-Number of valuation days per year for the portfolio or fund or share class. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="VEV_Reference" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01020-VEV of the Portfolio/Share Class. Mandatory for cat 2 and 3 / Optional for cat 1 and 4</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IS_Flexible" type="YesNoType">
										<xs:annotation>
											<xs:documentation>01030-Indicator to alert if the fund is flexible. If the annex 2 section 14 of the regulation applies</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Flex_VEV_Historical" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01040-Var Equivalent Volatility of the portfolio. Mandatory if IS-Flexible is set to Yes</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Flex_VEV_Ref_Asset_Allocation" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01050-Var Equivalent of the reference asset allocation of the portfolio. Mandatory if IS-Flexible is set to Yes</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IS_Risk_Limit_Relevant" type="YesNoType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01060-Indicator to alert if there is a relevant risk limit for flexible funds</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Flex_VEV_Risk_Limit" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01070-Var Equivalent volatility of the risk limit of the portfolio</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Existing_Credit_Risk" type="YesNoType">
										<xs:annotation>
											<xs:documentation>01080-Indicator to alert if there is a credit risk</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SRI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01090-Summary Indicator Risk of the fund or the portfolio (1 to 7)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:short">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
												<xs:enumeration value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MRM" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01100-Market Risk Measure of the fund or portfolio (1 to 7)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:short">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
												<xs:enumeration value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CRM" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01110-Credit Risk measure of the fund or the portfolio (1 to 6)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:short">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Recommended_Holding_Period" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>01120-Recommended holding period of the fund (in years (not an integer))</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaturityDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>01130 - Required only for fixed maturity financial instruments in ordrer to calculate the remaining time to maturity as a RHP. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Liquidity_Risk">
										<xs:annotation>
											<xs:documentation>01140 - Risk of Liquidity at the level of the fund or the portfolio
M = material liquidity risk, I = illiquid, L = no liquidity issue. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="M"/>
												<xs:enumeration value="I"/>
												<xs:enumeration value="L"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PerformanceScenario">
							<xs:annotation>
								<xs:documentation>02</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ReturnUnfavorable" type="PRIIPS_ReturnScenarioType">
										<xs:annotation>
											<xs:documentation>02010-02020-02030 Annual return  of the portfolio, fund, share class corresponding to the unfavorable scenario.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ReturnModerate" type="PRIIPS_ReturnScenarioType">
										<xs:annotation>
											<xs:documentation>02040-02050-02060 Return of the portfolio, fund, share class corresponding to the moderate scenario</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ReturnFavorable" type="PRIIPS_ReturnScenarioType">
										<xs:annotation>
											<xs:documentation>02070-02080-02090 Annual return  of the portfolio, fund, share class corresponding to the favorable scenario</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ReturnStress" type="PRIIPS_ReturnScenarioType">
										<xs:annotation>
											<xs:documentation>02100-02110-02120 Annual return  of the portfolio, fund, share class corresponding to the stress scenario</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NumberOfObservedReturn_M0" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>02130-See PRIIPS regulation. 
Mandatory for PRIIPS cat equals to 2</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MeanObservedReturns_M1" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>02140-See PRIIPS Regulation.
M1. Mandatory for PRIIPS cat equals to 2</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ObservedSigma" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>02150-See PRIIPS Regulation. Square root of M2. Mandatory for PRIIPS cat equals to 2</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ObservedSkewness" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>02160-See PRIIPS Regulation. Mandatory for PRIIPS cat equals to 2</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ObservedExcessKurtosis" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>02170-See PRIIPS Regulation. Mandatory for PRIIPS cat equals to 2</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ObservedStressedVolatility" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>02180-Volatility used to calculate stress scenario</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Costs">
							<xs:annotation>
								<xs:documentation>03</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OneOff">
										<xs:annotation>
											<xs:documentation>03010-03050</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EntryCost">
													<xs:annotation>
														<xs:documentation>03010-Subscription fees not acquired to the fund or the share class or portfolio mandate. Expressed as a % of the amount to be invested</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="EntryCostsAcquired" type="xs:decimal">
													<xs:annotation>
														<xs:documentation>03015-Subscription fees acquired to the fund or the share class or portfolio mandate. Expressed as a % of the amount to be invested</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ExitCostAtRHP">
													<xs:annotation>
														<xs:documentation>03020-Exit fees at the end of RHP for the portfolio or fund or share class. It is expressed as a % of net asset value.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ExitCostOneYear" minOccurs="0">
													<xs:annotation>
														<xs:documentation>03030-Exit fees after one year for the portfolio or fund or shar class. It is expressed as a % of net asset value. Mandatory if datapoint Sliding exit cost is Yes.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ExitCostHalfRHP" minOccurs="0">
													<xs:annotation>
														<xs:documentation>03040-Exit fees after half of the RHP for the portfolio or fund or shar class. It is expressed as a % of net asset value. Mandatory if datapoint Sliding exit cost is Yes.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="SlidingExitCostIndicator" type="YesNoType">
													<xs:annotation>
														<xs:documentation>03050-Sliding exit cost indicator</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Ongoing">
										<xs:annotation>
											<xs:documentation>03060-03070</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="OtherCost">
													<xs:annotation>
														<xs:documentation>03060-See PRIIPS definition as a % of NAV of the portfolio, the funds or the share class / per annum.
Maximum  fees, including look through for fund of funds / custodian fees / management fees. </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ManagementCosts">
													<xs:annotation>
														<xs:documentation>03070-Maximum fee. Can be submitted to reduction for some specific commercial agreement between insurers and structurers. </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Transaction">
													<xs:annotation>
														<xs:documentation>03080-See PRIIPS definition as a % of NAV of the portfolio, the funds or the share class / per annum</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Incidental">
										<xs:annotation>
											<xs:documentation>03080-03100</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ExistringPerformanceFees" type="YesNoType">
													<xs:annotation>
														<xs:documentation>03090-Indicates whether there are existing performance fees or not</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IncidentalCostsPortfolioPerformanceFees" type="xs:decimal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>03095-See PRIIPS definition as a % of NAV of the portfolio, the funds or the share class / per annum</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ExistingCarriedInterestFees">
													<xs:annotation>
														<xs:documentation>03100-Indicates whether there are exiting carried interest fees or not</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CarriedInterest" minOccurs="0">
													<xs:annotation>
														<xs:documentation>03105-See PRIIPS definition as a % of invested capital per annum (average)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Narratives" type="PRIIPS_NarrativesType">
							<xs:annotation>
								<xs:documentation>04</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EPT_SpecificUCITS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>05-Specific UCITS data for insurers opting for Art 14.2 for MOP</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PRIIPDataDelivery" type="YesNoType">
							<xs:annotation>
								<xs:documentation>05010-indicate if the line contains PRIIPS data or Not</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UCITS_data_delivery" type="YesNoType">
							<xs:annotation>
								<xs:documentation>05020-indicate if the line contains UCITS data or Not</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Portfolio_UCITS_SRRI" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05030-The SRRI of the Valid UCITS KIID </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
									<xs:enumeration value="5"/>
									<xs:enumeration value="6"/>
									<xs:enumeration value="7"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Portfolio_UCITS_Vol" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05040-If available - Historical volatility corresponding to the SRRI of the Valid UCITS KIID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OGC_Portfolio_other_costs_UCITS" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05050-Management fees as in the UCITS KID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OGC_Portfolio_transaction_costs" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05060-See PRIIPS / UCITS definition as a % of NAV of the portfolio, the funds or the share class / per annum</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Transactions_costs" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05065-Indicate the option chosen by the Asset Manager to calculate Transaction costs for UCITS funds</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Methodology" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1. New PRIIPS methodology
2. Full PRIIPS methodology 
3. Other methodology
4. None
5. text</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MethodologyText">
										<xs:annotation>
											<xs:documentation>5. Text</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Incidental_costs_Portfolio_performance_fees_UCITS" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05070-See UCITS definition as a % of NAV of the portfolio, the funds or the share class / per annum </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Incidental_costs_Portfolio_carried_interest_UCITS" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05080-See UCITS definition as a % of invested capital per annum (average)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UCITS_KID_Web_Address" type="xs:anyURI" minOccurs="0">
							<xs:annotation>
								<xs:documentation>05090-Direct link to the UCITS Kid</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EPT_SpecificStructuredProducts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>07-Specific data for Structured Products - RIY Costs
Note: Cost fields in RIY terms as requested by the PRIIPS KID. This section is optional and is required only if it is impossible to calculate RIY from the previous section. This happens for products with periodical coupons and/or early callability features. In this case,  the Performance Scenario fields together with the Cost fields are not adequate to calculate the IRR of the gross and net scenarios.		 </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Total_cost_1_year" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07010-Total cost in 00060_Share_Class_Currency terms in case the investor cashes in after one year, as requested in the "Costs over time" table. Rebased to 1. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RIY_1_year" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07020-RIY in case the investor cashes in after one year, as requested in the "Costs over time" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Total_cost_half_RHP" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07030-Total cost in 00060_Share_Class_Currency terms in case the investor cashes in at the middle of the RHP, as requested in the "Costs over time" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RIY_half_RHP" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07040-RIY in case the investor cashes in at the middle of the RHP, as requested in the "Costs over time" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Total_cost_RHP" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07050-Total cost in 00060_Share_Class_Currency terms in case the investor cashes in at the RHP, as requested in the "Costs over time" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RIY_RHP" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07060-RIY in case the investor cashes in at the RHP, as requested in the "Costs over time" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="One-off_costs_Portfolio_entry_cost_RIY" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07070-The entry cost in RIY terms, as requested in the "Composition of costs" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="One-off_costs_Portfolio_exit_cost_RIY" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07080-The exit cost in RIY terms, as requested in the "Composition of costs" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Ongoing_costs_Portfolio_transaction_costs_RIY" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07090-The portfolio transaction costs in RIY terms, as requested in the "Composition of costs" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Ongoing_costs_Other_ongoing_costs_RIY" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07100-The other ongoing costs in RIY terms, as requested in the "Composition of costs" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Incidental_costs_Portfolio_performance_fees_RIY" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07110-The performance fees in RIY terms, as requested in the "Composition of costs" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Incidental_costs_Portfolio_carried_interests_RIY" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>07120-The carried interests in RIY terms, as requested in the "Composition of costs" table.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CEPT_Prices" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11-Price History. PRICES is only for "comfort" delivery. This node aims to provide raw price data of the investment options, which can be used by the MOP manufacturer to perform calculations in the context of the MOP KID preparation</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CEPT_Price" type="CEPT_PriceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CEPT_Narratives" type="PRIIPS_NarrativesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>04-Narratives translated per reference language provided. NARRATIVES is only for "comfort" delivery. This node has been established to allow investment option manufacturer to provide narratives in languages that may differ from the original base language.
It aims to enable MOP manufacturers to align the narrative languages required for the MOP KID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CEPT_RHPS" type="CEPT_RHPSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>31-32-33-34 VALUES_PER_RHP is only for "comfort" delivery. This node has been established to allow PRIIP manufacturer investing in other PRIIPs (e.g., MOPs) to receive calculated figures for RHPs that may differ from the RHP of the underlying PRIIP (e.g., RHP = 5 for an UCITS share class). Therefore, it enables PRIIP manufacturer to pick the values for the related RHP that matches the RHP of the PRIIP (e.g., MOP). It is up to the underlying PRIIP manufacturer to provide such additional information, beside the calculated figures at original RHP, as they are presented in the main data sheet.

The data file will contain calculated figures for a range of RHP from 5-30 years and each line Represents the performance scenarios for each RHP. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySpecificData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AT" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DE" type="PRIIPS_DE_EPT_PiaType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Specific data for German CAT IV PRIIPs (PIA model)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DK" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FR" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LU" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NL" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CEPT_PriceType">
		<xs:sequence>
			<xs:element name="SharePriceDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>11010-Price date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SharePrice">
				<xs:annotation>
					<xs:documentation>11020-Share price of the fund/share class</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SharePriceCurrency" type="ISOCurrencyCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11030-Share price currency (most cases share currency)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Share_price_factor" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11040-Factor as combination of distribution value and share split factor (if this field is provided then following fields are not required). Value which the price should be multiplied to to obtain the correct performance time series. This should reflect the multiplying factor and should be populated every day. In case of null value, '1' is taken as default. Should only be populated in case a share price factor is relevant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistributionValue" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11050-Distribution value in share price currency. Should be populated on day of distribution only and only in case a distribution has taken place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareSplitFactor" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11060-Should only be populated in case of a share split - then  respective factor should be populated. This should reflect the multiplying factor and should be populated every day. In case of null value, '1' is taken as default.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Old_share_class_currency" type="ISOCurrencyCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11070-In the rare occasion of a share class currency change - this needs to be populated with the old share class currency. Should only be populated in case a share class currency change took place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exchange_rate_for_change_in_share_class_currency" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11080-In the rare occasion of a share class currency change - this needs to be populated with the value: (old share class currency/new share class currency). Should only be populated in case a share class currency change took place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Old_Valuation_Frequency" minOccurs="0">
				<xs:annotation>
					<xs:documentation>11090-In the rare occasion of a valuation frequency change - this needs to be populated with the old value of EPT field  01010_Valuation_Frequency. Should only be populated in case a share class currency change took place.
"0" = other than 
"1"= annual
"2"= biannual
"4"=quarterly
"12"= monthly
"24"=bimonthly
"52"=weekly
"104"=biweekly
"252"=daily</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="12"/>
						<xs:enumeration value="52"/>
						<xs:enumeration value="104"/>
						<xs:enumeration value="252"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CEPT_RHPSType">
		<xs:sequence>
			<xs:element name="CEPT_RHP" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RHPPeriodsDefinition">
							<xs:annotation>
								<xs:documentation>31-Definition of periods per RHPs and investment amount base</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Period_1" type="xs:positiveInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>31010-Has to be set as default value 1 and only to be filled when HP of product is >=3</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Period_2" type="xs:positiveInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>31020-Is considered as RHP/2 and rounded up to the nearest year. Has to be filled when RHP is >3</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="HP_Period_3" type="xs:positiveInteger">
										<xs:annotation>
											<xs:documentation>31030-The holding period (HP) is the period used as a basis for the calculation of the subsequent purposes. It gives the MOPs manufacturer the possibility to align the HP of the underlying investment option with the RHP of the MOP.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Lump_sum_or_regular_premium_indicator">
										<xs:annotation>
											<xs:documentation>31050-To indicate whether a lump sum or regular premium option has been chosen
One of the options in the following closed list to be used:
LS - Lump sum 
RP - Regular premium</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
												<xs:enumeration value="LS"/>
												<xs:enumeration value="RP"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Investment_Amount" type="xs:positiveInteger">
										<xs:annotation>
											<xs:documentation>31060-Standard 10,000 for lump sum or 1,000 for regular premium</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Accumulated_Investment_amount" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>31070-</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Risk">
							<xs:annotation>
								<xs:documentation>32- Risk section</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SRI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>32010-The summary risk indicator (SRI) shall be presented in a numerical scale ranging from 1 to 7, where 1 indicates the lowest risk class and 7 indicates the highest risk class.
Calculated based on the RHP of the underlying PRIIP</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
												<xs:enumeration value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PerformaceScenario">
							<xs:annotation>
								<xs:documentation>33-Performance Scenario Section. The following calculated investment amounts are based on value 31060_Investment amount.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="InvestmentAmountPeriod1" type="PRIIPS_InvestmentAmountType">
										<xs:annotation>
											<xs:documentation>33010-33020-33030-33040</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InvestmentAmountPeriod2" type="PRIIPS_InvestmentAmountType">
										<xs:annotation>
											<xs:documentation>33050-33060-33070-33080</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InvestmentAmountPeriod3" type="PRIIPS_InvestmentAmountType">
										<xs:annotation>
											<xs:documentation>33090-33100-33110-33120</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AverageReturnPeriod1" type="PRIIPS_AverageReturnType">
										<xs:annotation>
											<xs:documentation>33130-33140-33150-33160</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AverageReturnPeriod2" type="PRIIPS_AverageReturnType">
										<xs:annotation>
											<xs:documentation>33170-33180-33190-33200</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AverageReturnPeriod3" type="PRIIPS_AverageReturnType">
										<xs:annotation>
											<xs:documentation>33210-33220-33230-33240</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Cost">
							<xs:annotation>
								<xs:documentation>34-Cost Section. The amounts shown here are the cumulative costs of the product itself, for three different holding periods. They include potential early exit penalties. The figures assume you invest field value 01040_Investment amount = 10 000. The figures are estimates and may change in the future.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TotalPeriod1" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>34010-The Reduction in Yield (RIY) shows what impact the total costs you pay will have on the investment return you might get. The total costs take into account one-off, ongoing and incidental costs. The Reduction in Yield (RIY) shows what impact the total costs you pay will have on the investment return you might get. The total costs take into account one-off, ongoing and incidental costs.

The amounts shown here are the cumulative costs of the product itself, for three different holding periods. They include potential early exit penalties. The figures assume you invest field value 01040_Investment amount = 10 000. The figures are estimates and may change in the future.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TotalPeriod2" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>34020-The Reduction in Yield (RIY) shows what impact the total costs you pay will have on the investment return you might get. The total costs take into account one-off, ongoing and incidental costs. The Reduction in Yield (RIY) shows what impact the total costs you pay will have on the investment return you might get. The total costs take into account one-off, ongoing and incidental costs.

The amounts shown here are the cumulative costs of the product itself, for three different holding periods. They include potential early exit penalties. The figures assume you invest field value 01040_Investment amount = 10 000. The figures are estimates and may change in the future.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TotalPeriod3" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>34030-The Reduction in Yield (RIY) shows what impact the total costs you pay will have on the investment return you might get. The total costs take into account one-off, ongoing and incidental costs. The Reduction in Yield (RIY) shows what impact the total costs you pay will have on the investment return you might get. The total costs take into account one-off, ongoing and incidental costs.

The amounts shown here are the cumulative costs of the product itself, for three different holding periods. They include potential early exit penalties. The figures assume you invest field value 01040_Investment amount = 10 000. The figures are estimates and may change in the future.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PercentageRIYPeriod1" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>34040</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PercentageRIYPeriod2" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>34050</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PercentageRIYPeriod3" type="xs:decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>34060</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRIIPS_SecurityCodificationType">
		<xs:annotation>
			<xs:documentation>CodificationSystem (restricted list for Securities) and Code expressed in CodificationSystem</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodificationSystem">
				<xs:annotation>
					<xs:documentation xml:lang="en">Codification system used.
Integer corresponding to the following closed list:
1 - ISO 6166 for ISIN code
2 - CUSIP (The Committee on Uniform Securities Identification Procedures number assigned by the CUSIP Service Bureau for U.S. and Canadian companies)
3 - SEDOL (Stock Exchange Daily Official List for the London Stock Exchange)
4 – WKN (Wertpapier Kenn-Nummer, the alphanumeric German identification number)
5 - Bloomberg Ticker (Bloomberg letters code that identify a company's securities)
6 - BBGID (The Bloomberg Global ID)
7 - Reuters RIC (Reuters instrument code)
8 – FIGI (Financial Instrument Global Identifier)
9 - Other code by members of the Association of National Numbering Agencies
99 - Code attributed by the undertaking</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
						<xs:enumeration value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code">
				<xs:annotation>
					<xs:documentation xml:lang="en">Value of code in CodificationSystem</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
