include_files/FundsXML4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2015 (x64) (http://www.altova.com) von Kauc Karl (Erste Asset Management GmbH) bearbeitet -->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
	xmlns:altova="http://www.altova.com/xml-schema-extensions" 
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="4.2.10" 
	vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:include schemaLocation="FundsXML4_CountrySpecificData.xsd"/>
	<xs:include schemaLocation="FundsXML4_FundStaticData.xsd"/>
	<xs:include schemaLocation="FundsXML4_FundDynamicData.xsd"/>
	<xs:include schemaLocation="FundsXML4_ShareClassData.xsd"/>
	<xs:include schemaLocation="FundsXML4_AssetMasterData.xsd"/>
	<xs:include schemaLocation="FundsXML4_AssetMgmtCompDynData.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EMIR.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EMT.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_KIID.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_PRIIPS.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_SolvencyII.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EFT.xsd"/>
	<xs:include schemaLocation="FundsXML4_RegulatoryReporting_EET.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<xs:element name="FundsXML4">
		<xs:annotation>
			<xs:documentation># Root element of FundsXML 4.2.10</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ControlData" type="ControlDataType">
					<xs:annotation>
						<xs:documentation>Meta data of xml document (like unique id, date, data supplier, language, ...)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Funds" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of funds, umbrellas, sicavs, portfolios ...</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Fund" type="FundType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>All single fund, umbrella, sicav, portfolio related data</xs:documentation>
								</xs:annotation>
								<xs:key name="benchmarkID">
									<xs:selector xpath="FundStaticData/Benchmarks/Benchmark"/>
									<xs:field xpath="BenchmarkID"/>
								</xs:key>
								<xs:keyref name="benchmarkDynamicRef" refer="benchmarkID">
									<xs:selector xpath="FundDynamicData/Benchmarks/Benchmark"/>
									<xs:field xpath="BenchmarkID"/>
								</xs:keyref>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AssetMgmtCompanyDynData" type="AssetMgmtCompanyDynDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dynamic data of asset management companies</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AssetMasterData" type="AssetMasterDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Master data of securities, derivatives and all other portfolio assets</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Documents" type="DocumentsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Collection of regulatory and marketing documents (KIDs, prospectuses, factsheets, annual reports, etc.) related to funds, subfunds, or share classes. Documents can be provided as URLs or embedded as base64Binary content</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RegulatoryReportings" type="RegulatoryReportingsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Direct and indirect regulatory reporting</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CountrySpecificData" type="CountrySpecificDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Country specific data on top level (as defined in 'FundsXML4_CountrySpecificData_xx.xsd')</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SegmentStaticDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">All static data for Segments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InceptionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="LiquidationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Manager" type="CompanyType" minOccurs="0"/>
			<xs:element name="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language" type="xs:language" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentDynamicDataType">
		<xs:sequence>
			<xs:element name="TotalAssetValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total NAV (volume) of fund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalAssetValue" type="TotalAssetValueType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Portfolios" minOccurs="0">
				<xs:annotation>
					<xs:documentation>All portfolio related data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Portfolio" type="PortfolioType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Type of document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="ListedType">
							<xs:annotation>
								<xs:documentation>Enumerations e.g. AIFMD-AnnexIV
AnnualReport HalfYearReport
AuditReport
Factsheet
Prospectus
PRIIPS-KIDS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="3"/>
									<xs:maxLength value="12"/>
									<xs:enumeration value="AIFMD-AnnexIV"/>
									<xs:enumeration value="AnnualReport"/>
									<xs:enumeration value="HalfYearReport"/>
									<xs:enumeration value="QuarterlyReport"/>
									<xs:enumeration value="MonthlyReport"/>
									<xs:enumeration value="AuditReport"/>
									<xs:enumeration value="Factsheet"/>
									<xs:enumeration value="Prospectus"/>
									<xs:enumeration value="PRIIPS-KID"/>
									<xs:enumeration value="KID / Simplified Prospectus"/>
									<xs:enumeration value="MarketingNotification"/>
									<xs:enumeration value="SFDR-PAIStatement"/>
									<xs:enumeration value="SFDR Website Disclosure"/>
									<xs:enumeration value="MarketingMaterial"/>
									<xs:enumeration value="ValuationReport"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="UnlistedType">
							<xs:annotation>
								<xs:documentation>Description of other document types</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="Text128Type">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Version" type="Text64Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Version of document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="xs:language">
				<xs:annotation>
					<xs:documentation>Language of document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TranslationsAvailable" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether this document is available in other language versions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublicationCountries" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of publication countries of document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Country" type="ISOCountryCodeType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Three letter ISO code of country</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Fund" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fund of document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifiers" type="IdentifiersType"/>
						<xs:element name="Name" type="Text256Type" minOccurs="0"/>
						<xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Subfunds" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subfunds of document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subfund" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Identifiers" type="IdentifiersType"/>
									<xs:element name="Name" type="Text256Type" minOccurs="0"/>
									<xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Share classes of document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Identifiers" type="IdentifiersType"/>
									<xs:element name="Name" type="Text256Type" minOccurs="0"/>
									<xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Name" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileName" type="Text256Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of file (including file extension)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForPublicUsage" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether document can be published to the public. When false, document is restricted to internal use only (e.g. internal reports)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Restrictions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of restrictions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Format" type="Text256Type">
				<xs:annotation>
					<xs:documentation>Technical format of document:
PDF, XML, Excel, Word, Image, ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Signature" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether signature is available:
No, Digital, Scan</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="No"/>
						<xs:enumeration value="Digital"/>
						<xs:enumeration value="Scan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when document has been generated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModificationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of last change (e.g. for KID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpirationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Document is valid till this expiration date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data supplier of document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Attributes of document (depending on type of document)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeInBytes" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Size of document in bytes (exact size of binary data, estimated size in case of download)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link of document for downloading</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BinaryData" type="xs:base64Binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Document in xml base64Binary format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlDataType">
		<xs:annotation>
			<xs:documentation>Metadata for file delivery</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueDocumentID" type="Text128Type">
				<xs:annotation>
					<xs:documentation>Document identifier (unique per data supplier)</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="20240830_0001"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentGenerated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Timestamp of document generation</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="2024-09-26T18:37:12.1559196+02:00"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FundsXML Schema Version (4.0.0, 4.0.1, 4.1.0, ...)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="4.0.0"/>
						<xs:enumeration value="4.0.1"/>
						<xs:enumeration value="4.1.0"/>
						<xs:enumeration value="4.1.1"/>
						<xs:enumeration value="4.1.2"/>
						<xs:enumeration value="4.1.3"/>
						<xs:enumeration value="4.1.4"/>
						<xs:enumeration value="4.1.5"/>
						<xs:enumeration value="4.1.6"/>
						<xs:enumeration value="4.1.7"/>
						<xs:enumeration value="4.1.8"/>
						<xs:enumeration value="4.1.9"/>
						<xs:enumeration value="4.1.10"/>
						<xs:enumeration value="4.1.11"/>
						<xs:enumeration value="4.2.0"/>
						<xs:enumeration value="4.2.1"/>
						<xs:enumeration value="4.2.2"/>
						<xs:enumeration value="4.2.3"/>
						<xs:enumeration value="4.2.4"/>
						<xs:enumeration value="4.2.5"/>
						<xs:enumeration value="4.2.6"/>
						<xs:enumeration value="4.2.7"/>
						<xs:enumeration value="4.2.8"/>
						<xs:enumeration value="4.2.9"/>
						<xs:enumeration value="4.2.10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Main date for content, if not specified different within section</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType">
				<xs:annotation>
					<xs:documentation>Definition of data source (investment company, vendor, ...). Used only for information purpose.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataOperation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
INITIAL: This refers to the first time data is delivered. It includes all the necessary information to set up or populate a system or database. 
AMEND: This term is used when there are updates or changes to the existing data. An amendment might include corrections, additions, or modifications to the previously delivered data. It ensures that the data remains accurate and up-to-date.
DELETE: This involves the removal of specific data from the system. It could be due to data being outdated, incorrect, or no longer needed. Deleting data helps in maintaining the relevance and efficiency of the database. DELETE requires a RelatedDocumentIDs that referes to the data delivery that should be deleted. 
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="5"/>
						<xs:maxLength value="7"/>
						<xs:enumeration value="INITIAL"/>
						<xs:enumeration value="AMEND"/>
						<xs:enumeration value="DELETE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelatedDocumentIDs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiers of related documents for non-initial data deliveries</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RelatedDocumentID" type="Text128Type" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="20240830_0002"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Language" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ISO code of language with two characters. This is used as default if no other Language is specified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModuleUsage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of used schema modules. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Module" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name">
										<xs:annotation>
											<xs:documentation>Module name as listed in enumeration. Can be used to optimize imports.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="AssetMasterData"/>
												<xs:enumeration value="AssetMgmtCompDynData"/>
												<xs:enumeration value="CountrySpecificData_AT"/>
												<xs:enumeration value="CountrySpecificData_DE"/>
												<xs:enumeration value="CountrySpecificData_DK"/>
												<xs:enumeration value="CountrySpecificData_FR"/>
												<xs:enumeration value="CountrySpecificData_LU"/>
												<xs:enumeration value="CountrySpecificData_NL"/>
												<xs:enumeration value="FundDynamicData"/>
												<xs:enumeration value="FundStaticData"/>
												<xs:enumeration value="PortfolioData"/>
												<xs:enumeration value="RegulatoryReporting_EMIR"/>
												<xs:enumeration value="RegulatoryReporting_EMT"/>
												<xs:enumeration value="RegulatoryReporting_KIID"/>
												<xs:enumeration value="RegulatoryReporting_PRIIPS"/>
												<xs:enumeration value="RegulatoryReporting_SolvencyII"/>
												<xs:enumeration value="ShareClassData"/>
												<xs:enumeration value="TransactionData"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SubModule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountrySpecificData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country specific document data.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AT" type="CountrySpecificControlDataATType" minOccurs="0"/>
						<xs:element name="DE" type="CountrySpecificControlDataDEType" minOccurs="0"/>
						<xs:element name="DK" type="CountrySpecificControlDataDKType" minOccurs="0"/>
						<xs:element name="FR" type="CountrySpecificControlDataFRType" minOccurs="0"/>
						<xs:element name="LU" type="CountrySpecificControlDataLUType" minOccurs="0"/>
						<xs:element name="NL" type="CountrySpecificControlDataNLType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" type="AttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional information which does not fit into the nodes above</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentType">
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation>Fund identifiers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Text500Type">
				<xs:annotation>
					<xs:documentation>Name of segment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation>Currency of segment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SegmentStaticData" type="SegmentStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Inception, manager, description, ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SegmentDynamicData" type="SegmentDynamicDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total asset values, portfolio data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of share classes of segment</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" type="ShareClassType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Static and dynamic data of a share class</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data related to subsegments / subpockets of funds (typically managed by different fund managers)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryReportingsType">
		<xs:sequence>
			<xs:element name="DirectReporting" type="DirectReportingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Regulatory data exchanged between fund manufacturers and distributors/platforms within the professional distribution chain 
(e.g., MiFID product governance data).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndirectReporting" type="IndirectReportingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Regulatory disclosure data provided to end investors, 
both retail (PRIIPs KID) and institutional (Solvency reporting data).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectReportingType">
		<xs:sequence>
			<xs:element name="EMIR" type="EMIRType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIIDs" type="KIIDsType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT" type="EMTType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
					<xs:documentation>According to EUROPEAN MIFID TEMPLATE - EMT V1.0 as of 2017-08-03</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V3" type="EMTType_V3" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated will no longer be supported in a future FundsXML schema version"/>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE V3.0 - EMT V3.0 as of 2019-11-25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4" type="EMTType_V4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.0 as of 2022-03-14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4_1" type="EMTType_V41" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.1 as of 2023-03-07</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4_2" type="EMTType_V42" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.2 as of 2024-04-05</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMT_V4_3" type="EMTType_V43" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx MiFID TEMPLATE - EMT V4.3 as of 2025-11-03</xs:documentation>
					<xs:appinfo source="@since 4.2.10"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EFTs" type="EFTType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to FinDatEx: EUROPEAN FEEDBACK TEMPLATE - EFT V1.0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.0" type="EETsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.0 2022-03-14</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1" type="EETsType1.1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1.1" type="EETsType1.1.1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1.1</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1.2" type="EETsType1.1.2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1.2</xs:documentation>
					<xs:appinfo source="@deprecated"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="EET1.1.3" type="EETsType1.1.3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN ESG TEMPLATE - EET V1.1.3 </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentsType">
		<xs:sequence>
			<xs:element name="Document" type="DocumentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundType">
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation>Identifiers of fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="NamesType">
				<xs:annotation>
					<xs:documentation>Names of fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation>Main currency of fund (typically used by custodian for calculation of total NAV)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SingleFundFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Defines whether this is a single fund or an umbrella like structure with subfunds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSupplier" type="DataSupplierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definition of data source (investment company, vendor, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundStaticData" type="FundStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Main static data of fund (Fiscal Year, Custody, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundDynamicData" type="FundDynamicDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dynamic data of fund (total values, holdings, transactions, breakdowns, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="SingleFund" type="SingleFundType">
					<xs:annotation>
						<xs:documentation>Use this node for non-umbrella fund structures</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Subfunds">
					<xs:annotation>
						<xs:documentation>Use this node for umbrella fund structures</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Subfund" type="SubfundType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Static and dynamic data of a subfund</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="CountrySpecificData" type="CountrySpecificFundDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country specific data of fund (as defined in 'FundsXML4_CountrySpecificData_xx.xsd')</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubfundType">
		<xs:sequence>
			<xs:element name="Identifiers" type="IdentifiersType">
				<xs:annotation>
					<xs:documentation>Identifiers of subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="NamesType">
				<xs:annotation>
					<xs:documentation>Names of subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation>Currency of subfund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubfundStaticData" type="SubfundStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Static data of subfund (similar to static data of single fund)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubfundDynamicData" type="FundDynamicDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total asset values, portfolio data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of share classes of subfund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" type="ShareClassType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Static and dynamic data of a share class</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data related to segments/pockets of funds (typically managed by different fund managers)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SingleFundType">
		<xs:sequence>
			<xs:element name="SingleFundStaticData" type="SingleFundStaticDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Static data of single fund (similar to static data of subfund)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareClasses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of share classes of single fund</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShareClass" type="ShareClassType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Static and dynamic data of a share class</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data related to segments/pockets of funds (typically managed by different fund managers)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndirectReportingType">
		<xs:sequence>
			<xs:element name="TripartiteTemplateSolvencyII" type="TripartiteTemplateSolvencyIIType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated old version. do not use any more. use {@link /FundsXML4/RegulatoryReportings/IndirectReporting/TripartiteTemplateSolvencyII_V7} instead"/>
					<xs:documentation>Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". It refers to version 4 dated 3/4/2018 of this "TPT V4" format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripartiteTemplateSolvencyII_V5" type="TripartiteTemplateSolvencyIIType_V5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". According to FinDatEx Version 5.0 Tripartite Template (TPT) for SII Asset Data reporting as of 2020-01-16</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripartiteTemplateSolvencyII_V6" type="TripartiteTemplateSolvencyIIType_V6" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated old version. do not use any more. use {@link /FundsXML4/RegulatoryReportings/IndirectReporting/TripartiteTemplateSolvencyII_V7} instead"/>
					<xs:documentation>Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". According to FinDatEx Version 6.0 Tripartite Template (TPT) for SII Asset Data reporting as of 2022-03-14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripartiteTemplateSolvencyII_V7" type="TripartiteTemplateSolvencyIIType_V7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Special enriched inventory for Solvency II. This XML implementation is compatible with the "Tripartite Template". According to FinDatEx Version 7.0 Tripartite Template (TPT) for SII Asset Data reporting as of 2024-11-25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRIIPS" type="PRIIPSType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="@deprecated"/>
					<xs:documentation>EPT 20170728 DRAFT TEMPLATE 1.1 CEPT - 20170621 TEMPLATE 1.0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRIIPS_V20" type="PRIIPSType_V20" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EUROPEAN PRIIPs TEMPLATE - EPT V2.0 and EUROPEAN COMFORT PRIIPs TEMPLATE - CEPT  V2.0</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
