include_files/FundsXML4_CountrySpecificData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           vc:minVersion="1.1">
   <xs:include schemaLocation="FundsXML4_Core.xsd"/>
   <xs:include schemaLocation="FundsXML4_CountrySpecificData_AT.xsd"/>
   <xs:include schemaLocation="FundsXML4_CountrySpecificData_DE.xsd"/>
   <xs:include schemaLocation="FundsXML4_CountrySpecificData_DK.xsd"/>
   <xs:include schemaLocation="FundsXML4_CountrySpecificData_FR.xsd"/>
   <xs:include schemaLocation="FundsXML4_CountrySpecificData_LU.xsd"/>
   <xs:include schemaLocation="FundsXML4_CountrySpecificData_NL.xsd"/>
   <xs:complexType name="CountrySpecificDataType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Container for country-specific data extensions</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Container für länderspezifische Datenerweiterungen</xs:documentation>
         <xs:documentation xml:lang="fr">Conteneur pour spécifique au pays extensions de données</xs:documentation>
         <xs:documentation xml:lang="nl">Container voor landspecifiek gegevens-uitbreidingen</xs:documentation>
         <xs:documentation xml:lang="es">Contenedor para extensiones de datos específicas de cada país</xs:documentation>
         <xs:documentation xml:lang="it">Contenitore per estensioni dati specifiche per paese</xs:documentation>
         <xs:documentation xml:lang="cs">[AUTO] Kontejner pro country-specific data extensions</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AT" type="CountrySpecificDataATType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Top level data for Austria</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Österreich</xs:documentation>
               <xs:documentation xml:lang="fr">Top level données pour Autriche</xs:documentation>
               <xs:documentation xml:lang="nl">Top level gegevens voor Oostenrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos de nivel superior para Austria</xs:documentation>
               <xs:documentation xml:lang="it">Dati di primo livello per l'Austria</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Top level data for Austria</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DE" type="CountrySpecificDataDEType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Top level data for Germany</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Deutschland</xs:documentation>
               <xs:documentation xml:lang="fr">Top level données pour Allemagne</xs:documentation>
               <xs:documentation xml:lang="nl">Top level gegevens voor Duitsland</xs:documentation>
               <xs:documentation xml:lang="es">Datos de nivel superior para Alemania</xs:documentation>
               <xs:documentation xml:lang="it">Dati di primo livello per la Germania</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Top level data for Germany</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DK" type="CountrySpecificDataDKType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Top level data for Denmark</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Dänemark</xs:documentation>
               <xs:documentation xml:lang="fr">Top level données pour Danemark</xs:documentation>
               <xs:documentation xml:lang="nl">Top level gegevens voor Denemarken</xs:documentation>
               <xs:documentation xml:lang="es">Datos de nivel superior para Dinamarca</xs:documentation>
               <xs:documentation xml:lang="it">Dati di primo livello per la Danimarca</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Top level data for Denmark</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FR" type="CountrySpecificDataFRType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Top level data for France</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Frankreich</xs:documentation>
               <xs:documentation xml:lang="fr">Top level données pour France</xs:documentation>
               <xs:documentation xml:lang="nl">Top level gegevens voor Frankrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos de nivel superior para Francia</xs:documentation>
               <xs:documentation xml:lang="it">Dati di primo livello per la Francia</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Top level data for France</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LU" type="CountrySpecificDataLUType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Top level data for Luxembourg</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für Luxemburg</xs:documentation>
               <xs:documentation xml:lang="fr">Top level données pour Luxembourg</xs:documentation>
               <xs:documentation xml:lang="nl">Top level gegevens voor Luxemburg</xs:documentation>
               <xs:documentation xml:lang="es">Datos de nivel superior para Luxemburgo</xs:documentation>
               <xs:documentation xml:lang="it">Dati di primo livello per il Lussemburgo</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Top level data for Luxembourg</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NL" type="CountrySpecificDataNLType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Top level data for the Netherlands</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Übergeordnete Daten für die Niederlande</xs:documentation>
               <xs:documentation xml:lang="fr">Top level données pour Pays-Bas</xs:documentation>
               <xs:documentation xml:lang="nl">Top level gegevens voor Nederland</xs:documentation>
               <xs:documentation xml:lang="es">Datos de nivel superior para los Países Bajos</xs:documentation>
               <xs:documentation xml:lang="it">Dati di primo livello per i Paesi Bassi</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Top level data for the Netherlands</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CountrySpecificEMTDataType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Container for country-specific EMT (European MiFID Template) data extensions</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Container für länderspezifische EMT (European MiFID Template) Datenerweiterungen</xs:documentation>
         <xs:documentation xml:lang="fr">Conteneur pour spécifique au pays EMT (European MiFID Template) extensions de données</xs:documentation>
         <xs:documentation xml:lang="nl">Container voor landspecifiek EMT (European MiFID Template) gegevens-uitbreidingen</xs:documentation>
         <xs:documentation xml:lang="es">Contenedor para extensiones de datos EMT (European MiFID Template) específicas de cada país</xs:documentation>
         <xs:documentation xml:lang="it">Contenitore per estensioni dati EMT (European MiFID Template) specifiche per paese</xs:documentation>
         <xs:documentation xml:lang="cs">[AUTO] Kontejner pro country-specific EMT (European MiFID Template) data extensions</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AT" type="CountrySpecificEMTATType">
            <xs:annotation>
               <xs:documentation xml:lang="en">EMT related data for Austria</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Österreich</xs:documentation>
               <xs:documentation xml:lang="fr">EMT related données pour Autriche</xs:documentation>
               <xs:documentation xml:lang="nl">EMT related gegevens voor Oostenrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con EMT para Austria</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi all'EMT per l'Austria</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] EMT related data for Austria</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DE" type="CountrySpecificEMTDEType">
            <xs:annotation>
               <xs:documentation xml:lang="en">EMT related data for Germany</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Deutschland</xs:documentation>
               <xs:documentation xml:lang="fr">EMT related données pour Allemagne</xs:documentation>
               <xs:documentation xml:lang="nl">EMT related gegevens voor Duitsland</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con EMT para Alemania</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi all'EMT per la Germania</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] EMT related data for Germany</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DK" type="CountrySpecificEMTDKType">
            <xs:annotation>
               <xs:documentation xml:lang="en">EMT related data for Denmark</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Dänemark</xs:documentation>
               <xs:documentation xml:lang="fr">EMT related données pour Danemark</xs:documentation>
               <xs:documentation xml:lang="nl">EMT related gegevens voor Denemarken</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con EMT para Dinamarca</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi all'EMT per la Danimarca</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] EMT related data for Denmark</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FR" type="CountrySpecificEMTFRType">
            <xs:annotation>
               <xs:documentation xml:lang="en">EMT related data for France</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Frankreich</xs:documentation>
               <xs:documentation xml:lang="fr">EMT related données pour France</xs:documentation>
               <xs:documentation xml:lang="nl">EMT related gegevens voor Frankrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con EMT para Francia</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi all'EMT per la Francia</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] EMT related data for France</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LU" type="CountrySpecificEMTLUType">
            <xs:annotation>
               <xs:documentation xml:lang="en">EMT related data for Luxembourg</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für Luxemburg</xs:documentation>
               <xs:documentation xml:lang="fr">EMT related données pour Luxembourg</xs:documentation>
               <xs:documentation xml:lang="nl">EMT related gegevens voor Luxemburg</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con EMT para Luxemburgo</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi all'EMT per il Lussemburgo</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] EMT related data for Luxembourg</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NL" type="CountrySpecificEMTNLType">
            <xs:annotation>
               <xs:documentation xml:lang="en">EMT related data for the Netherlands</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] EMT-bezogene Daten für die Niederlande</xs:documentation>
               <xs:documentation xml:lang="fr">EMT related données pour Pays-Bas</xs:documentation>
               <xs:documentation xml:lang="nl">EMT related gegevens voor Nederland</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con EMT para los Países Bajos</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi all'EMT per i Paesi Bassi</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] EMT related data for the Netherlands</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CountrySpecificFundDataType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Container for country-specific fund data extensions</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Container für länderspezifische Fund-Datenerweiterungen</xs:documentation>
         <xs:documentation xml:lang="fr">Conteneur pour spécifique au pays fonds extensions de données</xs:documentation>
         <xs:documentation xml:lang="nl">Container voor landspecifiek fonds gegevens-uitbreidingen</xs:documentation>
         <xs:documentation xml:lang="es">Contenedor para extensiones de datos de fondos específicas de cada país</xs:documentation>
         <xs:documentation xml:lang="it">Contenitore per estensioni dei dati sui fondi specifici per paese</xs:documentation>
         <xs:documentation xml:lang="cs">[AUTO] Kontejner pro country-specific fund data extensions</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AT" type="CountrySpecificFundDataATType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund related data for Austria</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Österreich</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds related données pour Autriche</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds related gegevens voor Oostenrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con el fondo para Austria</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi ai fondi per l'Austria</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund related data for Austria</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DE" type="CountrySpecificFundDataDEType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund related data for Germany</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Deutschland</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds related données pour Allemagne</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds related gegevens voor Duitsland</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con el fondo para Alemania</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi ai fondi per la Germania</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund related data for Germany</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DK" type="CountrySpecificFundDataDKType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund related data for Denmark</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Dänemark</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds related données pour Danemark</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds related gegevens voor Denemarken</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con el fondo para Dinamarca</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi ai fondi per la Danimarca</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund related data for Denmark</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FR" type="CountrySpecificFundDataFRType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund related data for France</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Frankreich</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds related données pour France</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds related gegevens voor Frankrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con el fondo para Francia</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi ai fondi per la Francia</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund related data for France</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LU" type="CountrySpecificFundDataLUType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund related data for Luxembourg</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für Luxemburg</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds related données pour Luxembourg</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds related gegevens voor Luxemburg</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con el fondo para Luxemburgo</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi ai fondi per il Lussemburgo</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund related data for Luxembourg</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NL" type="CountrySpecificFundDataNLType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Fund related data for the Netherlands</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] Fund-bezogene Daten für die Niederlande</xs:documentation>
               <xs:documentation xml:lang="fr">Fonds related données pour Pays-Bas</xs:documentation>
               <xs:documentation xml:lang="nl">Fonds related gegevens voor Nederland</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con el fondo para los Países Bajos</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi ai fondi per i Paesi Bassi</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Fund related data for the Netherlands</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CountrySpecificShareClassDataType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Container for country-specific share class data extensions</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Container für länderspezifische ShareClass-Datenerweiterungen</xs:documentation>
         <xs:documentation xml:lang="fr">Conteneur pour spécifique au pays classe d'actions extensions de données</xs:documentation>
         <xs:documentation xml:lang="nl">Container voor landspecifiek aandelenklasse gegevens-uitbreidingen</xs:documentation>
         <xs:documentation xml:lang="es">Contenedor para extensiones de datos de clases de participaciones específicas de cada país</xs:documentation>
         <xs:documentation xml:lang="it">Contenitore per estensioni dati di classi di azioni specifiche per paese</xs:documentation>
         <xs:documentation xml:lang="cs">[AUTO] Kontejner pro country-specific share class data extensions</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AT" type="CountrySpecificShareClassDataATType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Share class related data for Austria</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Österreich</xs:documentation>
               <xs:documentation xml:lang="fr">Classe d'actions related données pour Autriche</xs:documentation>
               <xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Oostenrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con la clase de participaciones para Austria</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi alle classi di azioni per l'Austria</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Share class related data for Austria</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DE" type="CountrySpecificShareClassDataDEType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Share class related data for Germany</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Deutschland</xs:documentation>
               <xs:documentation xml:lang="fr">Classe d'actions related données pour Allemagne</xs:documentation>
               <xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Duitsland</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con la clase de participaciones para Alemania</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi alle classi di azioni per la Germania</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Share class related data for Germany</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DK" type="CountrySpecificShareClassDataDKType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Share class related data for Denmark</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Dänemark</xs:documentation>
               <xs:documentation xml:lang="fr">Classe d'actions related données pour Danemark</xs:documentation>
               <xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Denemarken</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con la clase de participaciones para Dinamarca</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi alle classi di azioni per la Danimarca</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Share class related data for Denmark</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FR" type="CountrySpecificShareClassDataFRType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Share class related data for France</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Frankreich</xs:documentation>
               <xs:documentation xml:lang="fr">Classe d'actions related données pour France</xs:documentation>
               <xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Frankrijk</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con la clase de participaciones para Francia</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi alle classi di azioni per la Francia</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Share class related data for France</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LU" type="CountrySpecificShareClassDataLUType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Share class related data for Luxembourg</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für Luxemburg</xs:documentation>
               <xs:documentation xml:lang="fr">Classe d'actions related données pour Luxembourg</xs:documentation>
               <xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Luxemburg</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con la clase de participaciones para Luxemburgo</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi alle classi di azioni per il Lussemburgo</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Share class related data for Luxembourg</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NL" type="CountrySpecificShareClassDataNLType">
            <xs:annotation>
               <xs:documentation xml:lang="en">Share class related data for the Netherlands</xs:documentation>
               <xs:documentation xml:lang="de">[AUTO] ShareClass-bezogene Daten für die Niederlande</xs:documentation>
               <xs:documentation xml:lang="fr">Classe d'actions related données pour Pays-Bas</xs:documentation>
               <xs:documentation xml:lang="nl">Aandelenklasse related gegevens voor Nederland</xs:documentation>
               <xs:documentation xml:lang="es">Datos relacionados con la clase de participaciones para los Países Bajos</xs:documentation>
               <xs:documentation xml:lang="it">Dati relativi alle classi di azioni per i Paesi Bassi</xs:documentation>
               <xs:documentation xml:lang="cs">[AUTO] Share class related data for the Netherlands</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
