include_files/FundsXML4_CountrySpecificData_DK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           vc:minVersion="1.1">
   <xs:include schemaLocation="FundsXML4_Core.xsd"/>
   <xs:complexType name="CountrySpecificAssetMasterDataDKType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Denmark-specific asset master data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Asset-Stammdaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique actif maître extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek actief master gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos maestros de activos específicos de Dinamarca (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati anagrafici asset specifici per la Danimarca (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kmenových dat aktiv specifická pro Dánsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Helyőrző a Dánia-specifikus eszköz törzsadat kiterjesztésekhez (még nem implementált)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificControlDataDKType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Denmark-specific control data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Kontrolldaten-Erweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique control extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek control gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de control específicos de Dinamarca (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati di controllo specifiche per la Danimarca (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření kontrolních dat specifická pro Dánsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Helyőrző a Dánia-specifikus vezérlési adat kiterjesztésekhez (még nem implementált)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificDataDKType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Denmark-specific data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos específicos de Dinamarca (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati specifiche per la Danimarca (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro datová rozšíření specifická pro Dánsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Helyőrző a Dánia-specifikus adatkiterjesztésekhez (még nem implementált)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificEMTDKType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Denmark-specific EMT data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische EMT-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique EMT extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek EMT gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos EMT específicos de Dinamarca (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dati EMT specifiche per la Danimarca (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat EMT specifická pro Dánsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Helyőrző a Dánia-specifikus EMT adatkiterjesztésekhez (még nem implementált)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificFundDataDKType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Denmark-specific fund data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische Fund-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique fonds extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek fonds gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de fondos específicos de Dinamarca (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati dei fondi specifici per la Danimarca (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat fondů specifická pro Dánsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Helyőrző a Dánia-specifikus alap adatkiterjesztésekhez (még nem implementált)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountrySpecificShareClassDataDKType">
      <xs:annotation>
         <xs:documentation xml:lang="en">Placeholder for Denmark-specific share class data extensions (not yet implemented)</xs:documentation>
         <xs:documentation xml:lang="de">[AUTO] Platzhalter für Dänemark-spezifische ShareClass-Datenerweiterungen (noch nicht implementiert)</xs:documentation>
         <xs:documentation xml:lang="fr">Espace réservé pour Danemark-spécifique classe d'actions extensions de données (pas encore implémenté)</xs:documentation>
         <xs:documentation xml:lang="nl">Tijdelijke aanduiding voor Denemarken-specifiek aandelenklasse gegevens-uitbreidingen (nog niet geïmplementeerd)</xs:documentation>
         <xs:documentation xml:lang="es">Marcador de posición para extensiones de datos de clase de acciones específicos de Dinamarca (aún no implementado)</xs:documentation>
         <xs:documentation xml:lang="it">Segnaposto per estensioni dei dati delle classi di azioni specifiche per la Danimarca (non ancora implementate)</xs:documentation>
         <xs:documentation xml:lang="cs">Zástupný symbol pro rozšíření dat tříd akcií specifická pro Dánsko (dosud neimplementováno)</xs:documentation>
         <xs:documentation xml:lang="hu">[AUTO] Helyőrző a Dánia-specifikus befektetési jegy osztály adatkiterjesztésekhez (még nem implementált)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xs:anyType"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
