include_files/FundsXML4_AssetMgmtCompDynData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2012 sp1 (x64) (http://www.altova.com) von BVI (BVI Bundesverband Investment und Asset Managemament e.V.) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="FundsXML4_Core.xsd"/>
	<xs:complexType name="ClientStatisticType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data about the clients of an investment or asset management company</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Daten über die Kunden einer Investmentgesellschaft oder Vermögensverwaltung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of clients</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anzahl der Kunden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Assets" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Amount of assets administrated/managed for clients</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Betrag der für Kunden verwalteten Vermögenswerte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetSales" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net Sales of clients</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nettoumsätze der Kunden</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundStatisticType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data of open-ended funds</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Daten zu offenen Fonds</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of fundrelated administrative units</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anzahl der fondsbezogenen Verwaltungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetAssets" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Amount of Net Assets</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Betrag des Nettovermögens</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetSales" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net Sales in the reporting period (normally on a monthly basis) in thousands of currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nettoumsätze im Berichtszeitraum (normalerweise monatlich) in Tausend Währungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundStatisticClosedFundType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data of closed-ended funds</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Daten zu geschlossenen Fonds</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of fundrelated administrative units</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Anzahl der fondsbezogenen Verwaltungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssetsClosedFunds" type="AssetManagementCompanyFundAssetsType"/>
			<xs:element name="NetSalesClosedFunds" type="AssetManagementCompanySalesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetManagementCompanyDataType">
		<xs:sequence>
			<xs:element name="OwnFunds" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Number" type="xs:int">
							<xs:annotation>
								<xs:documentation xml:lang="en">Number of funds</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Anzahl der Funds</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NetAssets" type="xs:decimal">
							<xs:annotation>
								<xs:documentation xml:lang="en">Net Assets</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Nettovermögen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NetSales" type="xs:decimal">
							<xs:annotation>
								<xs:documentation xml:lang="en">Net sales for a certain period</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Nettoabsatz für einen bestimmten Zeitraum</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Segmentation">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information about the segmentation of funds</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Informationen über die Segmentierung von Funds</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FundsWithoutSegments" type="xs:int">
										<xs:annotation>
											<xs:documentation xml:lang="en">Number of funds without segments or comparable subunits</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Anzahl der Funds ohne Segmente oder vergleichbare Untereinheiten</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FundsWithSegments">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the fund with segments of an investment or asset management company</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Daten über die Funds mit Segmenten einer Investmentgesellschaft oder Vermögensverwaltung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Number" type="xs:int">
													<xs:annotation>
														<xs:documentation xml:lang="en">Number of funds with segments or comparable subunits</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Anzahl der Funds mit Segmenten oder vergleichbaren Untereinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NumberOfSegments" type="xs:int">
													<xs:annotation>
														<xs:documentation xml:lang="en">Number of segments or comparable units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Anzahl der Segmente oder vergleichbaren Einheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NetAssets" type="xs:decimal">
													<xs:annotation>
														<xs:documentation xml:lang="en">Net assets of funds with segments or comparable subunits</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Nettovermögen der Funds mit Segmenten oder vergleichbaren Untereinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NumberOfAdministrativeUnits" type="xs:int">
										<xs:annotation>
											<xs:documentation xml:lang="en">Total number of administrative units, which is the sum of the number of funds without segments and comparable units and the number of segments or comparable units</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Gesamtanzahl der Verwaltungseinheiten, die sich aus der Anzahl der Funds ohne Segmente und vergleichbare Einheiten sowie der Anzahl der Segmente oder vergleichbaren Einheiten zusammensetzt</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PortfoliomanagementByThirdParties" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information about the structure of the respective investment or asset management company with regard to portfoliomanagement by third parties</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur der jeweiligen Investmentgesellschaft oder Vermögensverwaltung hinsichtlich des Portfoliomanagements durch Dritte</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TotalAdministrativeUnits" type="FundStatisticType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WithinAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der Teil des verbundenen Unternehmenskreises ist</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="OutsideAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is not part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der nicht Teil des verbundenen Unternehmenskreises ist</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ThirdPartyFunds" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortfoliomanagementForThirdParties">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information about the structure of the respective investment or asset management company with regard to portfoliomanagement for third parties</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur der jeweiligen Investmentgesellschaft oder Vermögensverwaltung hinsichtlich des Portfoliomanagements für Dritte</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TotalAdministrativeUnits" type="FundStatisticType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WithinAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der Teil des verbundenen Unternehmenskreises ist</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="OutsideAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is not part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der nicht Teil des verbundenen Unternehmenskreises ist</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetManagementClosedDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data of the investment or asset management company for closed-ended funds</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Daten der Investmentgesellschaft oder Vermögensverwaltung für geschlossene Funds</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OwnFunds" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Number" type="xs:int">
							<xs:annotation>
								<xs:documentation xml:lang="en">Number of funds</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Anzahl der Funds</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AssetInformation" type="AssetManagementCompanyFundAssetsType"/>
						<xs:element name="NetSalesInformation" type="AssetManagementCompanySalesType"/>
						<xs:element name="Segmentation">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information about the segmentation of funds</xs:documentation>
								<xs:documentation xml:lang="de">[AUTO] Informationen über die Segmentierung von Funds</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FundsWithoutSegments" type="xs:int">
										<xs:annotation>
											<xs:documentation xml:lang="en">Number of funds without segments or comparable subunits</xs:documentation>
											<xs:documentation xml:lang="de">[AUTO] Anzahl der Funds ohne Segmente oder vergleichbare Untereinheiten</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FundsWithSegments">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the funds with segments of an investment or asset management company</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die Funds mit Segmenten einer Investmentgesellschaft oder Vermögensverwaltung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Number" type="xs:int">
													<xs:annotation>
														<xs:documentation xml:lang="en">Number of funds with segments or comparable subunits</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Anzahl der Funds mit Segmenten oder vergleichbaren Untereinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NumberOfSegments" type="xs:int">
													<xs:annotation>
														<xs:documentation xml:lang="en">Number of segments or comparable subunits</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Anzahl der Segmente oder vergleichbaren Untereinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NetAssetsSegments" type="AssetManagementCompanyFundAssetsType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Net assets of funds with segments or comparable subunits</xs:documentation>
													<xs:documentation xml:lang="de">[AUTO] Nettovermögen der Funds mit Segmenten oder vergleichbaren Untereinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NumberOfAdministrativeUnits" type="xs:int">
										<xs:annotation>
											<xs:documentation xml:lang="en">Total number of administrative units, which is the sum of the number of funds without segments and comparable subunits and the number of segments or comparable subunits</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Gesamtanzahl der Verwaltungseinheiten, die sich aus der Anzahl der Funds ohne Segmente und vergleichbare Untereinheiten sowie der Anzahl der Segmente oder vergleichbaren Untereinheiten zusammensetzt</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PortfoliomanagementByThirdParties" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information about the structure of the respective investment or asset management company with regard to portfoliomanagement or advise by third parties</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur der jeweiligen Investmentgesellschaft oder Vermögensverwaltung hinsichtlich des Portfoliomanagements oder der Beratung durch Dritte</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TotalAdministrativeUnits" type="FundStatisticClosedFundType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WithinAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advise is done by a third party which is part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der Teil des verbundenen Unternehmenskreises ist</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticClosedFundType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
													<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticClosedFundType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="OutsideAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advise is done by a third party which is not a part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der nicht Teil des verbundenen Unternehmenskreises ist</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticClosedFundType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the total of the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über die Gesamtheit der jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticClosedFundType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ThirdPartyFunds" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortfoliomanagementForThirdParty">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information about the structure of the portfolio management or the advise for third parties</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur des Portfoliomanagements oder der Beratung für Dritte</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TotalAdministrativeUnits" type="FundStatisticClosedFundType">
										<xs:annotation>
											<xs:documentation xml:lang="en">Total figures for the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen für die jeweiligen Verwaltungseinheiten</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WithinAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Assets for third parties within the affiliated group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Vermögenswerte für Dritte innerhalb des verbundenen Unternehmenskreises</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticClosedFundType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Total figures for the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen für die jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticClosedFundType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="OutsideAffiliatedGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Assets for third parties which are not part of the affiliated group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Vermögenswerte für Dritte, die nicht Teil des verbundenen Unternehmenskreises sind</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TotalAdministrativeUnits" type="FundStatisticClosedFundType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Total figures for the respective administrative units</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen für die jeweiligen Verwaltungseinheiten</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompaniesInCountry" type="FundStatisticClosedFundType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetManagementCompanySalesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company sales data</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Vertriebsdaten des Unternehmens</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetSales" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net Sales in the Reporting Period (in most cases on a monthly basis) in thousands of currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nettoabsatz im Berichtszeitraum (meist monatlich) in Tausend Währungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquityPlaced" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Equity placed; equivalent to gross sales in open-ended funds. Refers to the month reported, given in thousands of currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Platziertes Eigenkapital; entspricht dem Bruttoabsatz bei offenen Funds. Bezieht sich auf den berichteten Monat, angegeben in Tausend Währungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetManagementCompanyFundAssetsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company assets data</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Vermögensdaten des Unternehmens</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetAssets" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net assets in total, calculated on an overall basis including outstanding debts, bank loans, and other liabilities (Net Asset Value approach). In thousands of currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Nettovermögen insgesamt, berechnet auf Gesamtbasis einschließlich ausstehender Schulden, Bankdarlehen und anderer Verbindlichkeiten (NAV-Ansatz). In Tausend Währungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossAssets" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">Assets in total, calculated on a basis excluding outstanding debts, bank loans, and other liabilities (Gross Asset Value approach). In thousands of currency</xs:documentation>
					<xs:documentation xml:lang="de">[AUTO] Vermögen insgesamt, berechnet ohne ausstehende Schulden, Bankdarlehen und andere Verbindlichkeiten (Bruttovermögenswert-Ansatz). Aktivvermögen. In Tausend Währungseinheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetManagementCompanyAggregatedType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company sales and assets</xs:documentation>
			<xs:documentation xml:lang="de">[AUTO] Vertriebs- und Vermögensdaten des Unternehmens</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Date for which the information is valid</xs:documentation>
					<xs:documentation xml:lang="EN">The date to which the following elements are valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="ISOCountryCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country in which the asset management company is located</xs:documentation>
					<xs:documentation xml:lang="de">Die Landeskennzahl einer Adresse, dargestellt als ISO-Landescode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ISOCurrencyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Currency iof the money amounts in the following information</xs:documentation>
					<xs:documentation xml:lang="de">Waehrung der Preisinformationen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenEndedFunds" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Open-ended funds</xs:documentation>
				<xs:documentation xml:lang="de">[AUTO] Offene Funds</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RetailFunds" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Funds which are retail funds from a legal perspective</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Funds, die aus rechtlicher Sicht Publikumsfunds sind</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Securities_Holdings" type="AssetManagementCompanyDataType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Securities and Holdings</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Wertpapiere und Beteiligungen</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RealAssets" type="AssetManagementCompanyDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="InstitutionalFunds" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Funds which are from a legal perspective only for institutional investors</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Funds, die aus rechtlicher Sicht nur für institutionelle Anleger bestimmt sind</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Securities_Holdings" type="AssetManagementCompanyDataType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Securities and Holdings</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Wertpapiere und Beteiligungen</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RealAssets" type="AssetManagementCompanyDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClosedEndedFunds" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Closed-ended funds</xs:documentation>
				<xs:documentation xml:lang="de">[AUTO] Geschlossene Funds</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RetailFunds" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Funds which are retail funds from a legal perspective</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Funds, die aus rechtlicher Sicht Publikumsfunds sind</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Securities_Holdings" type="AssetManagementClosedDataType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Securities and Holdings</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Wertpapiere und Beteiligungen</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RealAssets" type="AssetManagementClosedDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="InstitutionalFunds" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Funds which are from a legal perspective only for institutional investors</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Funds, die aus rechtlicher Sicht nur für institutionelle Anleger bestimmt sind</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Securities_Holdings" type="AssetManagementClosedDataType" minOccurs="0"/>
									<xs:element name="RealAssets" type="AssetManagementClosedDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DiscretionaryMandates" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Discretionary Mandates</xs:documentation>
				<xs:documentation xml:lang="de">[AUTO] Diskretionäre Mandate</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Securities_Holdings" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Securities and Holdings</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Wertpapiere und Beteiligungen</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OwnDiscretionaryMandates" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Clients" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Total" type="ClientStatisticType">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Total figures for clients</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen für Kunden</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Location">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="InCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Information about clients in the respective country</xs:documentation>
																				<xs:documentation xml:lang="de">[AUTO] Informationen über Kunden im jeweiligen Land</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="OutsideCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Information about clients outside the respective country</xs:documentation>
																				<xs:documentation xml:lang="de">[AUTO] Informationen über Kunden außerhalb des jeweiligen Landes</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="LegalTypeClient">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Private" type="ClientStatisticType"/>
																		<xs:element name="Institutional" type="ClientStatisticType"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="PortfoliomanagementByThirdParties" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Information about the structure of the respective investment or asset management company with regard to portfoliomanagement or advise by third parties</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur der jeweiligen Investmentgesellschaft oder Vermögensverwaltung hinsichtlich des Portfoliomanagements oder der Beratung durch Dritte</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Total" type="ClientStatisticType">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Total figures for clients</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen für Kunden</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="WithinAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der Teil des verbundenen Unternehmenskreises ist</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total of third parties within the affiliated company group</xs:documentation>
																			<xs:documentation xml:lang="de">[AUTO] Gesamtheit der Dritten innerhalb des verbundenen Unternehmenskreises</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="OutsideAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is not part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der nicht Teil des verbundenen Unternehmenskreises ist</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total of third parties outside the affiliated company group</xs:documentation>
																				<xs:documentation xml:lang="de">[AUTO] Gesamtheit der Dritten außerhalb des verbundenen Unternehmenskreises</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Equity" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro

</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AmountDomestic" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro Equity of domestic companies

</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Bonds" minOccurs="0">
													<xs:annotation>
														<xs:documentation>

</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AmountDomestic" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Bonds from domestic issuers, in Euro</xs:documentation>
																<xs:documentation xml:lang="de">[AUTO] Anleihen inländischer Emittenten, in Euro</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Cash_MoneyMarket" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro
</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="PrivateEquity_VentureCapital" minOccurs="0">
													<xs:annotation>
														<xs:documentation/>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro
</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HedgeFunds" minOccurs="0">
													<xs:annotation>
														<xs:documentation>

</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="StructuredProducts" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro
</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Other" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro
</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThirdPartyDiscretionaryMandates" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PortfoliomanagementForThirdParties">
													<xs:annotation>
														<xs:documentation xml:lang="en">Information about the structure of the portfolio management or the advise for third parties</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur des Portfoliomanagements oder der Beratung für Dritte</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Total" type="ClientStatisticType">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Total figures</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="WithinAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der Teil des verbundenen Unternehmenskreises ist</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total figures</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="OutsideAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is not part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der nicht Teil des verbundenen Unternehmenskreises ist</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total figures</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RealAssets" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OwnDiscretionaryMandates" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Clients" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Total" type="ClientStatisticType"/>
															<xs:element name="Location">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="InCountry" type="ClientStatisticType"/>
																		<xs:element name="OutsideCountry" type="ClientStatisticType"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="LegalTypeClient">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Private" type="ClientStatisticType"/>
																		<xs:element name="Institutional" type="ClientStatisticType"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="PortfoliomanagementByThirdParties" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Information about the structure of the respective investment or asset management company with regard to portfoliomanagement or advise by third parties</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur der jeweiligen Investmentgesellschaft oder Vermögensverwaltung hinsichtlich des Portfoliomanagements oder der Beratung durch Dritte</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Total">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Total</xs:documentation>
																	<xs:documentation xml:lang="de">Insgesamt</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="ClientStatisticType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="WithinAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">By third parties within the affiliated group</xs:documentation>
																	<xs:documentation xml:lang="de">Durch Dritte innerhalb des Konzernverbundes</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total by third parties within the affiliated group</xs:documentation>
																				<xs:documentation xml:lang="de">Durch Dritte innerhalb des Konzernverbundes gesamt</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Thereof by German investment companies within the affiliated group as third parties</xs:documentation>
																				<xs:documentation xml:lang="de">Davon durch deutsche Kapitalanlagegesellschaften innerhalb des Konzernverbundes als Dritte</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="OutsideAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">By third parties outside the affiliated group</xs:documentation>
																	<xs:documentation xml:lang="de">Durch Dritte außerhalb des Konzernverbundes</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total by third parties outside the affiliated group</xs:documentation>
																				<xs:documentation xml:lang="de">Durch Dritte außerhalb des Konzernverbundes gesamt</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Thereof by German investment companies outside the affiliated group as third parties</xs:documentation>
																				<xs:documentation xml:lang="de">Davon durch deutsche Kapitalanlagegesellschaften außerhalb des Konzernverbundes als Dritte</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Property" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TotalAmount" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>In Euro
</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThirdPartyDiscretionaryMandates" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PortfoliomanagementForThirdParties">
													<xs:annotation>
														<xs:documentation xml:lang="en">Information about the structure of the portfolio management or the advise for third parties</xs:documentation>
							<xs:documentation xml:lang="de">[AUTO] Informationen über die Struktur des Portfoliomanagements oder der Beratung für Dritte</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Total" type="ClientStatisticType">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Total figures</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="WithinAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der Teil des verbundenen Unternehmenskreises ist</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total figures</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="OutsideAffiliatedGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Data about the respective administrative units for which the portfoliomanagement or advice is done by a third party which is not part of the affiliated company group</xs:documentation>
										<xs:documentation xml:lang="de">[AUTO] Daten über die jeweiligen Verwaltungseinheiten, deren Portfoliomanagement oder Beratung von einem Dritten durchgeführt wird, der nicht Teil des verbundenen Unternehmenskreises ist</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Total" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Total figures</xs:documentation>
																	<xs:documentation xml:lang="de">[AUTO] Gesamtzahlen</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CompaniesInCountry" type="ClientStatisticType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Data about the part of the total which is related to the companies within the respective country</xs:documentation>
														<xs:documentation xml:lang="de">[AUTO] Daten über den Teil der Gesamtheit, der sich auf Unternehmen im jeweiligen Land bezieht</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetMgmtCompanyDynDataType">
		<xs:sequence>
			<xs:element name="AssetMgmtCompanyDynDataSet" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Company" type="CompanyType"/>
						<xs:element name="Statistics" type="AssetManagementCompanyAggregatedType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
