include_files/xmldsig-core-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
        elementFormDefault="qualified"
        targetNamespace="http://www.w3.org/2000/09/xmldsig#"
        version="0.1"><!-- Basic Types Defined for Signatures -->
   <simpleType xmlns="" name="CryptoBinary">
      <restriction base="base64Binary"/>
   </simpleType>
   <!-- Start Signature -->
   <element xmlns="" name="Signature" type="ds:SignatureType"/>
   <complexType xmlns="" name="SignatureType">
      <sequence>
         <element ref="ds:SignedInfo"/>
         <element ref="ds:SignatureValue"/>
         <element minOccurs="0" ref="ds:KeyInfo"/>
         <element maxOccurs="unbounded" minOccurs="0" ref="ds:Object"/>
      </sequence>
      <attribute name="Id" type="ID" use="optional"/>
   </complexType>
   <element xmlns="" name="SignatureValue" type="ds:SignatureValueType"/>
   <complexType xmlns="" name="SignatureValueType">
      <simpleContent>
         <extension base="base64Binary">
            <attribute name="Id" type="ID" use="optional"/>
         </extension>
      </simpleContent>
   </complexType>
   <!-- Start SignedInfo -->
   <element xmlns="" name="SignedInfo" type="ds:SignedInfoType"/>
   <complexType xmlns="" name="SignedInfoType">
      <sequence>
         <element ref="ds:CanonicalizationMethod"/>
         <element ref="ds:SignatureMethod"/>
         <element maxOccurs="unbounded" ref="ds:Reference"/>
      </sequence>
      <attribute name="Id" type="ID" use="optional"/>
   </complexType>
   <element xmlns=""
            name="CanonicalizationMethod"
            type="ds:CanonicalizationMethodType"/>
   <complexType xmlns="" mixed="true" name="CanonicalizationMethodType">
      <sequence>
         <any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
         <!-- (0,unbounded) elements from (1,1) namespace -->
      </sequence>
      <attribute name="Algorithm" type="anyURI" use="required"/>
   </complexType>
   <element xmlns="" name="SignatureMethod" type="ds:SignatureMethodType"/>
   <complexType xmlns="" mixed="true" name="SignatureMethodType">
      <sequence>
         <element minOccurs="0"
                  name="HMACOutputLength"
                  type="ds:HMACOutputLengthType"/>
         <any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
         <!-- (0,unbounded) elements from (1,1) external namespace -->
      </sequence>
      <attribute name="Algorithm" type="anyURI" use="required"/>
   </complexType>
   <!-- Start Reference -->
   <element xmlns="" name="Reference" type="ds:ReferenceType"/>
   <complexType xmlns="" name="ReferenceType">
      <sequence>
         <element minOccurs="0" ref="ds:Transforms"/>
         <element ref="ds:DigestMethod"/>
         <element ref="ds:DigestValue"/>
      </sequence>
      <attribute name="Id" type="ID" use="optional"/>
      <attribute name="URI" type="anyURI" use="optional"/>
      <attribute name="Type" type="anyURI" use="optional"/>
   </complexType>
   <element xmlns="" name="Transforms" type="ds:TransformsType"/>
   <complexType xmlns="" name="TransformsType">
      <sequence>
         <element maxOccurs="unbounded" ref="ds:Transform"/>
      </sequence>
   </complexType>
   <element xmlns="" name="Transform" type="ds:TransformType"/>
   <complexType xmlns="" mixed="true" name="TransformType">
      <choice maxOccurs="unbounded" minOccurs="0">
         <any namespace="##other" processContents="lax"/>
         <!-- (1,1) elements from (0,unbounded) namespaces -->
         <element name="XPath" type="string"/>
      </choice>
      <attribute name="Algorithm" type="anyURI" use="required"/>
   </complexType>
   <!-- End Reference -->
   <element xmlns="" name="DigestMethod" type="ds:DigestMethodType"/>
   <complexType xmlns="" mixed="true" name="DigestMethodType">
      <sequence>
         <any maxOccurs="unbounded"
              minOccurs="0"
              namespace="##other"
              processContents="lax"/>
      </sequence>
      <attribute name="Algorithm" type="anyURI" use="required"/>
   </complexType>
   <element xmlns="" name="DigestValue" type="ds:DigestValueType"/>
   <simpleType xmlns="" name="DigestValueType">
      <restriction base="base64Binary"/>
   </simpleType>
   <!-- End SignedInfo -->
   <!-- Start KeyInfo -->
   <element xmlns="" name="KeyInfo" type="ds:KeyInfoType"/>
   <complexType xmlns="" mixed="true" name="KeyInfoType">
      <choice maxOccurs="unbounded">
         <element ref="ds:KeyName"/>
         <element ref="ds:KeyValue"/>
         <element ref="ds:RetrievalMethod"/>
         <element ref="ds:X509Data"/>
         <element ref="ds:PGPData"/>
         <element ref="ds:SPKIData"/>
         <element ref="ds:MgmtData"/>
         <any namespace="##other" processContents="lax"/>
         <!-- (1,1) elements from (0,unbounded) namespaces -->
      </choice>
      <attribute name="Id" type="ID" use="optional"/>
   </complexType>
   <element xmlns="" name="KeyName" type="string"/>
   <element xmlns="" name="MgmtData" type="string"/>
   <element xmlns="" name="KeyValue" type="ds:KeyValueType"/>
   <complexType xmlns="" mixed="true" name="KeyValueType">
      <choice>
         <element ref="ds:DSAKeyValue"/>
         <element ref="ds:RSAKeyValue"/>
         <any namespace="##other" processContents="lax"/>
      </choice>
   </complexType>
   <element xmlns="" name="RetrievalMethod" type="ds:RetrievalMethodType"/>
   <complexType xmlns="" name="RetrievalMethodType">
      <sequence>
         <element minOccurs="0" ref="ds:Transforms"/>
      </sequence>
      <attribute name="URI" type="anyURI"/>
      <attribute name="Type" type="anyURI" use="optional"/>
   </complexType>
   <!-- Start X509Data -->
   <element xmlns="" name="X509Data" type="ds:X509DataType"/>
   <complexType xmlns="" name="X509DataType">
      <sequence maxOccurs="unbounded">
         <choice>
            <element name="X509IssuerSerial" type="ds:X509IssuerSerialType"/>
            <element name="X509SKI" type="base64Binary"/>
            <element name="X509SubjectName" type="string"/>
            <element name="X509Certificate" type="base64Binary"/>
            <element name="X509CRL" type="base64Binary"/>
            <any namespace="##other" processContents="lax"/>
         </choice>
      </sequence>
   </complexType>
   <complexType xmlns="" name="X509IssuerSerialType">
      <sequence>
         <element name="X509IssuerName" type="string"/>
         <element name="X509SerialNumber" type="integer"/>
      </sequence>
   </complexType>
   <!-- End X509Data -->
   <!-- Begin PGPData -->
   <element xmlns="" name="PGPData" type="ds:PGPDataType"/>
   <complexType xmlns="" name="PGPDataType">
      <choice>
         <sequence>
            <element name="PGPKeyID" type="base64Binary"/>
            <element minOccurs="0" name="PGPKeyPacket" type="base64Binary"/>
            <any maxOccurs="unbounded"
                 minOccurs="0"
                 namespace="##other"
                 processContents="lax"/>
         </sequence>
         <sequence>
            <element name="PGPKeyPacket" type="base64Binary"/>
            <any maxOccurs="unbounded"
                 minOccurs="0"
                 namespace="##other"
                 processContents="lax"/>
         </sequence>
      </choice>
   </complexType>
   <!-- End PGPData -->
   <!-- Begin SPKIData -->
   <element xmlns="" name="SPKIData" type="ds:SPKIDataType"/>
   <complexType xmlns="" name="SPKIDataType">
      <sequence maxOccurs="unbounded">
         <element name="SPKISexp" type="base64Binary"/>
         <any minOccurs="0" namespace="##other" processContents="lax"/>
      </sequence>
   </complexType>
   <!-- End SPKIData -->
   <!-- End KeyInfo -->
   <!-- Start Object (Manifest, SignatureProperty) -->
   <element xmlns="" name="Object" type="ds:ObjectType"/>
   <complexType xmlns="" mixed="true" name="ObjectType">
      <sequence maxOccurs="unbounded" minOccurs="0">
         <any namespace="##any" processContents="lax"/>
      </sequence>
      <attribute name="Id" type="ID" use="optional"/>
      <attribute name="MimeType" type="string" use="optional"/>
      <attribute name="Encoding" type="anyURI" use="optional"/>
      <!-- add a grep facet -->
   </complexType>
   <element xmlns="" name="Manifest" type="ds:ManifestType"/>
   <complexType xmlns="" name="ManifestType">
      <sequence>
         <element maxOccurs="unbounded" ref="ds:Reference"/>
      </sequence>
      <attribute name="Id" type="ID" use="optional"/>
   </complexType>
   <element xmlns="" name="SignatureProperties" type="ds:SignaturePropertiesType"/>
   <complexType xmlns="" name="SignaturePropertiesType">
      <sequence>
         <element maxOccurs="unbounded" ref="ds:SignatureProperty"/>
      </sequence>
      <attribute name="Id" type="ID" use="optional"/>
   </complexType>
   <element xmlns="" name="SignatureProperty" type="ds:SignaturePropertyType"/>
   <complexType xmlns="" mixed="true" name="SignaturePropertyType">
      <choice maxOccurs="unbounded">
         <any namespace="##other" processContents="lax"/>
         <!-- (1,1) elements from (1,unbounded) namespaces -->
      </choice>
      <attribute name="Target" type="anyURI" use="required"/>
      <attribute name="Id" type="ID" use="optional"/>
   </complexType>
   <!-- End Object (Manifest, SignatureProperty) -->
   <!-- Start Algorithm Parameters -->
   <simpleType xmlns="" name="HMACOutputLengthType">
      <restriction base="integer"/>
   </simpleType>
   <!-- Start KeyValue Element-types -->
   <element xmlns="" name="DSAKeyValue" type="ds:DSAKeyValueType"/>
   <complexType xmlns="" name="DSAKeyValueType">
      <sequence>
         <sequence minOccurs="0">
            <element name="P" type="ds:CryptoBinary"/>
            <element name="Q" type="ds:CryptoBinary"/>
         </sequence>
         <element minOccurs="0" name="G" type="ds:CryptoBinary"/>
         <element name="Y" type="ds:CryptoBinary"/>
         <element minOccurs="0" name="J" type="ds:CryptoBinary"/>
         <sequence minOccurs="0">
            <element name="Seed" type="ds:CryptoBinary"/>
            <element name="PgenCounter" type="ds:CryptoBinary"/>
         </sequence>
      </sequence>
   </complexType>
   <element xmlns="" name="RSAKeyValue" type="ds:RSAKeyValueType"/>
   <complexType xmlns="" name="RSAKeyValueType">
      <sequence>
         <element name="Modulus" type="ds:CryptoBinary"/>
         <element name="Exponent" type="ds:CryptoBinary"/>
      </sequence>
   </complexType>
   <!-- End KeyValue Element-types -->
   <!-- End Signature -->
</schema>
